extends ../layouts/layout.jade
block contenido
    style.
        .labelSer {
            font-size: 2em; 
            background-color: black; 
            color: white; 
            border-radius: 8px;
        }

        .right-padding {
            margin-right: -220px;
        }

        .label {
            font-size: 2em; 
            border-radius: 8px;
        }

        @media (max-width: 1366px) {
            .right-padding {
                margin-right: -80px;
            }
        }

        @media (max-width: 1600px) and (min-width: 1600px){
            .right-padding {
                margin-right: -140px;
            }
        }
    script.
        $(document).ready( function(){

            $('#subMenuInventarios').removeClass('hidden');
            $('#spanMenuInvetarios').removeClass('fa-angle-left');
            $('#spanMenuInvetarios').addClass('fa-angle-down');
            $('#subMenuGranja').removeClass('hidden');
            $('#spanMenuGranja').removeClass('fa-angle-left');
            $('#spanMenuGranja').addClass('fa-angle-down');
    

            obtenerfecha();
            obtenerhora();
            costoStock();
            $('[data-toggle="tooltip"]').tooltip();
        });

        function obtenerfecha(){
            var fecha = new Date()
            var dia = fecha.getDate();
            var mes = fecha.getMonth()+1;
            var anio = fecha.getFullYear();

            if(dia < 10){
                dia = "0"+dia;
            }

            if(mes < 10){
                mes = "0"+mes;
            }

            $('#fecha').text(dia+"/"+mes+"/"+anio);
        }

        function obtenerhora(){
            var tiempo = new Date();
            var horas = tiempo.getHours();
            var minutos = tiempo.getMinutes();
            var segundos = tiempo.getSeconds();
            var dn ="";

            if(horas < 12){
                dn = "a.m.";
            }else{
                dn = "p.m.";
            }

            if(minutos < 10){
                minutos = "0"+minutos;
            }

            if(segundos < 10){
                segundos = "0"+segundos;
            }
                
            $("#hora").text(horas+":"+minutos+":"+segundos+" "+dn+"    ");
            setTimeout('obtenerhora()',1000);
        }

        window.onload = function () { 
            var nProd = parseFloat($('#numProc').text());

            for(var i = 0; i < nProd; i++){
               $('#pNeto'+ i).text(FormatMoney(true,parseFloat($('#pNeto'+ i).text())));
            }

            var total = parseFloat($('#costoTotal').val()) * parseFloat($('#stock').val());
            $('#costoStock').val(total.toFixed(2));
        }

        function FormatMoney(bol, valor){
            var total = 0;

            if (bol) {
                total += valor;
            } else {
                total-=valor;
            }
            
            var entero = '';
            
            Entero_Decimal = total.toString().split('.');
            
            cadena = Entero_Decimal[0].split('').reverse().join('');
            
            for (var z = cadena.length; z >=0; z--) {
                numero = cadena.charAt(z)
                
                if ((cadena.length >= 4 && z ==3 ) || (cadena.length >= 7 && z ==6 ) || (cadena.length >= 10 && z == 9 ) || (cadena.length >= 13 && z ==12 ) || (cadena.length >= 16 && z ==15 )) {
                    numero +=  ",";
                }

                entero += numero;
            }
            
            if(Entero_Decimal[1]) {
                decimales = '.'+ Entero_Decimal[1];
            } else {
                decimales = '.00';
            }
            
            return "$ " + entero + decimales;
        }

        function seleccionoArticulo(id){
            var td = $("#link"+id).children('td');

            $('#nombre').val(td.eq(2).text());
            $('#desc').val(td.eq(3).text());
            $('#costoU').val(parseFloat(td.eq(4).text()).toFixed(2));
            $('#iva').val(parseFloat(td.eq(5).text()).toFixed(2));
            $('#alm').val(td.eq(6).text());
            $('#prov').removeClass('hidden');
            $('#prv').val(td.eq(9).text());
            var total = parseFloat(td.eq(4).text()) + parseFloat(td.eq(5).text());
            $('#costoTotal').val(total.toFixed(2));
            $('#stock').val(td.eq(8).text());
            $('#tituloA').addClass('hidden');
            $('#listaA').addClass('hidden');
            $('#frm2').attr('action', '/inventarios/registrar/entrada/' + td.eq(11).text())
        }

        function costoStock(){
            $('#cantidad').on('change', function(){
                var total = parseFloat($('#costoTotal').val()) * (parseFloat(this.value) + parseFloat($('#stock').val()));
                $('#costoStock').val(total.toFixed(2));
            });
        }

    //Termina Javascript
    .row
        .col-lg-12
            h2.page-header 
                i.fas.fa-sign-in-alt(style="margin-right: 10px;")
                |   Nueva entrada
    .row
        .col-lg-6.pull-right.text-right
            span
                | Realiza: &nbsp;&nbsp;&nbsp;
            label
                i.fas.fa-user
                |  #{user.nombre}
        .col-lg-6.pull-left.text-left
            label#fecha(style="margin-right: 10px;")
            label#hora
    .row
        .col-lg-12
            h4.page-header
                i.fas.fa-search(style="margin-right: 10px;")
                | Búsqueda Producto
    form#frm(role="form" method="post" action="/inventarios/buscar/articulo/1")
        label#productos.hidden #{productos}
        .row
            .col-lg-4
                .form-group
                    label | Criterio de búsqueda
                    .input-group
                        span.input-group-addon
                            i.fas.fa-search-plus
                        select.form-control(required name="criterio" tabindex="1")
                            option(value="codigo", selected=("codigo"== criterio)) Código
                            option(value="nombre",  selected=("nombre"== criterio)) Nombre
            .col-lg-6
                .form-group
                    label | Código Producto
                    .input-group
                        span.input-group-addon
                            i.fas.fa-search
                        input#codigo.form-control(required type="text" name="codigo" placeholder="Buscar.." value="#{codigo}" tabindex="0")
            .col-lg-2
                .form-group
                    label &nbsp;
                    .input-group
                        span.input-group-addon
                            i.fa.fa-search.text-success
                        button#btnBuscar.form-control.btn.btn-success(type="submit" tabindex="2")
                            |   Buscar
    if Object.keys(productos).length > 0
        .row#tituloA
            .col-lg-12(style="margin-top: -20px;")
                h4.page-header
                    i.fas.fa-list-alt(style="margin-right: 10px;")
                    | Artículos encontrados 
        .row#listaA
            .col-lg.12
                table.table
                    thead
                        tr
                            th Código
                            th Unidad
                            th Nombre
                            th.hidden Descripción
                            th Proveedor
                            th.hidden Costo Unitario
                            th.hidden Iva
                            th.hidden Almacen
                            th.hidden Stock
                            th Precio Neto
                            th.hidden ID
                            th Acciones
                    tbody
                        label.hidden#numProc #{ Object.keys(productos).length }
                        each p, index in productos
                            tr(id="link#{index}")
                                td.text-center #{p.codigo}
                                td.text-center #{p.unidad}
                                td #{p.nombre}
                                td.hidden #{p.descripcion}
                                td.hidden #{p.precioUnitario}
                                td.hidden #{p.iva}
                                td.hidden #{p.almacen}
                                td.hidden #{p.iva}
                                td.hidden #{p.cantidad}
                                each prov in proveedores
                                    if prov.id == p.proveedor
                                        td #{prov.nombreEmpresa}
                                td(id="pNeto#{index}") #{p.precioNeto}
                                td.hidden #{p.id}
                                td
                                    a(href="javascript:seleccionoArticulo('#{index}')", data-toggle="tooltip", data-placement="top",title="Agregar")
                                        i.fas.fa-plus-circle.text-success.fa-lg
    //
    // Form 2 para agregar los datos de las entradas
    //
    form#frm2(role="form" method="post" action="/inventarios/registrar/entrada/#{producto.id}")
        .row
            .col-lg-12(style="margin-top: -20px;")
                h4.page-header
                    i.fas.fa-box(style="margin-right: 10px;")
                    | Datos Artículo                           
        .row
            .col-lg-5
                .form-group
                    label | Nombre
                    .input-group
                        span.input-group-addon
                            i.fas.fa-search
                        input#nombre.form-control(readonly type="text"  value="#{producto.nombre}" placeholder="Nombre")
            .col-lg-7
                .form-group
                    label | Descripción
                    .input-group
                        span.input-group-addon
                            i.fas.fa-search
                        input#desc.form-control(readonly type="text"  value="#{producto.descripcion}" placeholder="Descripcion")
        .row
            each pro in proveedores
                if pro.id == producto.proveedor
                    label#prod.hidden
                    .col-lg-6
                        .form-group
                            label | Proveedor
                            .input-group
                                span.input-group-addon
                                    i.fas.fa-shipping-fast
                                input#proveedor.form-control(readonly type="text" value="#{pro.nombreEmpresa}" placeholder="Nombre")
            .col-lg-6#prov.hidden
                .form-group
                    label | Proveedor
                    .input-group
                        span.input-group-addon
                            i.fas.fa-shipping-fast
                        input#prv.form-control(readonly type="text" placeholder="Proveedor")
            .col-lg-2
                .form-group
                    label | Costo Unitario
                    .input-group
                        span.input-group-addon
                            i.fas.fa-dollar-sign
                        input#costoU.form-control(readonly type="number"  value="#{producto.precioUnitario}" placeholder="Costo Unitario")
            .col-lg-2
                .form-group
                    label | Iva
                    .input-group
                        span.input-group-addon
                            i.fas.fa-dollar-sign
                        input#iva.form-control(readonly type="number"  value="#{producto.iva}" placeholder="Iva")
            .col-lg-2
                .form-group
                    label | Costo Total
                    .input-group
                        span.input-group-addon
                            i.fas.fa-dollar-sign
                        input#costoTotal.form-control(readonly type="number"  value="#{producto.precioNeto}" placeholder="Costo Total")
        .row
            .col-lg-4
                .form-group
                    label | Lugar
                    .input-group
                        span.input-group-addon
                            i.fas.fa-map-marked-alt
                        input.form-control(readonly type="text" name="lugar" value="#{lugar}")
            .col-lg-4
                .form-group
                    label | Almacen
                    .input-group
                        span.input-group-addon
                            i.fas.fa-warehouse
                        select#alm.form-control(required name="almacen")
                            option General
                            option Alimento
                            option Gasolina
                            option Diesel
                            option Insumos
                            option Material de Empaque
                            option Productos Químicos
            .col-lg-2
                .form-group
                    label | En Stock
                    .input-group
                        span.input-group-addon
                            i.fas.fa-check-square
                        input#stock.form-control(readonly type="number"  value="#{producto.cantidad}" placeholder="Stock")
            .col-lg-2
                .form-group
                    label | Costo Stock
                    .input-group
                        span.input-group-addon
                            i.fas.fa-dollar-sign
                        input#costoStock.form-control(readonly type="number"  placeholder="Costo Stock")
        .row
            .col-lg-12(style="margin-top: -20px;")
                h4.page-header
                    i.fas.fa-list-alt(style="margin-right: 10px;")
                    | Datos Entrada
        .row
            .col-lg-4
                .form-group
                    label | Cantidad
                    .input-group
                        span.input-group-addon
                            i.fas.fa-hashtag
                        input#cantidad.form-control(required type="number" name="cantidad" placeholder="Cantidad")
            .col-lg-4
                .form-group
                    label | Orden
                    .input-group
                        span.input-group-addon
                            i.fas.fa-shopping-cart
                        input.form-control(required type="text" name="orden" placeholder="No. Orden")
            .col-lg-4
                .form-group
                    label | Factura
                    .input-group
                        span.input-group-addon
                            i.fas.fa-donate
                        input.form-control(required type="text" name="factura" placeholder="No. Factura")
        .divider
        .row(style="margin-bottom: 20px;")
            .col-lg-2.pull-right
                .form-group
                    .input-group
                        span.input-group-addon.text-success
                            i.fas.fa-save.text-success
                        input.btn.btn-success.form-control(type="submit" value="Registrar" tabindex="12" style="margin-right: 15px;")
        
        