extends ../layouts/layout.jade
block contenido
    style.
        .mright {
            margin-right: 15px;
        }
    script.
        $(document).ready( function(){

            $('#subMenuInventarios').removeClass('hidden');
            $('#spanMenuInvetarios').removeClass('fa-angle-left');
            $('#spanMenuInvetarios').addClass('fa-angle-down');
            
            if($('#lugar').text() == 'Granja'){
                $('#subMenuGranja').removeClass('hidden');
                $('#spanMenuGranja').removeClass('fa-angle-left');
                $('#spanMenuGranja').addClass('fa-angle-down');
            } else if($('#lugar').text() == 'Planta'){
                $('#subMenuPlanta').removeClass('hidden');
                $('#spanMenuPlanta').removeClass('fa-angle-left');
                $('#spanMenuPlanta').addClass('fa-angle-down');
            } else if($('#lugar').text() == 'Oficina'){
                $('#subMenuOficina').removeClass('hidden');
                $('#spanMenuOficina').removeClass('fa-angle-left');
                $('#spanMenuOficina').addClass('fa-angle-down');
            }

            $('[data-toggle="tooltip"]').tooltip();
            $('#inventario').dataTable();
        });

        window.onload = function () { 
        }
    //Termina Javascript    
        
    // Inputs mandejo
    label#url.hidden #{url}
    label#lugar.hidden #{lugar}  

    // Título
    section.mb-4
        .card
            .card-body.d-flex.justify-content-between
                h4.h4-responsive.mt-3
                    i.fas.fa-box-open
                    |   Inventario
                div
                    a(href="/inventarios/inventario/entrada" style="margin-right: 5px;").btn.btn-success
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Nueva entrada").fas.fa-sign-in-alt
                    a(href="/inventarios/inventario/salida" style="margin-right: 5px;").btn.btn-primary
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Nueva salida").fas.fa-sign-out-alt
                    a(href="#reports" data-toggle="modal" data-target="#reports").btn.btn-danger
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Reportes").fas.fa-file-pdf

    // Tabla - contenido
    section.mb-4
        .card
            .table-responsive(style="margin-top: 10px;")
                table#inventario.table.table-striped.table-hover
                    thead
                        th Código
                        th Nombre
                        th Unidad
                        th Cantidad
                        th Mínimo
                        th Máximo
                        th Orden
                        th Factura
                        th Acciones
                    tbody
                        each p in productos
                            tr 
                                td #{p.codigo}
                                td #{p.nombre}
                                td #{p.unidad}
                                td #{p.cantidad}
                                td #{p.minimo}
                                td #{p.maximo}
                                td #{p.orden}
                                td #{p.factura}
                                td
                                    a.mright(href="/inventarios/inventario/entrada/#{p.id}", data-toggle="tooltip", data-placement="top", title="Entrada")
                                            i.fas.fa-sign-in-alt.text-success.fa-lg
                                    a.mright(href="/inventarios/inventario/salida/#{p.id}", data-toggle="tooltip", data-placement="top", title="Salida")
                                            i.fas.fa-sign-out-alt.text-primary.fa-lg