extends ../layouts/layout.jade
block contenido
    style.
        .mright {
            margin-right: 15px;
        }
    script.
        $(document).ready( function(){
            
            $('#subMenuInventarios').removeClass('hidden');
            $('#spanMenuInvetarios').removeClass('fa-angle-left');
            $('#spanMenuInvetarios').addClass('fa-angle-down');
           
            if($('#lugar').text() == 'Granja'){
                $('#subMenuGranja').removeClass('hidden');
                $('#spanMenuGranja').removeClass('fa-angle-left');
                $('#spanMenuGranja').addClass('fa-angle-down');
            } else if($('#lugar').text() == 'Planta'){
                $('#subMenuPlanta').removeClass('hidden');
                $('#spanMenuPlanta').removeClass('fa-angle-left');
                $('#spanMenuPlanta').addClass('fa-angle-down');
            } else if($('#lugar').text() == 'Matriz'){
                $('#subMenuOficina').removeClass('hidden');
                $('#spanMenuOficina').removeClass('fa-angle-left');
                $('#spanMenuOficina').addClass('fa-angle-down');
            }

            $('[data-toggle="tooltip"]').tooltip();
            $('#salidas').dataTable();
        });

        window.onload = function () { 
        }
    //Termina Javascript

    section.mb-4
        .card
            .card-body.d-flex.justify-content-between
                h4.h4-responsive.mt-3
                    i.fas.fa-sign-out-alt
                    |   Ordenes de Salida
                div
                    a(href="/inventarios/inventario/salida" style="margin-right: 5px;").btn.btn-success
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Nueva Salida").fas.fa-plus-circle
                    a(href="#" disabled="true").btn.btn-danger
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Reportes").fas.fa-file-pdf
    section.mb-4
        .card
            .card-body.d-flex.justify-content-between
                .table-responsive 
                    table#products.table.table-striped.table-hover
                        thead
                            th.text-center
                                i(style="color: gray;").fas.fa-cog
                            th.text-center Código
                            th Almacén
                            th Unidad
                            th Solcitó
                            th Área
                            th Módulo
                            th Piscina
                            th Estatus
                            th Registro
                        tbody
                            each ord in ordenes_salida
                                tr(scope="row")
                                    td.d-flex.justify-content-between
                                        a.btn.btn-info(href="/inventarios/salidas/ver/#{ord.id}", data-toggle="tooltip", data-placement="top", title="Editar" style="margin-right: 5px;")
                                            i.fas.fa-pencil-alt
                                        //a.btn.btn-danger(href="productos/producto/eliminar/#{p.id}",data-toggle="tooltip", data-placement="top", title="Eliminar")
                                            i.fas.fa-times-circle
                                    td.text-center #{ ord.numero_orden }
                                    td #{ ord.lugar_almacen }
                                    td #{ ord.lugar_unidad }
                                    td #{ ord.solicita }
                                    td #{ ord.area }
                                    td #{ ord.modulo.nombre }
                                    td #{ ord.piscina.nombre }
                                    td #{ ord.estatus }
                                    td #{ ord.registro}


    