extends ../layouts/layout.jade
block contenido
    style.
        .labelFol {
            font-weight: 700;
            font-size: 2em; 
            background-color: black; 
            color: white !important; 
            border-radius: 8px 0 0 8px;
        }

        .labelSta {
            font-weight: 700;
            color: white;
            font-size: 2em; 
            border-radius: 0 8px 8px 0;
        } 

        a.disabled {
            /* Make the disabled links grayish*/
            color: gray !important;
            background-color: gray !important;
            /* And disable the pointer events */
            pointer-events: none !important;
        }

        .btn-margin {
            margin-right: 5px;
        }

        .btn-default {
            color: #4a4a4a !important;
            background-color: #f9f9f9 !important;
        }

        .btn-default:hover {
            background-color: #aeaeae !important;
        }

        .btn-small {
            font-size: 0.7rem;
        }

        .input-group-addon {
            background-color: #dd7206; 
            border: 2px;
        }

        .fa-input {
            color: #fff;
        }

        a.btn {
            border: 0;
            border-radius: 2px;
        }

    script.
        var articulos = [];
        var articulos_salida = [];
        var productos = [];
        var habilitaImpresion = true;

        $(document).ready( function(){
            $('#subMenuCompras').removeClass('hidden');
            $('#spanMenuCompras').removeClass('fa-angle-left');
            $('#spanMenuCompras').addClass('fa-angle-down');
            $('#subMenuOrdenes').removeClass('hidden');
            $('#spanMenuOrdenes').removeClass('fa-angle-left');
            $('#spanMenuOrdenes').addClass('fa-angle-down');       
            
            $('#arts').dataTable();
            $('#pTable').dataTable({
                 "lengthMenu": [10]
            });

            $('[data-toggle="tooltip"]').tooltip();
            arrayProductos();
        });

        function actualizarPiscinas(){
            $.getJSON('/inventarios/find/' + $('#moduloS').val(), (piscinas)=>{
                if(piscinas.length > 0){
                    $('#piscinasSal').removeClass('hidden');
                    $('#h_piscina').removeClass('hidden');

                    $('#estS')
                        .empty()
                        .append('<option value=-1> << Seleccione >> </option>');
                    
                    for(var i = 0; i < piscinas.length; i ++){
                        $("#estS")
                            .append($("<option></option>")
                            .attr("value",piscinas[i]._id)
                            .text(piscinas[i].codigo));
                    }
                }               
            });

            asignarModulo();
        }

        function arrayProductos(){
            var obj = new Object();

            //alert( $('#productos').val())

            var arr = $('#productos').val().split("},");

            /*
               0 ID
               1 codigo: String,
               2 descripcion: String,
               3 unidad: String,
               4 costo: String,
               5 utilidad: String,
               6 pUtilidad: String,
               7 pVenta: String,
               12 existencia: String
            */

            for(var i = 0; i < arr.length; i ++){
                var aObj = arr[i].replace(/'/g, '');

                obj.id = ltrim(aObj.split(",")[1].split(":")[1]);
                obj.codigo = ltrim(aObj.split(",")[2].split(":")[1]);
                obj.descripcion = aObj.split(",")[4].split(":")[1];
                obj.unidad = aObj.split(",")[3].split(":")[1];
                obj.precioUnitario = aObj.split(",")[6].split(":")[1];
                obj.cantidad = aObj.split(",")[13].split(":")[1];

                productos.push(obj);
                obj = new Object();
            }

            //alert(productos[0])
        }

        function eliminarArticulo(index){
            //alert(index);
            $("#tr"+index).remove();
            
            for(var i=0; i < articulos.length; i ++){
                if(articulos[i].id == index){
                    articulos_fuera.push(articulos[i]);
                    articulos.splice(i, 1);
                    break;
                }
            }

            $('#return').val(articulos_fuera.length);
            $("#articulos").val(JSON.stringify(articulos));
            $("#articulos_fuera").val(JSON.stringify(articulos_fuera));
        }

        function ltrim(stringToTrim) {
            return stringToTrim.replace(/^\s+/,"");
        }

        function rtrim(stringToTrim) {
            return stringToTrim.replace(/\s+$/,"");
        }

        function obtenerModulos(){
           if ($('#areas').val() == "Intensivo"){
                $('#h_modulo').removeClass('hidden');
                $('#modulosSal').removeClass('hidden');
                $('#sel').removeClass('hidden');
                $('#a').removeClass('hidden');
                $('#b').removeClass('hidden');
                $('#ac').addClass('hidden');
                $('#bc').addClass('hidden');
                $('#d').addClass('hidden');
                $('#e').addClass('hidden');
                $('#reser').removeClass('hidden');
                $('#module').attr('required', true);
            } else if ($('#areas').val() == "Semi-intensivo"){
                $('#modulosSal').removeClass('hidden');
                $('#h_modulo').removeClass('hidden');
                $('#sel').removeClass('hidden');
                $('#a').addClass('hidden');
                $('#b').addClass('hidden');
                $('#ac').removeClass('hidden');
                $('#bc').removeClass('hidden');
                $('#d').removeClass('hidden');
                $('#e').removeClass('hidden');
                $('#reser').removeClass('hidden');
                $('#module').attr('required', true);
            } else {
                $('#h_modulo').addClass('hidden');
                $('#piscinas').addClass('hidden');
                $('#modulos').addClass('hidden');
                $('#module').attr('required', false);
            }

            asignarArea();
        }

        function asignarSolicitante(){
            $('#span_solicita').text($( "#solicita option:selected" ).text());
            $('#solicitante_salida').val($( "#solicita option:selected" ).val());
        }

        function asignarArea(){
            $('#span_area').text($( "#areas option:selected" ).text());
            $('#area_salida').val($( "#areas option:selected" ).val());
        }

        function asignarModulo(){
            $('#span_modulo').text($( "#moduloS option:selected" ).text());
            $('#modulo_salida').val($( "#moduloS option:selected" ).val());
        }

        function asignarPiscina(){
            $('#span_piscina').text($( "#estS option:selected" ).text());
            $('#piscina_salida').val($( "#estS option:selected" ).val());
        }

        function asignarAlmacen(){
            $('#span_almacen').text($( "#almacen option:selected" ).text()); 
            $('#lugar_almacen').val($( "#almacen option:selected" ).val());
        }

        /* Agregar producto desde la búsqueda */
        function agregarProductoBusqueda(valor){
            productos.forEach( function(p){
                //alert(p.codigo + ' vs ' + valor );
                if(p.id == valor){
                    alert(p.codigo + ' vs ' + valor );
                    registrarArticulo(p, $('#cantidad').val());
                }
            });
        }

        /* Eliminar producto seleccionado */
        function eliminarProducto(id){
            articulos_salida.splice(id, 1);

            $('#tr'+ id).remove();
            $("#articulos_salida").val(JSON.stringify(articulos_salida));
        }

        /* Agregar el producto a la tabla de salidas */
        function registrarArticulo(registro, cantidad){
            if(existeProducto(registro, cantidad)){} else {
                rowCount = $('#articulos >tbody >tr').length;

                $('#articulos > tbody:last').append(
                    "<tr id='tr" + rowCount + "'>" +
                    "   <td class='text-center'>"+
                    "       <div class='btn-group table-icons'>"+
                    "           <a id='" + rowCount + "' class='btn btn-danger btn-small' data-toggle='tooltip', data-placement='top', title='Eliminar' href='javascript:eliminarProducto(" + rowCount + ")'> "+ 
                    "               <i class='fas fa-2x fa-minus-circle' style='color: white;'></i>" +
                    "           </a>" +
                    "       </div>" +
                    "   </td> " +
                    "   <td id='codi" + rowCount + "' class='text-center'>" + registro.codigo + "</td> " +
                    "   <td id='des" + rowCount + "' class='text-right'>" + registro.descripcion + "</td> " +
                    "   <td id='uni" + rowCount + "' class='text-center'>" + registro.unidad + "</td> " +
                    "   <td id='cant" + rowCount + "' class='text-center'>" + cantidad + "</td> " +
                    "   <td id='stock" + rowCount + "' class='text-center'>" + parseFloat(registro.cantidad).toFixed(2) + "</td> " +
                    "</tr>"
                );

                obj = new Object();
                objA = new Object();

                obj.id = registro.id;
                obj.codigo = registro.codigo;
                obj.descripcion = registro.descripcion;
                obj.unidad = registro.unidad;
                obj.cantidad = cantidad;
                obj.rowCount = rowCount;
                
                objA.articulo = obj;
                articulos_salida.push(objA); 
            }

            $('#articulos_salida').val(JSON.stringify(articulos_salida));
            $('#cantidad').val('1.00');
        }

        /* Si el producto existe agregar uno más o cantidad ingresada al total del mismo */
        function existeProducto(producto, cantidad){
            //console.log(articulos_salida);
            for(var i=0; i <= articulos_salida.length -1; i ++){
                //console.log(" Entre en " + articulos_salida[i].articulo.id + " VS " + producto.id);
                if(articulos_salida[i].articulo.id == producto.id){
                    //console.log(articulos_salida[i]);

                    articulos_salida[i].articulo.cantidad = (parseFloat(articulos_salida[i].articulo.cantidad) + parseFloat(cantidad)).toFixed(2);                   
                    $("#cant" + articulos_salida[i].articulo.rowCount).text(articulos_salida[i].articulo.cantidad);
                    $('#articulos_salida').val(JSON.stringify(articulos_salida));
                    return true;
                }
            }
            return false;
        }
        
        /* Guardar la orden de salida */
        function guardarSalida(){
            //  Validaciones
            if($('#solicita').val() == -1){
                $('#alert').addClass('warning');
                $('#alertDiv').removeClass('hidden');
                $('#msg1').text('Es necesario selecionar ');
                $('#msg2').text('para poder guardar la orden de salida.');
                $('#msg_alert').text('un Solicitante ');
                console.log('Error seleccion solicitante.');
                $('#solicita').focus();
                return;
            }

            if($('#areas').val() == -1){
                $('#alert').addClass('warning');
                $('#alertDiv').removeClass('hidden');
                $('#msg1').text('Es necesario selecionar ');
                $('#msg2').text('para poder guardar la orden de salida.');
                $('#msg_alert').text('un Área ');
                console.log('Error seleccion área.');
                $('#areas').focus();
                return;
            }

            if($('#modulos').hasClass('hidden')){
            } else {
                if($('#moduloS').val() == -1){
                    $('#alert').addClass('warning');
                    $('#alertDiv').removeClass('hidden');
                    $('#msg1').text('Es necesario selecionar ');
                    $('#msg2').text('para poder guardar la orden de salida.');
                    $('#msg_alert').text('un Módulo ');
                    console.log('Error seleccion módulo.');
                    $('#moduloS').focus();
                    return;
                }   

                if($('#estS').val() == -1){
                    $('#alert').addClass('warning');
                    $('#alertDiv').removeClass('hidden');
                    $('#msg1').text('Es necesario selecionar ');
                    $('#msg2').text('para poder guardar la orden de salida.');
                    $('#msg_alert').text('una Piscina ');
                    console.log('Error seleccion piscina.');
                    $('#estS').focus();
                    return;
                }
            }
            
            if(articulos_salida.length < 1){
                $('#alert').addClass('warning');
                $('#alertDiv').removeClass('hidden');
                $('#msg1').text('Es necesario selecionar ');
                $('#msg2').text('para poder guardar la orden de salida.');
                $('#msg_alert').text('por lo menos un artículo ');
                console.log('Error seleccion artículos.');
                return;
            }
            
            $('#guardar').addClass('disabled');
            $('#imprimir').removeClass('disabled');

            $.post( "/inventarios/registrar/salida", {
                lugar_almacen: $('#lugar_almacen').val(),
                lugar_unidad: $('#lugar_unidad').val(),
                solicita: $('#solicitante_salida').val(),
                area: $('#area_salida').val(),
                modulo: $('#modulo_salida').val(),
                piscina: $('#piscina_salida').val(),
                articulos: articulos_salida,
                estatus: 'Guardada',
                numero_orden: $('#numero_orden').val()
            }, (data, status) => {
                //console.log(data.ordSalida);
                $('#estatus').text(data.estatus);
                $('#id_orden').val(data.idOrden);
                
                if(data.habilitarImpresion == true){
                    $('#guardar').addClass('disabled');
                    $('#imprimir').removeClass('disabled');
                }
                
                // Mostrar notificación de guardado correcto 
                $('#alert').removeClass('warning');
                $('#alert').addClass('success');
                $('#alertDiv').removeClass('hidden');
                $('#msg1').text('Se ha guardado con ');
                $('#msg2').text('la orden de salida.');
                $('#msg_alert').text('éxito ');

            }, "json");
        }

        /* Imprimir orden salida */
        function imprimirOrden(){
            $('#terminar').removeClass('disabled');
            
            var data = {
                estatus: 'Generada',
                id: $('#id_orden').val()
            }

            $.post( "/inventarios/salida/imprimir", {
                lugar_almacen: $('#span_almacen').text(),
                lugar_unidad: $('#span_unidad').text(),
                solicita: $('#span_solicita').text(),
                area: $('#span_area').text(),
                modulo: $('#span_modulo').text(),
                piscina: $('#span_piscina').text(),
                articulos: articulos_salida,
                estatus: 'Guardada',
                numero_orden: $('#numero_orden').val()
            }, (data, status) => {
                $('#estatus').text(data.estatus);
                
                var url = '../../salidas/'+ data.url;
                window.open(url, 'Download');

                if(data.impreso == true){
                    $('#imprimir').addClass('disabled');
                    $('#terminar').removeClass('disabled');
                }
                
                // Mostrar notificación de guardado correcto 
                $('#alert').removeClass('alert-warning');
                $('#alert').addClass('alert-success');
                $('#alertDiv').removeClass('hidden');
                $('#msg1').text('Se imprimió ');
                $('#msg2').text('la orden de salida.');
                $('#msg_alert').text('correctamente ');

            }, "json");
        }

        /* Finalizar orden de salida */
        function finalizarSalida(){           
            var data = {
                estatus: 'Finalizada',
                id: $('#id_orden').val()
            }

            $.post( "/inventarios/salida/finalizar", data , (data, status) => {
                $('#estatus').text(data.estatus);
                
                if(data.finalizo == true){
                    $('#terminar').addClass('disabled');
                }
                
                // Mostrar notificación de guardado correcto 
                $('#alert').removeClass('alert-warning');
                $('#alert').addClass('alert-success');
                $('#alertDiv').removeClass('hidden');
                $('#msg1').text('Se finalizó ');
                $('#msg2').text('la orden de salida.');
                $('#msg_alert').text('correctamente ');

            }, "json");
        }
        
    //Termina Javascript
   

    // Inputs para funcionar
    input#articulos_salida.hidden(name="articulos_salida" ).hidden
    input#lugar_almacen(required type="text" name="lugar_almacen" value="Almacén General").hidden
    input#lugar_unidad(required type="text" name="lugar_unidad" value="#{user.unidad_negocio._id}").hidden
    input#solicitante_salida(required type="text" name="solicita").hidden
    input#area_salida(required type="text" name="area" ).hidden
    input#modulo_salida(type="text" name="modulo").hidden
    input#piscina_salida(type="text" name="piscina").hidden
    input#numero_orden(type="text" name="numero_orden" value="#{numeroOrden}").hidden
    input#id_orden(tyep="text" name="orden_id").hidden
    input#productos(name="productos" value="#{productos}").hidden

    // Titulo y botones
    section.mb-4
        .card
            .card-body.d-flex.justify-content-between
                h4.h4-responsive.mt-3
                    i.fas.fa-sign-out-alt
                    |   Salida Inventario
                div
                    a(data-toggle="modal" href="#normalModal").btn.btn-primary.blue-gradient.btn-margin
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Busca producto").fas.fa-search
                    a#guardar(href="javascript:guardarSalida();").btn.btn-success.green-gradient.btn-margin
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Guardar Salida").fas.fa-save
                    a#imprimir(href="javascript:imprimirOrden();").btn.btn-info.btn-margin
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Imprimir").fas.fa-print
                    a#terminar(href="javascript:finalizarSalida();").btn.btn-primary.disabled
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Finalizar").fas.fa-stamp
    
    // Opciones de salida
    section.mb-4
        .card
            .card-body
                div
                    .col-lg-3.col-md-6.col-sm-6.col-xs-6
                        .form-group
                            label | Solicita:
                            .input-group
                                span.input-group-addon.blue-gradient
                                    i.fas.fa-user.fa-input
                                select#solicita.form-control(tabindex="1" onchange="asignarSolicitante(this.value)")
                                    option(value=-1) << Seleccione >>
                                    each u in usuarios
                                        option(value=u.id) #{ u.nombre }
                    .col-lg-3.col-md-6.col-sm-6.col-xs-6
                        .form-group
                            label | Área
                            .input-group
                                span.input-group-addon.blue-gradient
                                    i.fas.fa-map-signs.fa-input
                                select#areas.form-control(tabindex="2" value="" onchange="obtenerModulos()")
                                    option(value=-1) << Seleccione >>
                                    option(value="Administración - Granja", selected=('Administración - Granja'== '')) Administración - Granja
                                    option(value="Intensivo", selected=('Intensivo'== '')) Intensivo
                                    option(value="Semi-intensivo", selected=("Semi-intensivo"== '')) Semi-intensivo
                                    option(value="Laboratorio", selected=("Laboratorio"== '')) Laboratorio
                                    option(value="Probioticos", selected=("Probioticos"== '')) Probioticos
                                    option(value="Taller Mecánico", selected=("Taller Mecánico"== '')) Taller Mecánico
                                    option(value="Taller Eléctrico", selected=("Tallr Eléctrico"== '')) Taller Eléctrico 
                                    option(value="Equipo Bombeo", selected=("Equipo Bombeo"== '')) Equipo Bombeo
                                    option(value="Administración - Matriz", selected=('Administración - Matriz'== '')) Administración - Matriz
                                    option(value="Planta - Administración", selected=('Planta - Administración'== '')) Planta - Administración
                                    option(value="Planta - Mantenimiento", selected=('Planta - Mantenimiento'== '')) Planta - Mantenimiento
                                    option(value="Planta - Proceso", selected=('Planta - Proceso'== '')) Planta - Proceso    
                    .col-lg-3.col-md-6.col-sm-6.col-xs-6#modulosSal.hidden
                        .form-group
                            label | Modulo
                            .input-group
                                span.input-group-addon.blue-gradient
                                    i.fas.fa-input.fa-map-pin
                                select#moduloS.form-control(tabindex="3" onchange="actualizarPiscinas()")
                                    option(value=-1) << Seleccione >>
                                    each modulo in modulos
                                        option(value=modulo.id) #{modulo.nombre}
                    .col-lg-3.col-md-6.col-sm-6.col-xs-6#piscinasSal.hidden
                        .form-group
                            label | Piscina
                            .input-group
                                span.input-group-addon.blue-gradient
                                    i.fas.fa-input.fa-water
                                select#estS.form-control(name="estanque" tabindex="2" onchange="asignarPiscina()")
    
    // Detalles de salida
    section.mb-4
        .card
            .card-body
                .row
                    .col-md-6.col-lg-6.col-xs-6.text-left
                        h4.h4-responsive
                            small Almancén: 
                            br
                            strong
                                span#span_almacen.blue-text Almacén General
                            a(data-toggle="modal" href="#almacenModal" style="margin-left: 10px;").btn.btn-primary.btn-small.blue-gradient
                                i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Seleccionar almacén").fas.fa-2x.fa-sync-alt
                        h5.h5-responsive
                            small Unidad: 
                            br
                            strong
                                span #{user.unidad_negocio.nombre}
                        h5.h5-responsive
                            small Realiza:
                            br
                            strong
                                span #{user.nombre}
                        h5.h5-responsive
                            small Estatus:
                            br
                            strong
                                span#estatus Nueva
                    .col-md-6.col-lg-6.col-xs-6.text-right
                        h4.h4-responsive
                            small Salida No.
                            br
                            strong
                                span.blue-text ##{numeroOrden}
                        h5.h5-responsive
                            small Solicita.
                            br
                            strong
                                span#span_solicita #######
                        h5.h5-responsive
                            small Área.
                            br
                            strong
                                span#span_area #######
                        h5.h5-responsive#h_modulo.hidden
                            small Módulo.
                            br
                            strong
                                span#span_modulo #######
                        h5.h5-responsive#h_piscina.hidden
                            small Piscina.
                            br
                            strong
                                span#span_piscina #######

    // Tabla de artículos
    section.mb-4
        .card
            .card-header.view.view-cascade.gradient-card-header.blue-gradient.mb-3
                h4.h4-responsive.mb-3(style="font-weight: 700; color: #fff;")
                    i(style="margin-right: 10px").fas.fa-table
                    |   Artículos en Salida
            .card-body
                .table-responsive(style="margin-top: 5px;")
                    table#articulos.table.table-hover
                        thead.blue-gradient(style="color: #fff")
                            th.text-center
                                i.fas.fa-cog
                            th Código
                            th Descripción
                            th Unidad
                            th Cantidad
                            th Stock actual
                        tbody

    // Modal para seleccion de productos
    #normalModal(class="modal")
        .modal-dialog.modal-lg(role="document")
            .modal-content
                .modal-header.Popup(style="font-size: 2em; margin: 0; color: #fff;").view.view-cascade.gradient-card-header.blue-gradient
                    .col-lg-12
                        i.fa.fas.fa-box(style="margin-right: 15px;")
                        label 
                            strong Productos
                .modal-body()
                    .card
                        .card-tittle
                        .card-body.table-color-new
                            .row
                                .col-lg-4
                                    .form-group
                                        label | Cantidad
                                        .input-group
                                            input#cantidad.form-control(type="text" name="cantidad" placeholder="Cantidad" value="1.00" tabindex="2")
                            .row
                                table#pTable.table.table-hover
                                    thead
                                        th.text-center
                                            i(style="color: #fff;").fas.fa-cog
                                        th.text-center  Codigo
                                        th.text-right   Descripción
                                        th.text-right   Unidad
                                        th.text-right   Stock
                                        th.text-right   Precio Unitario
                                    tbody
                                        each p in productos
                                            tr.table-metadata(scope="row")
                                                td.text-center
                                                    if p.cantidad > 0
                                                        div.btn-group.table-icons
                                                            a(href="javascript:agregarProductoBusqueda('#{p.id}');" data-toggle="tooltip", data-placement="top", title="Agregar").btn.btn-success
                                                                i(style="color: white;").fas.fa-plus-circle
                                                    else
                                                        div.btn-group.table-icons
                                                            a(href="#").btn.btn-default.disabled
                                                                i(style="color: white;").fas.fa-plus-circle
                                                td.text-center #{p.codigo}
                                                td.text-center #{p.descripcion}
                                                td.text-center #{p.unidad}
                                                td.text-center #{p.cantidad}
                                                td.text-center $ #{parseFloat(p.precioUnitario).toFixed(2)}
                .modal-footer
                    .text-right
                        .btn-group
                            a(data-dismiss="modal").btn.btn-default
                                i.fa.fas.fa-times-circle()
                                |   Cerrar

    // Modal Seleccionar almacén
    #almacenModal(class="modal")
        .modal-dialog(role="document")
            .modal-content
                .modal-header(style="font-size: 2em; margin: 0; color: #fff;").view.view-cascade.gradient-card-header.blue-gradient
                    .col-lg-12
                        i.fa.fas.fa-sync-alt(style="margin-right: 15px;")
                        label 
                            strong Seleccionar Almacén
                .modal-body()
                    .card
                        .card-body
                            .row
                                .col-lg-12
                                    .form-group
                                        label | Almacén
                                        .input-group
                                            span.input-group-addon.blue-gradient
                                                i.fas.fa-warehouse.fa-input
                                            select#almacen.form-control(required name="almacen" tabindex="1" value="" onchange="asignarAlmacen()")
                                                option(value="") << Seleccione >>
                                                option(value="Almacén General") Almacén General
                                                option(value="Almacén Alimento") Almacén Alimento
                                                option(value="Almacén Gasolina") Almacén Gasolina
                                                option(value="Almacén Diesel") Almacén Diesel

                .modal-footer
                    .text-right
                        .btn-group
                            a(data-dismiss="modal").btn.btn-default
                                i.fa.fas.fa-times-circle()
                                |   Cerrar

