extends ../layouts/layout.jade
block contenido
    style.
    script.
        $(document).ready( function() {
            $('#products').dataTable();

            $('#subMenuProductos').removeClass('hidden');
            $('#spanMenuProductos').removeClass('fa-angle-left');
            $('#spanMenuProductos').addClass('fa-angle-down');
            $('[data-toggle="tooltip"]').tooltip();
        })
        //Termina Javascript
    
    section.mb-4
        .card
            .card-body.d-flex.justify-content-between
                h4.h4-responsive.mt-3
                    i.fas.fa-boxes
                    |   Productos
                div
                    a(href="/productos/new/producto" style="margin-right: 5px;").btn.btn-success
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Nuevo producto").fas.fa-plus-circle
                    a(href="#" disabled="true").btn.btn-danger
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Reportes").fas.fa-file-pdf
    section.mb-4
        .card
            .card-body
                .table-responsive 
                    table#products.table.table-striped.table-hover
                        thead
                            th.text-center
                                i(style="color: gray;").fas.fa-cog
                            th.text-center Código
                            th Unidad
                            th Nombre
                            th Proveedor
                            th Precio
                            th IVA
                            th Precio Neto
                            th Moneda
                        tbody
                            each p in productos
                                tr(scope="row")
                                    td.d-flex
                                        a.btn.btn-info.btn-small(href="productos/producto/editar/#{p.id}", data-toggle="tooltip", data-placement="top", title="Editar" style="margin-right: 5px;")
                                            i.fas.fa-pencil-alt.fa-2x
                                        a.btn.btn-danger.btn-small(href="productos/producto/eliminar/#{p.id}",data-toggle="tooltip", data-placement="top", title="Eliminar")
                                            i.fas.fa-times-circle.fa-2x
                                    td.text-center #{ p.codigo }
                                    td #{ p.unidad }
                                    td #{ p.nombre }
                                    td 
                                        strong #{ p.proveedor.nombreEmpresa }
                                    td #{ parseFloat(p.precioUnitario).toFixed(2)}
                                    td #{ parseFloat(p.iva).toFixed(2) }
                                    td #{ parseFloat( p.precioNeto).toFixed(2) }
                                    td #{ p.moneda }
                                    