extends ../layouts/layout.jade
block contenido
    style.
        .round {
            border-radius: 5px !important;
            -moz-border-radius: 5px !important;
            -webkit-border-radius: 5px !important;
        }
        thead {
            background-color: black;
            color: #fff;
        } 

        ul {
            padding: 0;
            list-style-type: none;
        }

        .center-middle {
            margin-top: 13px;
        }

        .margin-div {
            margin-right: 5px;
        }

        .btn-small {
            font-size: 0.5rem;
        }

        .input-group-addon {
            background-color: #dd7206; 
            border: 2px;
        }

        .fa-input {
            color: #fff;
        }

        a.btn {
            border: 0;
            border-radius: 2px;
        }

        hr {
            margin-top: -5px;
            margin-bottom: 5px;
            border: 1px solid #2d6e99;
        }
    script. 
        var cambiar_tiempo = true;
        var cambiar_fecha = false;
        var piscinas = [];
        var estanques = [];
        var hora;

        $(document).ready( function(){
            $('#subMenuProduccion').removeClass('hidden');
            $('#spanMenuProduccion').removeClass('fa-angle-left');
            $('#spanMenuProduccion').addClass('fa-angle-down');

            $('#subMenuNutricion').removeClass('hidden');
            $('#spanMenuNutricion').removeClass('fa-angle-left');
            $('#spanMenuNutricion').addClass('fa-angle-down');

            var today = new Date();
            //document.getElementById("fecha_new").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);

            $('#sembrado').on( 'click', function() {
            if( $(this).is(':checked') ){
                // Hacer algo si el checkbox ha sido seleccionado
                mostrarSoloSembrados();
            } else {
                // Regresar a como estaban antes las piscinas
            }
        });

            mostrarPiscinas();
            obtenerFecha();
            obtenerHora();
        });

        function obtenerFecha(){
            var fecha = new Date()
            var dia = fecha.getDate();
            var mes = fecha.getMonth()+1;
            var anio = fecha.getFullYear();

            if(dia < 10){
                dia = "0"+dia;
            }

            if(mes < 10){
                mes = "0"+mes;
            }

            $('#fecha').text(dia+"/"+mes+"/"+anio + " - ");
        }

        function obtenerHora(){
            var tiempo = new Date();
            var horas = tiempo.getHours();
            var minutos = tiempo.getMinutes();
            var segundos = tiempo.getSeconds();
            var dn ="";

            if (horas < 12) {
                if(cambiar_tiempo == true) {
                    $("#span_tiempo").text("AM");
                }
                dn = "a.m.";
            } else {
                if(cambiar_tiempo == true) {
                    $("#span_tiempo").text("PM");
                }
                dn = "p.m.";
            }

            if(minutos < 10){
                minutos = "0"+minutos;
            }

            if(segundos < 10){
                segundos = "0"+segundos;
            }
                
            hora = horas+":"+minutos+":"+segundos;
            $("#hora").text(horas+":"+minutos+":"+segundos+" "+dn+"    ");
            setTimeout('obtenerhora()',1000);
        }

        function registrarPiscina(ids){
            var id = ids.split("_")[1];
            var obj = new Object();

            obj.id = id;
            obj.estatus = $("select[name=status_"+id+"]").val();

            if(existePiscina(id, obj.estatus) == false){
                piscinas.push(obj);
            }

            console.log(piscinas);
        }

        function existePiscina(id, estatus) {
            for(let i = 0; i <= piscinas.length -1; i++){
                if(id == piscinas[i].id){
                    piscinas[i].estatus = estatus;
                    return true;
                }
            }

            return false;
        }
    
        function guardarRegistros(){
            $.post('/produccion/configuracion/piscinas/guardar', {piscinas: piscinas}, (data) => {
                
            });
        }

        function mostrarPiscinas(){
            abrirLoader();

            $.getJSON('/produccion/mostrar/piscinas', (data) =>{
                if(data != undefined){
                    estanques = data.piscinas;

                    //var comparar = data.piscinas[i].estatus != undefined ? data.piscinas[i].estatus : "";

                    
                            
                    

                    for(let i = 0; i <= data.piscinas.length -1; i++){
                        switch( data.piscinas[i].estatus != undefined ? data.piscinas[i].estatus : ""){
                            case "Sembrado":
                                console.log("entreee !");
                                console.log($('#i_'+data.piscinas[i]._id).val());
                                //$("#menu option[value='2']").attr("selected", true);
                                $('#opt1_'+data.piscinas[i]._id).prop("selected", true);
                                break;
                            case "En proceso":
                                break;
                            case "Cosechado":
                                break;
                            case "Inactivo":
                                break;
                            case "Cerrado":
                                break;
                            default:
                                break;
                        }

                        $("#lista_piscinas").append('<li id="pis'+data.piscinas[i]._id+'"> ' +
                            '<div class="d-flex justify-content-between">' +
                                '<input type="text" id="idPis'+data.piscinas[i]._id+'" name="idPis'+data.piscinas[i]._id+'" value="'+data.piscinas[i]._id+'" class="hidden">'+
                                '<div class="center-middle">' +
                                    '<i class="fas fa-water" style="margin-right: 1px; color: #2d6e99"></i>' +
                                    '<label id="codPis_'+data.piscinas[i]._id+'">'+data.piscinas[i].codigo+'</label>' +
                                '</div>'+
                                '<div class="form-group margin-div center-middle">' +
                                    '<label>' + data.piscinas[i].nombre + '</label>' +
                                '</div>' +
                                '<div class="form-group margin-div center-middle">' +
                                    '<label>' + data.piscinas[i].modulo.nombre + '</label>' +
                                '</div>' +
                                '<div class="form-group margin-div">' +
                                    '<label> Estatus </label>' +
                                    '<div class="input-group">' +
                                        '<span class="input-group-addon blue-gradient">'+
                                            '<i class="fas fa-stamp fa-input"></i>' +
                                        '</span>' +
                                        '<select class="form-control" type="text" id="i_'+data.piscinas[i]._id+'" name="status_'+data.piscinas[i]._id+'" onchange="registrarPiscina(this.id)">' + 
                                            '<option id="opt1_'+data.piscinas[i]._id+'" value=-1> << Seleccione >> </option>' +
                                            '<option id="opt2_'+data.piscinas[i]._id+'" value=Sembrado> Sembrado </option>' +
                                            '<option id="opt3_'+data.piscinas[i]._id+'" value=Cosechado> Cosechado </option>' +
                                            '<option id="opt4_'+data.piscinas[i]._id+'" value=Inactivo> Inactivo </option>' +
                                            '<option id="opt5_'+data.piscinas[i]._id+'" value=Cerrado> Cerrado </option>' +
                                        '</select>' + 
                                    '</div>'+
                                '</div>' +
                            '</div>' +
                            '<hr>'+
                        '</li>');
                    }
                }
            });

            cerrarLoader();
        }

        function mostrarSoloSembrados(){
            var filtrados = []
            filtrados = estanques.filter(e => e.estatus == "Cerrado");

            $("#lista_piscinas").empty();

            for(let i = 0; i <= filtrados.length; i++){
                $("#lista_piscinas").append(
                    '<li>'+
                        '<div class="d-flex justify-content-between">'+
                            '<div class="center-middle">'+
                                '<i class="fas.fa-water" style="margin-right: 1px; color: #2d6e99"></i>' +
                                '<label id="codPis_" + estanques[i]._id>'+estanques[i].codigo+'</label>' +
                            '</div>' +
                            '<div class="form-group margin-div center-middle">'+
                                '<label>' + estanques[i].nombre + '</label>' +
                            '</div>' +
                            '<div class="form-group margin-div center-middle">'+
                                '<label>' + estanques[i].modulo.nombre + '</label>' +
                            '</div>' +
                            '<div class="form-group margin-div">'+
                                '<label> Estatus </label>' +
                                '<div class="input-group">' +
                                    '<span class="input-group-addon blue-gradient" style="color: #FFF">' +
                                        '<i class="fas fa-stamp"></i>' +
                                    '</span>' +
                                    '<select class="form-control" id=estanques[i]_id name="status_"+estanques[i]id onchange="registrarPiscina(this.id)">' +
                                        '<option value=-1> << Seleccione >> </option>' +
                                        '<option value="Sembrado", selected=("Sembrado" == (estanques[i]estatus != undefined ? estanques[i]estatus : ""))> Sembrado </option>' +
                                        '<option value="En proceso", selected=("En proceso" == (estanques[i]estatus != undefined ? estanques[i]estatus : ""))> En proceso </option>' +
                                        '<option value="Cosechado", selected=("Cosechado" == (estanques[i]estatus != undefined ? estanques[i]estatus : ""))> Cosechado </option>' +
                                        '<option value="Inactivo", selected=("Inactivo" == (estanques[i]estatus != undefined ? estanques[i]estatus : ""))> Inactivo </option>' +
                                        '<option value="Cerrado",selected=("Cerrado" == (estanques[i]estatus != undefined ? estanques[i]estatus : ""))> Cerrado </option>' +
                                    '</select>'+
                                '</div>' +
                            '</div>' +
                        '</div>'+
                    '</li>'+
                    '<hr>'
                );
            }
        }


    // Título
    section.mb-4
        .card
            .card-body.d-flex.justify-content-between
                h4.h4-responsive.mt-3
                    i.fas.fa-water
                    |   Configuración de piscinas
                div
                    a#guardar(href="javascript:guardarRegistros();").btn.btn-success.Ripple-parent.green-gradient
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Realizar").fas.fa-save
    
    // Detalles
    section.mb-4
        .card
            .card-body
                .row
                    .col-md-6.col-lg-6.col-xs-6.text-left
                        //h4.h4-responsive
                            small Módulo(s): 
                            br
                            strong
                                span#span_modulos.blue-text ####
                                a(data-toggle="modal" href="#moduloModal" style="margin-left: 5px; margin-top: 2px;").btn.btn-primary.btn-small.blue-gradient
                                    i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Cambiar módulo").fas.fa-2x.fa-sync-alt
                        h4.h4-responsive
                            small Número de piscinas: 
                            br
                            strong
                                span#num_piscinas #{estanques.length}
                        h4.h4-responsive
                            small Mostrar solo: 
                            br
                            div.d-flex
                                .form-check.margin-div
                                    input#todos.form-check-input(type='checkbox', name='todos', value='option0', checked='')
                                    label.form-check-label(style="font-size: 14px;")
                                        |   Todos
                                .form-check.margin-div
                                    input#sembrado.form-check-input(type='checkbox', name='sembrado', value='option1')
                                    label.form-check-label(style="font-size: 14px;")
                                        |   Sembrado
                                .form-check.margin-div
                                    input#cosechado.form-check-input(type='checkbox', name='cosechado', value='option2')
                                    label.form-check-label(style="font-size: 14px;")
                                        |   Cosechado
                                .form-check
                                    input#proceso.form-check-input(type='checkbox', name='proceso', value='option3',)
                                    label.form-check-label(style="font-size: 14px;")
                                        |   En Proceso
                    .col-md-6.col-lg-6.col-xs-6.text-right
                        h4.h4-responsive
                            small Fecha.
                            br
                            strong
                                a(data-toggle="modal" href="#fechaModal" style="margin-right: 5px; margin-top: 2px;").btn.btn-primary.btn-small.blue-gradient
                                    i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Cambiar fecha").fas.fa-2x.fa-sync-alt
                                span#fecha.blue-text
                                span#hora.blue-text
    
    // Captura de datos
    section.mb-4
        .panel.panel-primary
            .panel-heading
                i.fas.fa-cog
            .panel-body
                ul#lista_piscinas

    // Modal Seleccionar tiempo
    #tiempoModal(class="modal")
        .modal-dialog(role="document")
            .modal-content
                .modal-header(style="font-size: 2em; margin: 0; color: #fff;").view.view-cascade.gradient-card-header.blue-gradient
                    .col-lg-12
                        i.fa.fas.fa-sync-alt(style="margin-right: 15px;")
                        label 
                            strong Seleccionar tiempo
                .modal-body()
                    .card
                        .card-body
                            .row
                                .col-lg-12
                                    .form-group
                                        label | Tiempo
                                        .input-group
                                            span.input-group-addon.blue-gradient
                                                i.fas.fa-hourglass-half.fa-input
                                            select#select_tiempo.form-control(required name="tiempo" tabindex="1" value="" onchange="asignarTiempo()")
                                                option(value="") << Seleccione >>
                                                option(value="AM") AM
                                                option(value="PM") PM

                .modal-footer
                    .text-right
                        .btn-group
                            a(data-dismiss="modal").btn.btn-default
                                i.fa.fas.fa-times-circle()
                                |   Cerrar

     // Modal Seleccionar tiempo

    // Modal seleccionar fecha
    #fechaModal(class="modal")
