extends ../layouts/layout.jade
block contenido
    script.
        $(document).ready( function() {
            $('#proveedores').dataTable();

            $('#subMenuCompras').removeClass('hidden');
            $('#subMenuProveedores').removeClass('hidden');
            $('#spanMenuProveedores').removeClass('fa-angle-left');
            $('#spanMenuProveedores').addClass('fa-angle-down');

            if( $('#menuProductos').hasClase('hidden')){
                $('#subMenuProductos').addClass('hidden');
                $('#spanMenuProductos').removeClass('fa-angle-down');
                $('#spanMenuProductos').addClass('fa-angle-left');
            }
        })
    //Termina Javascript
    
    // Inputs mandejo
    label#url.hidden #{url}

    // Título
    section.mb-4
        .card
            .card-body.d-flex.justify-content-between
                h4.h4-responsive.mt-3
                    i.fas.fa-shipping-fast
                    |   Proveedores
                div
                    a(href="/proveedores/new/proveedor" style="margin-right: 5px;").btn.btn-success
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Nuevo proveedor").fas.fa-plus-circle
                    a(href="#reports" disabled="true" data-toggle="modal" data-target="#reports").btn.btn-danger
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Reportes").fas.fa-file-pdf

    // Tabla - contenido
    section.mb-4
        .card
            .table-responsive(style="margin-top: 10px;")
                table#proveedores.table.table-striped.table-hover
                    thead
                        th.text-center Código
                        th Nombre
                        th Razón Social
                        th Teléfono
                        th Vendedor
                        th Celular
                        th Acciones
                    tbody
                        each p in proveedores
                            tr
                                td.text-center #{ p.codigo }
                                td #{ p.nombreEmpresa }
                                td #{ p.razonSocial }
                                td #{ p.telefono }
                                td #{ p.nombreVendedor }
                                td #{ p.celular }
                                td
                                    a(href="/proveedores/editar/proveedor/#{p.id}", title="Editar", style="margin-right: 15px;")
                                        i.fas.fa-pencil-alt.text-info.fa-lg
                                    a(href="/proveedores/eliminar/proveedor/#{p.id}", title="Eliminar")
                                        i.fas.fa-minus-circle.text-danger.fa-lg