extends ../layouts/layout.jade
block contenido
    script.
        $(document).ready( function() { 
            $('#subMenuNutricion').removeClass('hidden');
            $('#spanMenuNutricion').removeClass('fa-angle-left');
            $('#spanMenuNutricion').addClass('fa-angle-down');

            $('#nutricion').dataTable(
                {"fecha": [[ 0, "desc" ]]}
            );

            if($('#url').text() != ''){
                url = '../../reports/nutricion/'+ $('#url').text();
                window.open(url, 'Download');
                $('#url').text('');
            }

            $('[data-toggle="tooltip"]').tooltip();
        });

        function eliminarRegistros(piscina) {
            abrirLoader();
            $.post('/nutricion/delete/piscina', {
                id: piscina
            }, (data) => {
                $("#tr"+data.id).remove();
            });
            cerrarLoader();
        }
    //Termina Javascript

    // Inputs funcionamiento
    label#url.hidden #{url}
    
    // Título
    section.mb-4
        .card
            .card-body.d-flex.justify-content-between
                h4.h4-responsive.mt-3
                    i.fas.fa-seedling
                    |   Nutrición
                div
                    a(href="/nutricion/new" style="margin-right: 5px;").btn.btn-success
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Nuevo registro de nutrición").fas.fa-plus-circle
                    a(href="#reports" data-toggle="modal" data-target="#reports" style="margin-right: 5px;").btn.btn-danger
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Reportes").fas.fa-file-pdf
                    if user.permisos == "gerente_modulo" || user.permisos == "developer"
                        a(href="javascript:eliminarRegistros('')").btn.btn-warning
                            i(style="color: #000;" data-toggle="tooltip", data-placement="top", title="Eliminar registros").fas.fa-minus-circle

    // Datos
    section.mb-4
        .card
            .table-responsive(style="margin-top: 10px;") 
                table#nutricion.table.table-striped.table-hover
                    thead
                        if user.permisos == "gerente_modulo" || user.permisos == "developer"
                            th.text-center
                                i(style="color: gray;").fas.fa-cog
                        th Piscina
                        th Charola 1
                        th Charola 2
                        th Charola 3
                        th Charola 4
                        th Kg Ración
                        th % Ajuste
                        th Suma
                        th Código Ración
                        th Sig. Ración
                        th Tiempo
                        th Charolero
                        th Fecha
                        th Hora
                    tbody
                        each nut in nutricion
                            tr(id="tr"+nut.id)  
                                if user.permisos == "gerente_modulo" || user.permisos == "developer"
                                    td.text-center
                                        div.d-flex
                                            a.btn.btn-danger.btn-small(style='margin-right: 5px;' href='/nutricion/eliminar/#{nut._id}' data-toggle='tooltip', data-placement='top', title='Eliminar') 
                                                i.fas.fa-2x.fa-minus-circle(style='color: white')
                                            a.btn.btn-primary.btn-small(href='/nutricion/editar/#{nut._id}' data-toggle='tooltip', data-placement='top', title='Editar') 
                                                i.fas.fa-2x.fa-edit(style='color: white')
                                td.text-center #{ nut.estanque.codigo }
                                td.text-center #{ nut.charola_1 }
                                td.text-center #{ nut.charola_2 }
                                td.text-center #{ nut.charola_3 }
                                td.text-center #{ nut.charola_4 }
                                td.text-center #{ nut.kg_racion == "" ? "" : parseFloat(nut.kg_racion).toFixed(3) }
                                td.text-center #{ nut.porcent_ajuste == "" ? "" :parseFloat(nut.porcent_ajuste).toFixed(2) }
                                td.text-center #{ nut.suma == "" ? "" : parseFloat(nut.suma).toFixed(2) }
                                td.text-center #{ nut.codigo_racion == "" ? "" : parseFloat(nut.codigo_racion).toFixed(2) }
                                td.text-center #{ nut.siguiente_racion == "" ? "" : parseFloat(nut.siguiente_racion).toFixed(2) }
                                td.text-center #{ nut.tiempo }
                                td.text-center #{ nut.charolero.nombre }
                                
                                - var date = new Date(nut.fecha);
                                - date.setDate(date.getDate() + 1);
                                - var day = date.getDate() > 9 ? date.getDate() : '0' + date.getDate();
                                - var month = (date.getMonth() + 1) > 9 ? (date.getMonth() + 1) : '0' + (date.getMonth() + 1);
                                td #{  day + '/' + month + '/' + date.getFullYear() }
                                td #{ nut.hora }