extends ./layouts/layout.jade
block contenido
    style.
        .border-left-primary {
            border-left: .25rem solid #4e73df!important;
        }
        .border-left-success {
            border-left: .25rem solid #1cc88a!important;
        }

        .border-left-info {
            border-left: .25rem solid #36b9cc!important;
        }

        .border-left-warning {
            border-left: .25rem solid #f6c23e!important;
        }
 
        .border-left-danger {
            border-left: .25rem solid #e74a3b!important;
        }

        .mb-4, .my-4 {
            margin-bottom: 1.5rem!important;
        }

        .pb-2, .py-2 {
            padding-bottom: .5rem!important;
        }

        .h-100 {
            height: 100%!important;
        }

        .shadow {
            box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #e3e6f0;
            border-radius: .35rem;
        }

        .align-items-center {
            align-items: center!important;
        }

        .no-gutters {
            margin-right: 0;
            margin-left: 0;
        }

        .mr-2, .mx-2 {
            margin-right: .5rem!important;
        }

        .col {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
        }

        .col {
            position: relative;
            width: 100%;
            padding-right: .75rem;
            padding-left: .75rem;
        }
 
        .text-xs {
            font-size: 1.0rem;
        }

        .text-md {
            font-size: 1.2rem;
        }

        .text-success {
            color: #1cc88a!important;
        }

        .text-danger {
            color: #e74a3b!important;
        }

        .text-danger2{
            color: #eb6e62!important;
        }

        .text-danger3{
            color: #ee8075!important;
        }

        .font-weight-bold {
            font-weight: 700!important;
        }

        .dropdown .dropdown-menu .dropdown-header, .sidebar .sidebar-heading, .text-uppercase {
            text-transform: uppercase!important;
        }

        .mb-1, .my-1 {
            margin-bottom: .25rem!important;
        }  

        .text-gray-800 {
            color: #5a5c69!important;
        }

        .h5, h5 {
            font-size: 1.8rem;
        }

        .mb-0, .my-0 {
            margin-bottom: 0!important;
            margin-top: 0!important;
        }

        .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
            margin-bottom: .5rem;
            font-weight: 400;
            line-height: 1.2;
        }

        .col-auto {
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;
        }

        .text-gray-300 {
            color: #dddfeb!important;
        }

        /*** NEW CARDS *****/
            .m-t-45 {
                margin-top: 45px !important;
            }

            .card {
                position: relative;
                display: flex;
                flex-direction: column;
                min-width: 0;
                word-wrap: break-word;
                background-color: #fff;
                background-clip: border-box;
                -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
            }

            .align-items-center {
                align-items: center !important;
            }

            .justify-content-center {
                justify-content: center !important;
            }

            .border-0 {
                border: 0 !important;
            }

            .card .gradient-box {
                width: 75px;
                height: 75px;
            }

            .gradient-box {
                width: 100px;
                height: 100px;
                border-radius: 4px;
                margin-top: -30px;
                -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
            }

            .gradient-box i {
                color: #fff;
                font-size: 42px;
            }

            .steelblue-gradient {
                background: #6F96C3;
                background: -moz-linear-gradient(-45deg, #6F96C3 0%, #416590 100%);
                background: -webkit-linear-gradient(-45deg, #6F96C3 0%, #416590 100%);
                background: linear-gradient(to -45deg, #6F96C3 0%, #416590 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6F96C3', endColorstr='#416590',GradientType=1 );
            }

            .ml-3, .mx-3 {
                margin-left: 1rem !important;
            }

            .ml-auto, .mx-auto {
                margin-left: auto !important;
            }

            .reference-card button {
                font-size: 13px;
            }

            .text-violetblue {
                color: #4072EE !important;
            }

            .btn-link {
                font-weight: 400;
                color: #4072EE;
                text-decoration: none; 
            }
            .btn-link:hover {
                color: #005bee;
                text-decoration: underline; }
            
            .btn-link:focus, .btn-link.focus {
                text-decoration: underline;
                box-shadow: none;
            }
            
            .btn-link:disabled, .btn-link.disabled {
                color: #6c757d;
                pointer-events: none; 
            }

            .h-360 {
                height: 360px;
            }
            .overflow-auto {
                overflow: auto !important;
            }
            .card-body {
                flex: 1 1 auto;
                padding: 1.25rem;
            }

            table {
                border-spacing: 0 !important;
                border-collapse: separate !important;
            }

            .progress, .progres-bar {
                width: 100px;
                padding: 0;
                margin: 0;
            }

            .mb-0, .my-0 {
                margin-bottom: 0 !important;
            }

            .airforceblue {
                background: #597EAA; 
            }

            td {padding: 0;}

            /** PANEL DE GRÁFICOS ALIMENTACIÓN **/
            .navyblue-gradient {
                background: #0064A9;
                background: -moz-linear-gradient(-45deg, #0064A9 0%, #004B80 100%);
                background: -webkit-linear-gradient(-45deg, #0064A9 0%, #004B80 100%);
                background: linear-gradient(to -45deg, #0064A9 0%, #004B80 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0064A9', endColorstr='#004B80',GradientType=1 );
            }

            .p-0 {
                padding: 0 !important;
            }
            
            /** TIMELINE **/
            .lightgreen-gradient {
                background: #61d3d4;
                background: -moz-linear-gradient(-45deg, #3d9a9a 0%, #61d3d4 100%);
                background: -webkit-linear-gradient(-45deg, #3d9a9a 0%, #61d3d4 100%);
                background: linear-gradient(to -45deg, #3d9a9a 0%, #61d3d4 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61d3d4', endColorstr='#3d9a9a',GradientType=1 );
            }

            li {
                display: list-item;
                text-align: -webkit-match-parent;
            }

            *, *::before, *::after {
                box-sizing: border-box;
            }

            .pl-0, .px-0 {
                padding-left: 0 !important;
            }

            .ml-0, .mx-0 {
                margin-left: 0 !important;
            }

            ol, ul, dl {
                margin-top: 0;
                margin-bottom: 1rem;
            }

            ul {
                display: block;
                list-style-type: disc;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 40px;
            }

            i {
                font-style: italic;
            }

            li {
                display: list-item;
                text-align: -webkit-match-parent;
            }

            [class^="icon2-"], [class*=" icon2-"] {
                font-family: 'icomoon2' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            .timeline {
                list-style-type: none;
                position: relative;
                margin-left: 30px; 
            }
            
            .timeline:before {
                content: ' ';
                background: #d4d9df;
                display: inline-block;
                position: absolute;
                left: 20px;
                width: 1px;
                height: calc(100% - 22px); 
            }
            
            .timeline li {
                margin: 0 0 15px;
                padding-left: 0px;
                position: relative; 
            }
            
            .timeline li:first-child {
                margin: -20px 0 5px 0; 
            }

            .timeline li:last-child {
                margin: 0 0 -10px 0; 
            }
            
            .timeline li .time {
                font-size: 12px; 
            }

            .timeline li p {
                margin-left: 50px; 
            }

            .timeline li p strong {
                font-family: "Conv_Proxima Nova Bold"; 
            }

            .timeline li small {
                vertical-align: top;
                margin-left: 50px;
                color: rgba(93, 93, 93, 0.7); 
            }

            em {
                color: rgba(93, 93, 93, 0.7);
            }

            .timeline li i {
                position: absolute;
                top: 11px;
                left: 12px; 
            }

            .timeline li:before {
                content: ' ';
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                left: 0;
                width: 38px;
                height: 38px;
                border: 2px solid;
                background: #fff; 
            }

            .timeline li.shamrock i {
                color: #4AD991; 
            }

            .timeline li.shamrock:before {
                border-color: #4AD991; 
            }

            .timeline li.perano i {
                color: #A3A1FB; 
            }

            .timeline li.perano:before {
                border-color: #A3A1FB; 
            }

            .timeline li.brinkpink i {
                color: #FF7285; 
            }

            .timeline li.brinkpink:before {
                border-color: #FF7285; 
            }

            .timeline li.yellow i {
                color: #F1CB2E;
            }

            .timeline li.yellow:before {
                border-color: #F1CB2E; 
            }
            .timeline .time {
                position: absolute;
                left: -30px; 
            }

            /** CONTADORES **/
            .stats {
                background: #fff;
                -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
                border-radius: 0px 0px 10px 10px;
                padding-bottom: 15px;
            }

            .p-r-15 {
                padding-right: 15px !important;
            }

            .p-l-15 {
                padding-left: 15px !important;
            }

            .p-t-15 {
                padding-top: 15px !important;
            }

            .text-lg {
                font-size: 16px;
            }

            .mb-2, .my-2 {
                margin-bottom: 0.5rem !important;
            }

            p {
                margin-top: 0;
                margin-bottom: 0.5rem;
            }

            .sky-gradient {
                background: #0098ff;
                background: -moz-linear-gradient(-45deg, #0098ff 0%, #1684ce 100%);
                background: -webkit-linear-gradient(-45deg, #0098ff 0%, #1684ce 100%);
                background: linear-gradient(to -45deg, #0098ff 0%, #1684ce 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0098ff', endColorstr='#1684ce',GradientType=1 );
            }

            .green-gradient {
                background: #34a515;
                background: -moz-linear-gradient(-45deg, #34a515 0%, #5ace39 100%);
                background: -webkit-linear-gradient(-45deg, #34a515 0%, #5ace39 100%);
                background: linear-gradient(to -45deg, #34a515 0%, #5ace39 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34a515', endColorstr='#5ace39',GradientType=1 );
            }

            .cell-gradient {
                background: #384B62;
                background: -moz-linear-gradient(-45deg, #384B62 0%, #6F96C3 100%);
                background: -webkit-linear-gradient(-45deg, #384B62 0%, #6F96C3 100%);
                background: linear-gradient(to -45deg, #384B62 0%, #6F96C3 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#384B62', endColorstr='#6F96C3',GradientType=1 );
            }

            .pink-gradient {
                background: #B21262;
                background: -moz-linear-gradient(-45deg, #B21262 0%, #D35C93 100%);
                background: -webkit-linear-gradient(-45deg, #B21262 0%, #D35C93 100%);
                background: linear-gradient(to -45deg, #B21262 0%, #D35C93 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B21262', endColorstr='#D35C93',GradientType=1 );
            }

            .text-h2 {
                margin-top: -20px;
                font-size: 3em;
            }
    script.
        var datos = [];
        var fechas = [];
        var total = 0;
        var mes = 0;
        var dia = 0;

        $(document).ready( function(){
            //obtenerCompras();
            obtenerAlimentacion();
            obtenerHistorial();
        })

        function obtenerCompras(){
            var ctx = document.getElementById('myChart');

            $.getJSON('/obtener/indicadores/compras', (data)=>{
                /*data.indicators.forEach(i => {
                    datos.push(i.total);
                    fechas.push(i.fecha);
                });*/

                $('#span_total_2020').text(FormatMoney(true,parseFloat(data.total)));
                $('#span_total_2018').text(FormatMoney(true,parseFloat(data.total2018)));
                $('#span_total_2019').text(FormatMoney(true,parseFloat(data.total2019)));

                $('#span_mes').text(FormatMoney(true, parseFloat(data.mes)));
                $('#span_mes_2018').text(FormatMoney(true, parseFloat(data.mes2018)));
                $('#span_mes_2019').text(FormatMoney(true, parseFloat(data.mes2019)));                
                
                $('#span_dia_2019').text(FormatMoney(true,parseFloat(data.dia2019)));
                $('#span_dia_2018').text(FormatMoney(true,parseFloat(data.dia2018)));
                $('#span_dia').text(FormatMoney(true,parseFloat(data.dia)));

                if(parseFloat(data.total) > parseFloat(data.total2019)){
                    if(parseFloat(data.total) > parseFloat(data.total2018)){
                        $('#border_ano_2020').removeClass('border-left-success');
                        $('#border_ano_2020').addClass('border-left-danger');
                        $('#texto_ano_2020').removeClass('text-success');
                        $('#texto_ano_2020').addClass('text-danger');
                        $('#texto_ano_cant_2020').removeClass('text-gray-800');
                        $('#texto_ano_cant_2020').addClass('text-danger2');
                        $('#icon_ano_2020').removeClass('text-gray-300');
                        $('#icon_ano_2020').addClass('text-danger3');
                    } else {
                        $('#border_ano_2018').removeClass('border-left-info');
                        $('#border_ano_2018').addClass('border-left-danger');
                        $('#texto_ano_2018').removeClass('text-success');
                        $('#texto_ano_2018').addClass('text-danger');
                        $('#texto_ano_cant_2018').removeClass('text-gray-800');
                        $('#texto_ano_cant_2018').addClass('text-danger2');
                        $('#icon_ano_2018').removeClass('text-gray-300');
                        $('#icon_ano_2018').addClass('text-danger3');
                    }
                } else {
                    $('#border_ano_2019').removeClass('border-left-primary');
                    $('#border_ano_2019').addClass('border-left-danger');
                    $('#texto_ano_2019').removeClass('text-success');
                    $('#texto_ano_2019').addClass('text-danger');
                    $('#texto_ano_cant_2019').removeClass('text-gray-800');
                    $('#texto_ano_cant_2019').addClass('text-danger2');
                    $('#icon_ano_2019').removeClass('text-gray-300');
                    $('#icon_ano_2019').addClass('text-danger3');
                }

                if(parseFloat(data.mes) > parseFloat(data.mes2019)){
                    if(parseFloat(data.mes) > parseFloat(data.mes2018)){
                        $('#border_mes_2020').removeClass('border-left-success');
                        $('#border_mes_2020').addClass('border-left-danger');
                        $('#texto_mes_2020').removeClass('text-success');
                        $('#texto_mes_2020').addClass('text-danger');
                        $('#texto_mes_cant_2020').removeClass('text-gray-800');
                        $('#texto_mes_cant_2020').addClass('text-danger2');
                        $('#icon_mes_2020').removeClass('text-gray-300');
                        $('#icon_mes_2020').addClass('text-danger3');
                    } else {
                        $('#border_mes_2018').removeClass('border-left-info');
                        $('#border_mes_2018').addClass('border-left-danger');
                        $('#texto_mes_2018').removeClass('text-info');
                        $('#texto_mes_2018').addClass('text-danger');
                        $('#texto_mes_cant_2018').removeClass('text-gray-800');
                        $('#texto_mes_cant_2018').addClass('text-danger2');
                        $('#icon_mes_2018').removeClass('text-gray-300');
                        $('#icon_mes_2018').addClass('text-danger3');
                    }
                } else {
                    $('#border_mes_2019').removeClass('border-left-primary');
                    $('#border_mes_2019').addClass('border-left-danger');
                    $('#texto_mes_2019').removeClass('text-primary');
                    $('#texto_mes_2019').addClass('text-danger');
                    $('#texto_mes_cant_2019').removeClass('text-gray-800');
                    $('#texto_mes_cant_2019').addClass('text-danger2');
                    $('#icon_mes_2019').removeClass('text-gray-300');
                    $('#icon_mes_2019').addClass('text-danger3');
                }

                if(parseFloat(data.dia) > parseFloat(data.dia2019)){
                    if(parseFloat(data.dia) > parseFloat(data.dia2018)){
                        $('#border_dia_2020').removeClass('border-left-success');
                        $('#border_dia_2020').addClass('border-left-danger');
                        $('#texto_dia_2020').removeClass('text-success');
                        $('#texto_dia_2020').addClass('text-danger');
                        $('#texto_dia_cant_2020').removeClass('text-gray-800');
                        $('#texto_dia_cant_2020').addClass('text-danger2');
                        $('#icon_dia_2020').removeClass('text-gray-300');
                        $('#icon_dia_2020').addClass('text-danger3');
                    } else {
                        $('#border_dia_2018').removeClass('border-left-info');
                        $('#border_dia_2018').addClass('border-left-danger');
                        $('#texto_dia_2018').removeClass('text-info');
                        $('#texto_dia_2018').addClass('text-danger');
                        $('#texto_dia_cant_2018').removeClass('text-gray-800');
                        $('#texto_dia_cant_2018').addClass('text-danger2');
                        $('#icon_dia_2018').removeClass('text-gray-300');
                        $('#icon_dia_2018').addClass('text-danger3');
                    }
                } else {
                    $('#border_dia_2019').removeClass('border-left-primary');
                    $('#border_dia_2019').addClass('border-left-danger');
                    $('#texto_dia_2019').removeClass('text-primary');
                    $('#texto_dia_2019').addClass('text-danger');
                    $('#texto_dia_cant_2019').removeClass('text-gray-800');
                    $('#texto_dia_cant_2019').addClass('text-danger2');
                    $('#icon_dia_2019').removeClass('text-gray-300');
                    $('#icon_dia_2019').addClass('text-danger3');
                }

                /*
                // Gráficas de Parámetros
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'line',

                    // The data for our dataset
                    data: {
                        labels: fechas,
                        datasets: [
                            {
                                label: 'Total',
                                borderColor: 'rgb(66,133,244)',
                                backgroundColor: 'rgb(66,133,244)',
                                fill: false,
                                data: datos
                            }
                        ],
                    },
                    options: {
                        title: {
                            display: false
                        },
                        gridLines: {
                            display: true,
                            drowBorder: true,
                            drawOnChartArea: false
                        },
                        responsive: true                        
                    }
                });*/
            });
        }

        function obtenerAlimentacion(){
            //var cAlimento = document.getElementById('chartAlimento');
            //var cDistribucion = document.getElementById('chartDistribucion').getContext('2d');
            //var cAlimentoDiario = document.getElementById('chartAlimentoDiario');

            $.getJSON('/obtener/indicadores/alimento', (data)=>{
                $('#total').text(parseFloat(data.total).toFixed(2));

                for(let i = 0; i <= data.piscinas.length -1; i ++){
                        rowCount = $('#arts >tbody >tr').length;
                        var valPorce = parseFloat((data.piscinas[i].acumulado * 100) / data.total);

                        $('#alimentos > tbody:last').append(
                        "<tr id='tr" + rowCount + "'>" +
                        "   <td><strong>" + data.piscinas[i].codigo+ "</strong></td> " +
                        "   <td><strong>" + data.piscinas[i].unidad_negocio+ "</strong></td> " +
                        "   <td>" + data.piscinas[i].acumulado.toFixed(2) + "</td> " +
                        "   <td>" +
                                "<div class='progress'>" +
                                    "<div class='progress-bar progress-bar-striped active' role='progressbar' style='width: "+valPorce+"%;' aria-valuenow='"+valPorce+"'></div>" +
                                "</div>" +
                        "   </td>" +
                        "   <td>" +
                                "<span><strong>"+valPorce.toFixed(2)+"%</strong></span>" +
                        "   </td>" +
                        "</tr>")
                    }
                
                /*$('#span_m06').text(" " + parseFloat(data.m06).toFixed(2) + " Kgs.");
                $('#span_m05').text(" " + parseFloat(data.m05).toFixed(2) + " Kgs.");
                $('#span_m07').text(" " + parseFloat(data.m07).toFixed(2) + " Kgs.");
                $('#span_m2_01').text(" " + parseFloat(data.m2_01).toFixed(2) + " Kgs.");
                
                // Sacar total al día
                //var tot = parseFloat(data.m01) + parseFloat(data.m05) + parseFloat(data.m07) + parseFloat(data.m2_01);
                var tot = parseFloat(data.m06) + parseFloat(data.m05) + parseFloat(data.m07) + parseFloat(data.m2_01);
                $('#total_dia').text(tot.toFixed(2));
                
                // Gráfico por día de consumo alimento
                var chart = new Chart(cAlimento, {
                    // The type of chart we want to create
                    type: 'line',

                    // The data for our dataset
                    data: {
                        labels: data.fechas,
                        datasets: [
                            {
                                label: 'Total',
                                borderColor: 'rgb(66,133,244)',
                                backgroundColor: 'rgb(160,194,249',
                                fill: true,
                                data: data.alimento
                            }
                        ],
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Alimento total por día'
                        },
                        gridLines: {
                            display: true,
                            drowBorder: true,
                            drawOnChartArea: true
                        },
                        responsive: true                        
                    }
                });

                var chartDistribucion = new Chart(cDistribucion, {
                    type: 'doughnut',
                    data: {
                        datasets: [{
                            data: [
                                data.m06.toFixed(2),
                                data.m05.toFixed(2),
                                data.m07.toFixed(2),
                                data.m2_01.toFixed(2)
                            ],
                            backgroundColor: [
                                'rgb(66,133,244)',
                                '#E23838',
                                '#5EBD3E',
                                '#973999'
                            ],
                            label: 'Kgs'
                        }],
                        labels: [
                            'M-06',
                            'M-05',
                            'M-07',
                            'M2-01'
                        ]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Distribución de alimento'
                        },
                        animation: {
                            animateScale: true,
                            animateRotate: true
                        }
                    }
                });

                var chartDiario = new Chart(cAlimentoDiario,{
                    type: 'line',
                    data: {
                            labels: data.fechas,
                            datasets: [
                            {
                                label: 'M-06',
                                data: data.m06_list_dia,
                                borderColor: 'rgb(66,133,244)',
                                backgroundColor: 'rgb(66,133,244)',
                                fill: false
                            },
                            {
                                label: 'M2-01',
                                data: data.m2_01_list_dia,
                                borderColor: "#E23838",
                                backgroundColor: "#E23838",
                                fill: false
                            },
                            {
                                label: 'M-05',
                                data: data.m05_list_dia,
                                borderColor: "#009CDF",
                                backgroundColor: "#009CDF",
                                fill: false,
                            },
                            {
                                label: 'M-07',
                                data: data.m07_list_dia,
                                borderColor: "#5EBD3E",
                                backgroundColor: "#5EBD3E",
                                fill: false,
                            }]
                        
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Distribución de alimento por día'
                        },
                        animation: {
                            animateScale: true,
                            animateRotate: true
                        }
                    }
                });*/


            });
        }

        function obtenerHistorial(){
            $.getJSON('/historial', (historial)=>{
                

                for(let i = 0; i <= historial.length -1; i ++){
                    var date = new Date(historial[i].registro)
                    date.setDate( date.getDate() + 1);

                    $('#historial_ul').append(
                        "<li class='" + historial[i].color + "'>" +
                            "<i class='text-lg fas " + historial[i].tipo_logo + "'></i>" +
                            "<p class='mb-1'>" +
                                "<strong> " + historial[i].usuario.nombre  +". </strong>" +
                                "<span>" + historial[i].accion +"</span>" +
                            "</p>" +
                            "<small class='text-md'>" + new Date(date).toLocaleDateString("es-MX",{dateStyle: 'short'}) + " " + historial[i].hora +"</small>" +
                        "</li>"
                    );
                }
            });
        }

        function FormatMoney(bol, valor){
            var total = 0;

            if (bol) {
                total += valor;
            } else {
                total-=valor;
            }
            
            var entero = '';
            
            Entero_Decimal = total.toString().split('.');
            
            cadena = Entero_Decimal[0].split('').reverse().join('');
            
            for (var z = cadena.length; z >=0; z--) {
                numero = cadena.charAt(z)
                
                if ((cadena.length >= 4 && z ==3 ) || (cadena.length >= 7 && z ==6 ) || (cadena.length >= 10 && z == 9 ) || (cadena.length >= 13 && z ==12 ) || (cadena.length >= 16 && z ==15 )) {
                    numero +=  ",";
                }

                entero += numero;
            }
            
            if(Entero_Decimal[1]) {
                if( Entero_Decimal[1].length == 1){
                    decimales = '.'+ Entero_Decimal[1]+'00';
                } else {
                    decimales = '.'+ Entero_Decimal[1];
                }
                
            } else {
                decimales = '.00';
            }
            
            return "$ " + entero + decimales;
        }
    .row
        // CONTADORES 
        .col-lg-3.col-md-6.col-sm-6.col-12
            .d-flex.p-l-15.p-r-15.p-t-15.justify-content-between.stats
                .gradient-box.d-flex.align-items-center.justify-content-center.green-gradient
                    i.fas.fa-clipboard
                .text-right
                    p.text-lg-mb-2 Requisiciones
                    span.text-h2 
                        strong #{requisiciones}
        .col-lg-3.col-md-6.col-sm-6.col-12
            .d-flex.p-l-15.p-r-15.p-t-15.justify-content-between.stats
                .gradient-box.d-flex.align-items-center.justify-content-center.sky-gradient
                    i.fas.fa-dollar-sign
                .text-right
                    p.text-lg-mb-2 Órdenes
                    span.text-h2
                        strong #{ordenes}
        .col-lg-3.col-md-6.col-sm-6.col-12
            .d-flex.p-l-15.p-r-15.p-t-15.justify-content-between.stats
                .gradient-box.d-flex.align-items-center.justify-content-center.cell-gradient
                    i.fas.fa-dolly
                .text-right
                    p.text-lg-mb-2 Órdenes Ruta
                    span.text-h2
                        strong 20
        .col-lg-3.col-md-6.col-sm-6.col-12
            .d-flex.p-l-15.p-r-15.p-t-15.justify-content-between.stats
                .gradient-box.d-flex.align-items-center.justify-content-center.pink-gradient
                    i.fas.fa-clock
                .text-right
                    p.text-lg-mb-2 New Messages
                    span.text-h2
                        strong --
    .row
        // Tabla de alimentación
        .col-xl-8.col-lg-8.col-md-12
            .m-t-45.reference-card.card
                .d-flex.align-items-center.border-0.card-header
                    .gradient-box.d-flex.align-items-center.justify-content-center.steelblue-gradient
                        i.fas.fa-seedling
                    .ml-3
                        h5 Alimentación
                        
                    label.ml-auto.text-violetblue.btn.btn-link
                        span
                            strong#total
                        |   Kgs
                .table-responsive.h-360.overflow-auto.card-body
                    table#alimentos.table.table-striped.table-hover
                        thead
                            tr
                                th PISCINA
                                th UNIDAD NEGOCIO
                                th KG ACUMULADO
                                th %   
                                th .
                        tbody
        
        // Historial
        .col-xl-4.col-lg-4.col-md-12
            .m-t-45.timeline-card.card
                .d-flex.align-items-center.border-0.card-header
                    .gradient-box.d-flex.align-items-center.justify-content-center.lightgreen-gradient
                        i.fas.fa-history
                    .ml-3
                        h5 Historial
                .h-360.overflow-auto.card-body
                    ul.timeline.ml-0.pl-0#historial_ul
                        //li.shamrock
                            i.text-lg.fas.fa-user-plus
                            p.mb-1
                                strong John Doe
                                | , started following you on Instagram
                            small.text-md 4 hours ago
                        //li.perano
                            i.text-lg.fas.fa-cart-plus
                            p.mb-1
                                strong
                                | Invoice for 30 hours of calls has paid
                            small.text-md 8 hours ago
                        //li.brinkpink
                            i.text-lg.fas.fa-lock
                            p.mb-1
                                strong
                                | You’ve logged in on a new device
                            small.text-md 2 days ago
                        //li.yellow
                            i.text-lg.fas.fa-envelope
                            p.mb-1
                                strong
                                | You’ve a new message on Facebook
                            small.text-md 3 days ago
                        //li.shamrock
                            i.text-lg.fas.fa-user-plus
                            p.mb-1
                                strong
                                | You’ve a new message on Facebook
                            small.text-md 3 days ago

        // Gráficos de alimentación
        .col-sm-12
            .m-t-45.sale-card.card
                .d-flex.align-items-center.border-0.card-header
                    .gradient-box.d-flex.align-items-center.justify-content-center.navyblue-gradient
                        i.fas.fa-chart-area
                    .ml-3
                        h5 Gráficos de Alimentación
                        
                    //label.ml-auto.text-violetblue.btn.btn-link
                        span
                            strong#total
                        |   Kgs
                .p-0.card-body
                    .col-xl-4.col-lg-6.col-md-12
    //.row
        .col-lg-12
            h2.page-header ¡Bienvenido #{user.nombre}!
    //if user.permisos == 'compras' || user.permisos == 'developer'
        .row
            .col-lg-3.col-md-6
                .panel.panel-primary
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fas.fa-list-ol.fa-5x
                            .col-xs-9.text-right
                                .huge #{requisiciones}
                                div Req. Nuevas
                    a(href='/requisiciones/requisiciones/nuevas')
                        .panel-footer
                            span.pull-left Ver Detalles
                            span.pull-right
                                i.fas.fa-eye
                            .clearfix
            .col-lg-3.col-md-6
                .panel.panel-green
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fas.fa-hand-holding-usd.fa-5x
                            .col-xs-9.text-right
                                .huge #{cotizaciones}
                                div Cotizaciones Nuevas
                    a(href='/externos/cotizaciones/nuevas')
                        .panel-footer
                            span.pull-left Ver Detalles
                            span.pull-right
                                i.fas.fa-eye
                            .clearfix
            .col-lg-3.col-md-6
                .panel.panel-yellow
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fa.fa-shopping-cart.fa-5x
                            .col-xs-9.text-right
                                .huge #{ordenes}
                                div Órdenes Nuevas
                    a(href='/ordenes/compras/ordenes/nuevas')
                        .panel-footer
                            span.pull-left Ver Detalles
                            span.pull-right
                                i.fas.fa-eye
                            .clearfix
            .col-lg-3.col-md-6
                .panel.panel-red
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fas.fa-times-circle.fa-5x
                            .col-xs-9.text-right
                                .huge #{canceladas}
                                div Req. Canceladas
                    a(href='/requisiciones/requisiciones/canceladas')
                        .panel-footer
                            span.pull-left Ver Detalles
                            span.pull-right
                                i.fas.fa-eye
                            .clearfix
    
    
    //  INDICADORES
    //section.mb-4
        .card.border-left-success.shadow
                .card-body
                    .font-weight-bold.text-uppercase Indicadores
    //.row
        // AÑO EN  CURSO - 2020
        .col-xs-4.mb-4
            .card.border-left-success.shadow
                .card-body
                    - var anio = new Date().getFullYear()
                    .text-md.font-weight-bold.text-primary.text-uppercase Gastos (#{anio})
            .card.border-left-success.shadow#border_ano_2020
                .card-body
                    .text-xs.font-weight-bold.text-primary.text-uppercase#texto_ano_2020 Anual
                    .d-flex.justify-content-between
                        .h5.mb-0.font-weight-bold.text-gray-800#texto_ano_cant_2020
                            span#span_total_2020
                        i.fas.fa-dollar-sign.fa-2x.text-gray-300#icon_ano_2020(style="font-size: 2.5rem")
            .card.border-left-success.shadow#border_mes_2020
                .card-body
                    .text-xs.font-weight-bold.text-primary.text-uppercase#texto_mes_2020  Mensual
                    .d-flex.justify-content-between
                        .h5.mb-0.font-weight-bold.text-gray-800#texto_mes_cant_2020
                            span#span_mes
                        i.fas.fa-dollar-sign.fa-2x.text-gray-300#icon_mes_2020(style="font-size: 2.5rem")
            .card.border-left-success.shadow#border_dia_2020
                .card-body
                    .text-xs.font-weight-bold.text-primary.text-uppercase#texto_dia_2020 Diario
                    .d-flex.justify-content-between
                        .h5.mb-0.font-weight-bold.text-gray-800#texto_dia_cant_2020
                            span#span_dia
                        i.fas.fa-dollar-sign.fa-2x.text-gray-300#icon_dia_2020(style="font-size: 2.5rem")
    
        // UN AÑO ATRAS - 2019
        .col-xs-4.mb-4
            .card.border-left-primary.shadow
                .card-body
                    - var anio_menos_uno = new Date().getFullYear() - 1
                    .text-md.font-weight-bold.text-primary.text-uppercase Gastos (#{anio_menos_uno})
            .card.border-left-primary.shadow#border_ano_2019
                .card-body
                    .text-xs.font-weight-bold.text-primary.text-uppercase#texto_ano_2019  Anual
                    .d-flex.justify-content-between
                        .h5.mb-0.font-weight-bold.text-gray-800#texto_ano_cant_2019
                            span#span_total_2019
                        i.fas.fa-dollar-sign.fa-2x.text-gray-300#icon_ano_2019(style="font-size: 2.5rem")  
            .card.border-left-primary.shadow#border_mes_2019
                .card-body
                    .text-xs.font-weight-bold.text-primary.text-uppercase#texto_mes_2019 Mes
                    .d-flex.justify-content-between
                        .h5.mb-0.font-weight-bold.text-gray-800#texto_mes_cant_2019
                            span#span_mes_2019
                        i.fas.fa-dollar-sign.fa-2x.text-gray-300#icon_mes_2019(style="font-size: 2.5rem")     
            .card.border-left-primary.shadow#border_dia_2019
                .card-body
                    .text-xs.font-weight-bold.text-primary.text-uppercase#texto_dia_2019 Día
                    .d-flex.justify-content-between
                        .h5.mb-0.font-weight-bold.text-gray-800#texto_dia_cant_2019
                            span#span_dia_2019
                        i.fas.fa-dollar-sign.fa-2x.text-gray-300#icon_dia_2019(style="font-size: 2.5rem")     

        // DOS AÑOS ATRAS - 2018
        .col-xs-4.mb-4
            .card.border-left-info.shadow
                .card-body
                    - var anio_menos_dos = new Date().getFullYear() - 2
                    .text-md.font-weight-bold.text-info.text-uppercase Gastos (#{anio_menos_dos})
            .card.border-left-info.shadow#border_ano_2018
                .card-body
                    .text-xs.font-weight-bold.text-info.text-uppercase#texto_ano_2018 Anual
                    .d-flex.justify-content-between
                        .h5.mb-0.font-weight-bold.text-gray-800#texto_ano_cant_2018
                            span#span_total_2018
                        i.fas.fa-dollar-sign.fa-2x.text-gray-300#icon_ano_2018(style="font-size: 2.5rem")
            .card.border-left-info.shadow#border_mes_2018
                .card-body
                    .text-xs.font-weight-bold.text-info.text-uppercase#texto_mes_2018 Mes
                    .d-flex.justify-content-between
                        .h5.mb-0.font-weight-bold.text-gray-800#texto_mes_cant_2018
                            span#span_mes_2018
                        i.fas.fa-dollar-sign.fa-2x.text-gray-300#icon_mes_2018(style="font-size: 2.5rem")     
            .card.border-left-info.shadow#border_dia_2018
                .card-body
                    .text-xs.font-weight-bold.text-info.text-uppercase#texto_dia_2018 Día
                    .d-flex.justify-content-between
                        .h5.mb-0.font-weight-bold.text-gray-800#texto_dia_cant_2018
                            span#span_dia_2018
                        i.fas.fa-dollar-sign.fa-2x.text-gray-300#icon_dia_2018(style="font-size: 2.5rem")  
        
    //.card.border-left-primary
        .card-header
            .d-flex.justify-content-between
                div
                    i.fas.fa-seedling.fa-fw
                    strong Indicadores Alimento
                div 
                    strong Consumido al día: 
                    span#total_dia
                    span  Kgs.
        .card-body
            div.d-flex.justify-content-between
                div 
                    label M06
                    span#span_m06.text-primary
                div 
                    label M05
                    span#span_m05.text-primary
                div 
                    label M07
                    span#span_m07.text-primary
                div 
                    label M2-01
                    span#span_m2_01.text-primary
            .col-xs-4
                canvas#chartDistribucion
            .col-xs-4
                canvas#chartAlimento 
            .col-xs-4
                canvas#chartAlimentoDiario
