extends ../layouts/layout.jade
block contenido
    script.
        $(document).ready( function() {
            $('#puestos').dataTable();

            $('#subMenuDesarrollo').removeClass('hidden');
            $('#spanMenuDesarrollo').removeClass('fa-angle-left');
            $('#spanMenuDesarrollo').addClass('fa-angle-down');
            $('#subMenuPuestos').removeClass('hidden');
            $('#spanMenuPuestos').removeClass('fa-angle-left');
            $('#spanMenuPuestos').addClass('fa-angle-down');
            $('[data-toggle="tooltip"]').tooltip();
        });
    //Termina Javascript
    .row
        .col-lg-12
            h2.page-header 
                i.fas.fa-address-card(style="margin-right: 10px;")
                |   Puestos
    .row
        .col-lg-12.text-right(style="margin-bottom: 25px;") 
            a(href="/puestos/new/puesto")
                i.fas.fa-plus-circle
                |   Nuevo
    table#puestos.table.table-hover
            thead
                th.hidden
                th Posición
                th Vacante
                th Reporta a
                th Estado
                th Acciones
            tbody
                each p in puestos
                    tr(scope="row")
                        td.hidden #{ p._id } 
                        td #{ p.posicion }
                        td #{ p.vacante }
                        td #{ p.reporta }
                        td 
                            if p.estado == "Activo"
                                label.label.label-primary &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{p.estado}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            else if p.estado == "Baja"
                                label.label.label-warning &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{p.estado}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        td  
                            a(href="/puestos/detalles-puesto/#{p.id}", title="Ver detalles", style="margin-right: 15px;")
                                i.fas.fa-eye.text-primary.fa-lg
                            a(href="/puestos/editar/#{p.id}", title="Editar", style="margin-right: 15px;")
                                i.fas.fa-pencil-alt.text-info.fa-lg
                            a(href="/puestos/baja/#{p.id}", title="Baja", style="margin-right: 15px;")
                                i.fas.fa-chevron-circle-down.text-warning.fa-lg
