extends ../../layouts/layout.jade
block contenido
    style.
        .labelSer {
            font-size: 2em; 
            background-color: black; 
            color: white; 
            border-radius: 8px;
        }

        .labelSta {
            color: white;
            font-size: 2em; 
            border-radius: 0 8px 8px 0;
        } 

        @media (max-width: 1366px) and (min-width: 1366px){
            .right-padding {
                margin-right: -100px;
            }
        }

        @media (max-width: 1600px) and (min-width: 1600px){
            .right-padding {
                margin-right: -170px;
            }
        }

        @media (min-width: 1900px){
            .right-padding {
                margin-right: -255px;
            }
        }
    script.
        $(document).ready( function(){

            if($('#rev').text() != ''){
                $('#panelUpdOrd').addClass('hidden');
                $('#buscar').prop('required',true);
                $('#criterio').prop('required',true);
                $('#btnBuscar').prop('disabled',false);
                $('#buscar').prop('disabled',false);
                $('#criterio').prop('disabled',false);
                $('#btnBuscar').removeClass('btn-default');
                $('#btnBuscar').addClass('btn-success');
                $('#frm').attr('action','/ordenes/buscar/producto/2')
                $('#art').removeClass('hidden');
                $('#artTbl').removeClass('hidden');
                $('#subTbl').removeClass('hidden');
                $('#divSubTbl').removeClass('hidden');
                $('#cant').prop('required', true);
                $('#codReq').prop('required', true);
                $('#rowCaCo').removeClass('hidden');
                $('#rowArt').removeClass('hidden');
                $('#rowHead').removeClass('hidden');
                $('#divArt').removeClass('hidden');
            }  

            if($('#artID').text() != ''){
                $('#frm2').prop('action','/ordenes/orden/articulo/actualizar/'+ $('#artID').text()+ '?_method=put');
                alert($('#frm2').prop('action'));
            }

            $('#prov').on('change', function(){
                $('#provI').val(this.value);
            });  

            $('#u_neg').on('change', function(){
                $('#unidNeg').val(this.value);
            });    

            if($('#url').text() != ''){
                url = '../../../../../'+ $('#url').text();
                window.open(url, 'Download');
                $('#url').text('');
            }

            revisarChkUpdate();

            $('#chkUpdateOrd').checkboxpicker({
                offLabel: 'No',
                onLabel: 'Si'
            });

            $('#chkIVA').checkboxpicker({
                offLabel: 'No',
                onLabel: 'Si'
            });

            if($('#chk').val() == 'true'){
                $('#chkIVA').prop('checked', true);
            } else {
                $('#chkIVA').prop('checked', false);
            } 
                        
            $('#chkIVA').checkboxpicker().on('change', function() {
                if($(this).is(":checked") == true){
                    $('#chk').val("true");
                } else {
                    $('#chk').val("false");
                }
            });

            $('#subMenuCompras').removeClass('hidden');
            $('#spanMenuCompras').removeClass('fa-angle-left');
            $('#spanMenuCompras').addClass('fa-angle-down');
            $('#subMenuOrdenes').removeClass('hidden');
            $('#spanMenuOrdenes').removeClass('fa-angle-left');
            $('#spanMenuOrdenes').addClass('fa-angle-down');

            $('#tipoCambio').on('keyup', function(){
                $('#tCamb').val(this.value);
            });

            $('#coment').on('keyup', function(){
                $('#comen').val(this.value);
            });
    
            obtenerfecha();
            obtenerhora();
            $('[data-toggle="tooltip"]').tooltip(); 
        });

        function obtenerfecha(){
            var fecha = new Date()
            var dia = fecha.getDate();
            var mes = fecha.getMonth()+1;
            var anio = fecha.getFullYear();

            if(dia < 10){
                dia = "0"+dia;
            }

            if(mes < 10){
                mes = "0"+mes;
            }

            $('#fecha').text(dia+"/"+mes+"/"+anio);
        }

        function obtenerhora(){
            var tiempo = new Date();
            var horas = tiempo.getHours();
            var minutos = tiempo.getMinutes();
            var segundos = tiempo.getSeconds();
            var dn ="";

            if(horas < 12){
                dn = "a.m.";
            }else{
                dn = "p.m.";
            }

            if(minutos < 10){
                minutos = "0"+minutos;
            }

            if(segundos < 10){
                segundos = "0"+segundos;
            }
                
            $("#hora").text(horas+":"+minutos+":"+segundos+" "+dn+"    ");
            setTimeout('obtenerhora()',1000);
        }

        window.onload = function () { 
            var sub = parseFloat($('#sub').text());
            var iva = parseFloat($('#iva').text());
            var total = parseFloat($('#total').text());
            var nProd = parseFloat($('#numProc').text());
            var nArt = parseFloat($('#numArt').text());
            var id = $('#prov').val();

            for(var i = 0; i < nProd; i++){
               $('#pNeto'+ i).text(FormatMoney(true,parseFloat($('#pNeto'+ i).text())));
            }

            for(var i = 0; i < nArt; i++){
               $('#pArt'+ i).text(FormatMoney(true,parseFloat($('#pArt'+ i).text())));
               $('#pArtC'+ i).text(parseFloat($('#pArtC'+ i).text()).toFixed(2));  
            }

            $('#sub').text(FormatMoney(true,sub));
            $('#iva').text(FormatMoney(true,iva)); 
            $('#total').text(FormatMoney(true,total));

        }

        function revisarChkUpdate(){
            $('#chkUpdateOrd').on('change', function() {
                if($(this).is(":checked") == true){
                    $('#buscar').removeAttr("required");
                    $('#criterio').removeAttr("required");
                    $('#btnBuscar').prop('disabled',true);
                    $('#buscar').prop('disabled',true);
                    $('#criterio').prop('disabled',true);
                    $('#btnBuscar').removeClass('btn-success');
                    $('#btnBuscar').addClass('btn-default');
                    $('#frm2').attr('action', '/ordenes/orden/actualizar/#{orden}?_method=put');
                    $('#art').addClass('hidden');
                    $('#artTbl').addClass('hidden');
                    $('#subTbl').addClass('hidden');
                    $('#divSubTbl').addClass('hidden');
                    $('#cant').prop('required', false);
                    $('#codReq').prop('required', false);
                    $('#rowCaCo').addClass('hidden');
                    $('#rowArt').addClass('hidden');
                    $('#rowHead').addClass('hidden');
                    $('#divArt').addClass('hidden');
                    $('#updArt').addClass('hidden');
                } else {
                    $('#buscar').prop('required',true);
                    $('#criterio').prop('required',true);
                    $('#btnBuscar').prop('disabled',false);
                    $('#buscar').prop('disabled',false);
                    $('#criterio').prop('disabled',false);
                    $('#btnBuscar').removeClass('btn-default');
                    $('#btnBuscar').addClass('btn-success');
                    $('#frm2').attr('action','/ordenes/agregar/producto/idprod/#{orden}')
                    $('#art').removeClass('hidden');
                    $('#artTbl').removeClass('hidden');
                    $('#subTbl').removeClass('hidden');
                    $('#divSubTbl').removeClass('hidden');
                    $('#cant').prop('required', true);
                    $('#codReq').prop('required', true);
                    $('#rowCaCo').removeClass('hidden');
                    $('#rowArt').removeClass('hidden');
                    $('#rowHead').removeClass('hidden');
                    $('#divArt').removeClass('hidden');
                    $('#updArt').removeClass('hidden');
                    $('#frm2').removeClass('hidden');
                }
            });
        }

        function asignarIdProducto(idProd){
            $('#frm2').prop('action', $('#frm2').prop('action').replace('idprod',idProd));
            document.frm2.submit();
        }

        function FormatMoney(bol, valor){
            var total = 0;

            if (bol) {
                total += valor;
            } else {
                total-=valor;
            }
            
            var entero = '';
            
            Entero_Decimal = total.toString().split('.');
            
            cadena = Entero_Decimal[0].split('').reverse().join('');
            
            for (var z = cadena.length; z >=0; z--) {
                numero = cadena.charAt(z)
                
                if ((cadena.length >= 4 && z ==3 ) || (cadena.length >= 7 && z ==6 ) || (cadena.length >= 10 && z == 9 ) || (cadena.length >= 13 && z ==12 ) || (cadena.length >= 16 && z ==15 )) {
                    numero +=  ",";
                }

                entero += numero;
            }
            
            if(Entero_Decimal[1]) {
                if( Entero_Decimal[1].length == 1){
                    decimales = '.'+ Entero_Decimal[1]+'0';
                } else {
                    decimales = '.'+ Entero_Decimal[1];
                }
                
            } else {
                decimales = '.00';
            }
            
            return "$ " + entero + decimales;
        }
    //Termina Javascript
    .row
        .col-lg-12
            h2.page-header 
                i.fas.fa-shopping-cart(style="margin-right: 10px;")
                |   Editar orden
    .row
        .col-lg-6.pull-right.text-right
            span
                | Realiza: &nbsp;&nbsp;&nbsp;
            label
                i.fas.fa-user
                |  #{user.nombre}
        .col-lg-6.pull-left.text-left
            label#fecha(style="margin-right: 10px;")
            label#hora
    .row
        .col-lg-12
            h4.page-header
                i.fas.fa-cart-arrow-down(style="margin-right: 10px;")
                | Datos Orden
    label#url.hidden #{url}
    form#frm(role="form" method="post" action="/ordenes/buscar/producto/2")
        .row
            .col-lg-3.pull-left.right-padding
                label.labelSer
                    |   &nbsp;&nbsp;&nbsp;  #{serie} &nbsp;&nbsp;&nbsp;&nbsp;
            .col-lg-3.pull-left
                if estatus == "Nueva"
                    label.labelSta.label-primary &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{estatus}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                else if estatus == "Generada"
                    label.labelSta.label-success &nbsp;&nbsp;&nbsp;&nbsp; #{estatus} &nbsp;&nbsp;&nbsp;&nbsp;
                else if estatus == "Cancelada" 
                    label.labelSta.label-danger &nbsp;&nbsp;&nbsp;&nbsp;#{estatus}&nbsp;&nbsp;&nbsp;&nbsp;
                else if estatus == "Enviada"
                    label.labelSta.label-warning &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #{estatus} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                else if estatus == "Cerrada"
                    label.labelSta.label-default &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  #{estatus}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            .col-lg-4.pull-right
                .form-group
                    label | Código Orden
                    .input-group
                        span.input-group-addon
                            i.fas.fa-hashtag
                        input#codigo.form-control(readonly type="text" name="codigo" placeholder="Código" value="#{orden}")
        .row
            .col-lg-4
                .form-group
                    label | Criterio de búsqueda
                    .input-group
                        span.input-group-addon
                            i.fas.fa-search-plus
                        select#criterio.form-control(required name="criterio" tabindex="3")
                            option(value="") << Seleccione >>
                            option(value="codigo", selected=("codigo"== criterio)) Código
                            option(value="nombre",  selected=("nombre"== criterio)) Nombre
            .col-lg-6
                .form-group
                    label | Buscar
                    .input-group
                        span.input-group-addon
                            i.fas.fa-search
                        input#buscar.form-control(required type="text" name="buscar" placeholder="Buscar.." value="#{busca}" tabindex="2")                           
            .col-lg-2
                .form-group
                    label &nbsp;
                    .input-group
                        span.input-group-addon
                            i.fa.fa-search.text-success
                        button#btnBuscar.form-control.btn.btn-success(type="submit" tabindex="4")
                            |   Buscar
        .row.hidden
            input#provI(type="text" name="prov" value="#{proveedor}")
            input#unidNeg(type="text" name="unid_nego" value="#{unidad_neg}")
            input#tCamb(type="text" name="tCam" value="#{tipoCambio}")
            input#comen(type="text" name="comen" value="#{comentario}")
            input#chk(type="text" name="iIVA" value="#{incluyeIVA}")
    form#frm2(role="form" name="frm2" method="post" action="/ordenes/agregar/producto/idprod/#{orden}")
        .row
            .col-lg-6
                .form-group
                    label | Proveedor
                    .input-group
                        span.input-group-addon
                            i.fas.fa-search-plus
                        select#prov.form-control(required name="proveedor" tabindex="1" onchange="agregarIDProve()")
                            each p in proveedores
                                option(value=p.id, selected=(p.id == proveedor)) #{p.nombreEmpresa}
            .col-lg-2
                .form-group
                    label | Tipo de Cambio
                    .input-group
                        span.input-group-addon
                            i.fas.fa-hand-holding-usd
                        input#tipoCambio.form-control(type="text" name="tipoCambio" value="#{tipoCambio}" placeholder="00.00" tabindex="5")
            .col-lg-4
                .form-group
                    label |  Unidad de Negocio
                    .input-group
                        span.input-group-addon
                            i.fas.fa-suitcase
                        select#u_neg.form-control(name="unidad_negocio" tabindex="4")
                            option(value="") << Seleccione >>
                            each u in unidades_negocio
                                option(value=u.id, selected=(u.id == unidad_neg)) #{u.nombre}
            .col-lg-3.hidden(style="margin-top: 25px;")
                .form-check
                    input#chkIVA(type="checkbox" name="incluyeIVA" tabindex="6")
                    label(style="margin-left: 15px;")
                        |   ¿Incluye IVA?
        .row
            .col-lg-12
                .form-group
                    label |  Comentario / Observación / Condición
                    .input-group
                        span.input-group-addon
                            i.fas.fa-comment-dots
                        input#coment.form-control(required type="text" name="comentario" placeholder="Comentario / Observación / Condición" value="#{comentario}" tabindex="5")  
        .divider  
        if Object.keys(products).length > 0 || articulo != 'undefined'
            label#rev.hidden #{articulo.codigo}
            .row#rowHead.hidden
                .col-lg-12(style="margin-top: -25px;")
                    h4.page-header
                        i.fas.fa-box(style="margin-right: 10px;")
                        | Datos artículo
            .row#rowArt.hidden
                .col-lg-4
                    .form-group
                        label | Código
                        .input-group
                            span.input-group-addon
                                i.fas.fa-hashtag
                            input.form-control(readonly  type="text" value="#{articulo.codigo}" tabindex="6")
                .col-lg-8
                    .form-group
                        label | Nombre
                        .input-group
                            span.input-group-addon
                                i.fas.fa-hashtag
                            input.form-control(readonly  type="text" value="#{articulo.producto}" tabindex="7")
            .row#rowCaCo
                .col-lg-4
                    .form-group
                        label | Cantidad
                        .input-group
                            span.input-group-addon
                                i.fas.fa-hashtag
                            input#cant.form-control(name="cantidad" type="text" step=0.01 value="#{articulo.cantidad}" placeholder="Cantidad.." tabindex="8")
                .col-lg-4
                    .form-group
                        label | Código Requisición
                        .input-group
                            span.input-group-addon
                                i.fas.fa-hashtag
                            input#codReq.form-control(type="text" name="codigoRequi" value="#{articulo.requisicion}" placeholder="REQ00000" tabindex="9")
        .divider#divArt   
        .row
            .col-lg-6
                .form-check
                    input#chkUpdateOrd(type="checkbox" name="update" tabindex="10")
                    label(style="margin-left: 15px;")
                        |   ¿Actualizar sólo la orden y no los articulos?   
        if Object.keys(products).length > 0
            .row
                .col-lg-12
                    h4.page-header
                        i.fas.fa-list-alt(style="margin-right: 10px;")
                        | Artículos encontrados 
            .row
                .table-responsive
                    table.table.table-striped.table-hover
                        thead
                            tr
                                th Código
                                th Unidad
                                th Nombre
                                th Proveedor
                                th Precio Neto
                                th Acciones
                        tbody
                            label.hidden#numProc #{ Object.keys(products).length }
                            each p, index in products
                                tr
                                    td #{p.codigo}
                                    td #{p.unidad}
                                    td #{p.nombre}
                                    each prov in proveedores
                                        if prov.id == p.proveedor
                                            td #{prov.nombreEmpresa}
                                    td(id="pNeto#{index}") #{p.precioNeto}
                                    td
                                        a(id="#{p.id}" href="#", data-toggle="tooltip", data-placement="top",title="Agregar" onclick="asignarIdProducto(this.id)")
                                            i.fas.fa-plus-circle.text-success.fa-lg
        if Object.keys(articulos).length > 0  
            .row#art
                .col-lg-12
                    h4.page-header
                        i.fas.fa-boxes(style="margin-right: 10px;")
                        | Artículos en orden 
            .row#artTbl
                .table-responsive
                    table.table.table-striped.table-hover
                        thead
                            tr
                                th.text-center Cantidad
                                th.text-center Unidad
                                th.text-center Código
                                th Nombre
                                th Descripción
                                th.text-center Precio Neto
                                th Requisición
                                th Acciones
                        tbody
                            label.hidden#numArt #{ Object.keys(articulos).length }
                            each art, index in articulos
                                tr
                                    td.text-center(id="pArtC#{index}") #{art.cantidad}
                                    td.text-center #{art.unidad}
                                    td.text-center #{art.codigo}
                                    td #{art.producto}
                                    td #{art.descripcion}
                                    td.text-center(id="pArt#{index}") #{art.importe}
                                    td #{art.requisicion}
                                    td
                                        a(href="/ordenes/orden/editar/articulo/#{art.id}/#{orden}", data-toggle="tooltip", data-placement="top", title="Editar", style="margin-right: 10px; color: #057e95;")
                                            i.fas.fa-pencil-alt.fa-lg
                                        a(href="/ordenes/orden/eliminar/articulo/#{art.id}/#{orden}/2", data-toggle="tooltip", data-placement="top",title="Eliminar")
                                            i.fas.fa-minus-circle.text-danger.fa-lg
        .divider#divSubTbl
        .row.pull-right#subTbl
            .rable-respomsive
                table.table.table-striped
                    thead
                    tbody
                        tr
                            td.text-right
                                label
                                    | Subtotal
                            td.text-right 
                            td.text-right#sub #{subtotal}
                        tr
                            td.text-right
                                label
                                    | I.V.A
                            td.text-right 
                            td.text-right#iva #{iva}
                        tr
                            td.text-right
                                label
                                    | Total
                            td.text-right 
                            td.text-right#total #{total}
        if Object.keys(articulos).length > 0  
            .divider
            .row(style="margin-bottom: 20px;")
                .col-lg-2.pull-right(style="margin-left: -25px;")
                    .form-group
                        .input-group
                            span.input-group-addon.text-danger
                                i.fas.fa-file-pdf.text-danger
                            a.btn.btn-danger.form-control(href="/ordenes/orden/generar/pdf/#{orden}/2")
                                |   PDF
                .col-lg-2.pull-right(style="margin-left: -25px;")
                    .form-group
                        .input-group
                            span.input-group-addon.text-primary
                                i.fas.fa-envelope.text-primary
                            a.btn.btn-primary.form-control(href="/ordenes/orden/enviar/#{orden}") 
                                |   Enviar
                label#artID.hidden #{articulo.id}
                .col-lg-2.pull-right
                    .form-group
                        .input-group
                            span.input-group-addon.text-success
                                i.fas.fa-sync-alt.text-success
                            input.btn.btn-success.form-control(type="submit" value="Actualizar" tabindex="5" style="margin-right: 15px;")