extends ../../layouts/layout.jade
block contenido
    style.
        .labelFol {
            font-size: 2em; 
            background-color: black; 
            color: white; 
            border-radius: 8px;
        }
        .labelSta {
            margin-left: -20px;
            color: white;
            font-size: 2em; 
            border-radius: 8px;
        }

        @media (max-width: 1366px) and (min-width: 1366px){
            .right-padding {
                margin-right: -100px;
            }
        }

        @media (max-width: 1600px) and (min-width: 1600px){
            .right-padding {
                margin-right: -170px;
            }
        }

        @media (min-width: 1900px){
            .right-padding {
                margin-right: -255px;
            }
        }
    script.
        var articulos = [];

        $(document).ready( function(){
            $('#subMenuCompras').removeClass('hidden');
            $('#spanMenuCompras').removeClass('fa-angle-left');
            $('#spanMenuCompras').addClass('fa-angle-down');
            $('#subMenuOrdenes').removeClass('hidden');
            $('#spanMenuOrdenes').removeClass('fa-angle-left');
            $('#spanMenuOrdenes').addClass('fa-angle-down');       
            $('#arts').dataTable();

            obtenerfecha();
            obtenerhora();
            $('[data-toggle="tooltip"]').tooltip();
        });

        function obtenerfecha(){
            var fecha = new Date()
            var dia = fecha.getDate();
            var mes = fecha.getMonth()+1;
            var anio = fecha.getFullYear();

            if(dia < 10){
                dia = "0"+dia;
            }

            if(mes < 10){
                mes = "0"+mes;
            }

            $('#fecha').text(dia+"/"+mes+"/"+anio);
        }

        function obtenerhora(){
            var tiempo = new Date();
            var horas = tiempo.getHours();
            var minutos = tiempo.getMinutes();
            var segundos = tiempo.getSeconds();
            var dn ="";

            if(horas < 12){
                dn = "a.m.";
            }else{
                dn = "p.m.";
            }

            if(minutos < 10){
                minutos = "0"+minutos;
            }

            if(segundos < 10){
                segundos = "0"+segundos;
            }
                
            $("#hora").text(horas+":"+minutos+":"+segundos+" "+dn+"    ");
            setTimeout('obtenerhora()',1000);
        }

        function editarCantidad(index){
            convetirArray();
            for(var i=0; i < articulos.lenght; i++){
                alert(articulos[i]);
                if(i == index){
                    $('#cant').val(articulos[i].cantidad);
                    $('#unid').text(articulos[i].unidad);
                    $('#codi').text(articulos[i].codigo);
                    $('#orden').text(articulos[i].orden.serie);
                }
            }
        }

        function convetirArray(){
            var obj = new Object();            
            var arr = $('#articulos').val().split("},");

            for(var i = 0; i < arr.length; i ++){
                var aObj = arr[i].replace(/'/g, '');

                obj.id = aObj.split(",")[0].split(":")[1];
                obj.cantidad = aObj.split(",")[1].split(":")[1];
                obj.unidad = aObj.split(",")[2].split(":")[1];
                obj.descripcion = aObj.split(",")[4].split(":")[1];
                obj.codigo = aObj.split(",")[3].split(":")[1];

                articulos.push(obj);
                obj = new Object();

            }
        }

        function eliminarArticulo(index){
            alert(index);
            $("#tr"+index).remove();
            articulos.splice(index, 1);
            $("#articulos").val(articulos);
        }

    //Termina Javascript
    .row
        .col-lg-12
            h2
                i.fas.fa-truck-loading(style="margin-right: 10px;")
                |   Entrada a Inventario de Órden Ruta
            .divider
    .row
        .col-lg-6.pull-right.text-right
            span
                | Envía: &nbsp;&nbsp;&nbsp;
            label
                i.fas.fa-user
                |  #{user.nombre}
        .col-lg-6.pull-left.text-left
            label#fecha(style="margin-right: 10px;")
            label#hora
    .divider
    .row
        .col-lg-12(style="margin-top: 15px;")
            i.fas.fa-bars(style="margin-right: 10px;")
            | Datos Orden Ruta
            .divider
    
    .row
        .col-lg-3.pull-left
            label.labelFol.right-padding
                |   &nbsp;&nbsp; ORD#{oRuta.codigo} &nbsp;&nbsp;
        .col-lg-3.pull-left
            if oRuta.estatus == "Nueva"
                label.labelSta.label-primary &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{oRuta.estatus}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            else if oRuta.estatus == "Generada"
                label.labelSta.label-success &nbsp;&nbsp;&nbsp;&nbsp; #{oRuta.estatus} &nbsp;&nbsp;&nbsp;&nbsp;
            else if oRuta.estatus == "Cancelada" 
                label.labelSta.label-danger &nbsp;&nbsp;&nbsp;&nbsp;#{oRuta.estatus}&nbsp;&nbsp;&nbsp;&nbsp;
            else if oRuta.estatus == "Enviada"
                label.labelSta.label-warning &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #{oRuta.estatus} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            else if oRuta.estatus == "En Ruta"
                label.labelSta(style="background-color: #ffa500;") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #{oRuta.estatus} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            else if oRuta.estatus == "Cerrada"
                label.labelSta.label-default &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  #{oRuta.estatus}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        .col-lg-4.pull-right
            .form-group
                label | Código Envió
                .input-group
                    span.input-group-addon
                        i.fas.fa-hashtag
                    input#codigo.form-control(readonly type="text" value="#{oRuta.id}")
    .row
        .col-lg-12(style="margin-top: 15px;")
            i.fas.fa-truck(style="margin-right: 10px;")
            | Datos de transportación
            .divider
    .row
        .col-lg-4
            .form-group
                label | Unidad
                .input-group
                    span.input-group-addon
                        i.fas.fa-shipping-fast
                    select.form-control(reanonly)
                        option(value="") << Seleccione >>
                        option(value="Trailer Kenworth", selected=("Trailer Kenworth"== oRuta.unidad)) Trailer Kenworth
                        option(value="Camión Pasajeros", selected=("Camión Pasajeros"== oRuta.unidad)) Camión Pasajeros
                        option(value="Doble Rodado #1", selected=("Doble Rodado #1"== oRuta.unidad)) Doble Rodado #1
                        option(value="Doble Rodado #2", selected=("Doble Rodado #2"== oRuta.unidad)) Doble Rodado #2
                        option(value="Tundra", selected=("Tundra"== oRuta.unidad)) Tundra
        .col-lg-6
            .form-group
                label | Chofer
                .input-group
                    span.input-group-addon
                        i.fas.fa-user
                    input.form-control(readonly type="text" value="#{oRuta.chofer}")
    //.row
        .col-lg-12(style="margin-top: 15px;")
            i.fas.fa-boxes(style="margin-right: 10px;")
            | Datos en articulo 
            .divider
    //.row
        .col-lg-2
            .form-group
                label | Cantidad
                .input-group
                    input.form-control#cant(type="text" name="cantidad")
        .col-lg-2
            .form-group
                label | Unidad
                .input-group
                    span#unid
        .col-lg-2
            .form-group
                label | Codio
                .input-group
                    span#codi
        .col-lg-5
            .form-group
                label | Descripción
                .input-group
                    span#desc
    
    .row
        .col-lg-12(style="margin-top: 15px;")
            i.fas.fa-boxes(style="margin-right: 10px;")
            | Artículos en ruta 
            .divider
    input#articulos.hidden(value="#{articulosRuta}")
    //input#artis.hidden(value="#{articulos}")
    //label #{articulos}
    table#arts.table.table-striped.table-hover
        thead 
            th Cantidad
            th Unidad
            th Codigo
            th Descripción
            th Orden
            th Proveedor
            th Acciones
        tbody
            each art, index in articulosRuta
                tr(id="tr#{index}")
                    td.text-right #{parseFloat(art.cantidad).toFixed(3)}
                    td #{art.unidad}
                    td #{art.codigo}
                    td #{art.descripcion}
                    td #{art.orden.serie}
                    td #{art.proveedor.nombreEmpresa}
                    td
                        //a(href="#" onclick="editarCantidad(this.id)" id="#{index}", data-toggle="tooltip", data-placement="top", title="Editar cantidad", style="margin-right: 10px;")
                            i.fas.fa-pencil-alt.text-info.fa-lg
                        a(href="#" onclick="eliminarArticulo(this.id)" id="#{index}", data-toggle="tooltip", data-placement="top", title="Eliminar artículo", style="margin-right: 10px;")
                            i.fas.fa-minus-circle.text-danger.fa-lg
