extends ../layouts/layout.jade
block contenido
    script.
        $(document).ready( function() {
            $('#subMenuRequisiciones').removeClass('hidden');
            $('#spanMenuRequisiciones').removeClass('fa-angle-left');
            $('#spanMenuRequisiciones').addClass('fa-angle-down');  
            
            $('[data-toggle="tooltip"]').tooltip();
            $('#reqs').dataTable({
                "order": [[ 1, "desc" ]]
            });

            if($('#url').text() != ''){
                url = '../../'+ $('#url').text();
                window.open(url, 'Download');
                $('#url').text('');
            }
        })
    //Termina Javascript
    .row(style="margin-bottom: -5px;")
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
            h2
                i.fas.fa-clipboard-list(style="margin-right: 10px;")
                |   Requisiciones
        .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-right(style="margin-top: 25px;")
            a.btn.btn-special(href="/requisiciones/new/requisicion", style="margin-right: 5px;")
                i.fas.fa-plus-circle
                |   Nueva
            if user.permisos != "usuario"
                a.btn.btn-special(href="#reports" data-toggle="modal" data-target="#reports" style="margin-right: 5px;")
                    i.fas.fa-file-pdf
                    |   Reportes
            a.btn.btn-special(href="/requisiciones/old")
                    i.fas.fa-glasses.fa-lg
                    |   Requisiciones Anteriores               
    .divider

    label.hidden #{user.autorizador}            
    label#url.hidden #{url}
    .row
        table#reqs.table.table-striped.table-hover
            thead
                th.hidden(scope="col")
                    |   Código
                th(scope="col")
                    |   Código Req.
                th(scope="col")
                    |   Área
                th(scope="col")
                    | Solicita
                // th(scope="col")
                //    |   Responsable
                th(scope="col")
                    |   Estatus
                th(scope="col")
                    |   Fecha
                th(scope="col")
                    |   Hora
                th(scope="col")
                    |   Acciones
            tbody
                each req in requisiciones
                    tr(scope="row")
                        td.hidden #{ req._id }
                        td #{ req.codigoRequi }
                        td #{ req.area }
                        td #{ req.solicita }
                        td 
                            if req.estatus == "Nueva"
                                label.label.label-primary &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{req.estatus}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            else if req.estatus == "Autorizada"
                                label.label.label-success &nbsp;&nbsp;&nbsp;&nbsp;#{req.estatus}&nbsp;&nbsp;&nbsp;&nbsp;
                            else if req.estatus == "Cancelada" 
                                label.label.label-danger &nbsp;&nbsp;&nbsp;&nbsp;#{req.estatus}&nbsp;&nbsp;&nbsp;&nbsp;
                            else if req.estatus == "Compra parcial"
                                label.label.label-warning #{req.estatus}&nbsp;
                            else if req.estatus == "Detenida"
                                label.label.label-default  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{req.estatus}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            else if req.estatus == "Cerrada"
                                label.label.label-close &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  #{req.estatus}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        if (new Date(req.fecha).getMonth() + 1) < 10
                                if (new Date(req.fecha).getDate()) < 10
                                    td.text-center #{ '0' + new Date(req.fecha).getDate()+ '/0' + (new Date(req.fecha).getMonth() + 1)+ '/' + new Date(req.fecha).getFullYear()}
                                else         
                                    td.text-center #{ new Date(req.fecha).getDate()+ '/0' + (new Date(req.fecha).getMonth() + 1)+ '/' + new Date(req.fecha).getFullYear()}
                            else
                                if (new Date(req.fecha).getDate()) < 10
                                    td.text-center #{ '0' + new Date(req.fecha).getDate()+ '/' + (new Date(req.fecha).getMonth() + 1)+ '/' + new Date(req.fecha).getFullYear()}
                                else 
                                    td.text-center #{ new Date(req.fecha).getDate()+ '/' + (new Date(req.fecha).getMonth() + 1)+ '/' + new Date(req.fecha).getFullYear()}
                        td #{ req.hora }
                        td.text-center
                            a(href="/requisiciones/requisicion/ver/#{req.id}", data-toggle="tooltip", data-placement="top",title="Ver detalles", style="margin-right: 5px;")
                                i.fas.fa-eye.text-primary.fa-lg
                            if user.autorizador.toString() == 'false' || (req.estatus == 'Autorizada' || req.estatus == "Cerrada" || req.estatus == "Compra parcial" || req.estatus == "Detenida") 
                                a.disabled(href="/requisiciones/requisicion/autorizar/#{req.id}", data-toggle="tooltip", data-placement="top", title="Autorizar", style="margin-right: 5px;")
                                    i.fas.fa-check-circle.text-default.fa-lg
                            else
                                a(href="/requisiciones/requisicion/autorizar/#{req.id}", data-toggle="tooltip", data-placement="top", title="Autorizar", style="margin-right: 5px;")
                                    i.fas.fa-check-circle.text-success.fa-lg
                            if  (user.permisos != "developer" || user.permisos != "admin") && req.estatus != "Cancelada" 
                                a(href="/requisiciones/requisicion/cancelar/#{req.id}", data-toggle="tooltip", data-placement="top", title="Cancelar", style="margin-right: 5px;")
                                    i.fas.fa-times-circle.text-danger.fa-lg
                            else if  req.estatus == "Autorizada" || req.estatus == "Cerrada" || req.estatus == "Compra parcial" || req.estatus == "Cancelada" || req.estatus == "Detenida"
                                a.disabled(href="/requisiciones/requisicion/cancelar/#{req.id}", data-toggle="tooltip", data-placement="top", title="Cancelar", style="margin-right: 5px;")
                                    i.fas.fa-times-circle.text-default.fa-lg
                            else
                                a(href="/requisiciones/requisicion/cancelar/#{req.id}", data-toggle="tooltip", data-placement="top", title="Cancelar", style="margin-right: 5px;")
                                    i.fas.fa-times-circle.text-danger.fa-lg
                            a(href="#", data-toggle="tooltip", data-placement="top", title="Re-generar", style="margin-right: 5px;")
                                i.fas.fa-recycle.text-success.fa-lg
                            if  user.permisos != "developer" || user.permisos != "admin"
                                a(href="/requisiciones/requisicion/editar/#{req.id}", data-toggle="tooltip", data-placement="top", title="Editar", style="margin-right: 5px;")
                                    i.fas.fa-pencil-alt.text-info.fa-lg
                            else if   req.estatus == 'Cerrada' || req.estatus == 'Autorizada' || req.estatus == 'Compra parcial'
                                a.disabled(href="/requisiciones/requisicion/editar/#{req.id}", data-toggle="tooltip", data-placement="top", title="Editar", style="margin-right: 5px;")
                                    i.fas.fa-pencil-alt.text-default.fa-lg
                            else 
                                a(href="/requisiciones/requisicion/editar/#{req.id}", data-toggle="tooltip", data-placement="top", title="Editar", style="margin-right: 5px;")
                                    i.fas.fa-pencil-alt.text-info.fa-lg
                            if req.estatus == 'Autorizada' || req.estatus == 'Compra parcial' || req.estatus == 'Cerrada' || req.estatus == "Detenida"
                                a.disabled(href="/requisiciones/requisicion/eliminar/#{req.id}", data-toggle="tooltip", title="Eliminar", style="margin-right: 5px;" )
                                    i.fas.fa-minus-circle.text-default.fa-lg
                            else
                                a(data-toggle="tooltip" href="/requisiciones/requisicion/eliminar/#{req.id}" title="Eliminar", style="margin-right: 5px;")
                                    i.fas.fa-minus-circle.text-danger.fa-lg
                            if req.estatus == 'Nueva' || req.estatus == 'Compra parcial'
                                a.disabled(href="/requisiciones/requisicion/cerrar/#{req.id}", data-toggle="tooltip", title="Cerrar")
                                    i.fas.fa-check-double.text-dafault.fa-lg
                            else
                                a(data-toggle="tooltip" href="/requisiciones/requisicion/cerrar/#{req.id}" title="Cerrar")
                                    i.fas.fa-check-double.text-dark.fa-lg
        