extends ../layouts/layout.jade
block contenido
    script.
        $(document).ready( function() {
            $('#puestos').DataTable();

            $('#subMenuDesarrollo').removeClass('hidden');
            $('#spanMenuDesarrollo').removeClass('fa-angle-left');
            $('#spanMenuDesarrollo').addClass('fa-angle-down');
            $('#subMenuEvaluacion').removeClass('hidden');
            $('#spanMenuEvaluacion').removeClass('fa-angle-left');
            $('#spanMenuEvaluacion').addClass('fa-angle-down');
            $('[data-toggle="tooltip"]').tooltip();

            sacarAños();
        });
        
        function obtenerfecha(){
            var fecha = new Date()
            var dia = fecha.getDate();
            var mes = fecha.getMonth()+1;
            var anio = fecha.getFullYear();

            if(dia < 10){
                dia = "0"+dia;
            }

            if(mes < 10){
                mes = "0"+mes;
            }

            $('#fecha').text(dia+"/"+mes+"/"+anio);
        }

        function obtenerhora(){
            var tiempo = new Date();
            var horas = tiempo.getHours();
            var minutos = tiempo.getMinutes();
            var segundos = tiempo.getSeconds();
            var dn ="";

            if(horas < 12){
                dn = "a.m.";
            }else{
                dn = "p.m.";
            }

            if(minutos < 10){
                minutos = "0"+minutos;
            }

            if(segundos < 10){
                segundos = "0"+segundos;
            }
                
            $("#hora").text(horas+":"+minutos+":"+segundos+" "+dn+"    ");
            setTimeout('obtenerhora()',1000);
        }

        function sacarAños(){
            var a = $("#actual").text();
            a = parseInt(a);
        }
        
    //Termina Javascript
    .row
        .col-lg-12
            h2.page-header 
                i.fas.fa-list-alt(style="margin-right: 10px;")
                | Objetivos para #{puesto.posicion}
    .row
        .col-lg-6.pull-right.text-right
            span
                | Usuario: &nbsp;&nbsp;&nbsp;
            label
                i.fas.fa-user
                |  #{user.nombre}
        .col-lg-6.pull-left.text-left
            label#fecha(style="margin-right: 10px;")
            label#hora
    //Termina Javascript
    .row
        .col-lg-12
            .form-group
                label#anterior #{anio-1}
                .input-group
                    if anterior
                        a.btn.btn-primary(href="/evaluaciones/objetivos/ver/#{anterior.id}") Ver Objetivos
                    else
                        a.btn.btn-primary(href="/evaluaciones/objetivos/new/#{puesto.id}/#{anio-1}") Definir Objetivos
    .row
        .col-lg-12
            .form-group
                label#actual #{anio}
                .input-group
                    if actual
                        a.btn.btn-primary(href="/evaluaciones/objetivos/ver/#{actual.id}") Ver Objetivos
                    else
                        a.btn.btn-primary(href="/evaluaciones/objetivos/new/#{puesto.id}/#{anio}") Definir Objetivos
    .row
        .col-lg-12
            .form-group
                label#siguiente #{anio+1}
                .input-group
                    if siguiente
                        a.btn.btn-primary(href="/evaluaciones/objetivos/ver/#{siguiente}") Ver Objetivos
                    else
                        a.btn.btn-primary(href="/evaluaciones/objetivos/new/#{puesto.id}/#{anio+1}") Definir Objetivos