extends ../../../layouts/layout.jade
block contenido
    style.
        
    script.
        $(document).ready( function(){
            obtenerfecha();
            obtenerhora(); 

            $('#subMenuAdministracion').removeClass('hidden');
            $('#spanMenuAdministracion').removeClass('fa-angle-left');
            $('#spanMenuAdministracion').addClass('fa-angle-down'); 
            $('#subMenuAdmGranja').removeClass('hidden');
            $('#spanMenuAdmGranja').removeClass('fa-angle-left');
            $('#spanMenuAdmGranja').addClass('fa-angle-down');
            $('#subMenuEstanques').removeClass('hidden');
            $('#spanMenuEstanques').removeClass('fa-angle-left');
            $('#spanMenuEstanques').addClass('fa-angle-down');
            $('#subMenuEstanques').removeClass('hidden');
            $('#spanMenuEstanques').removeClass('fa-angle-left');
            $('#spanMenuEstanques').addClass('fa-angle-down');

            $('#code').on('keyup', function(){
                $('#name').val('Estanque '+ this.value);
            });

            // Mostrar Mapa
            //var mymap = L.map('map').setView([27.307156, -110.423355], 16);
            var mymap = L.map('map').setView([$('#pointerx').val(),$('#pointery').val()], 16);

            L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
                maxZoom: 20,
                subdomains:['mt0','mt1','mt2','mt3']
            }).addTo(mymap);

            // Marcadores en Mapa
            //var marker = L.marker([27.307141, -110.423128]).addTo(mymap);
            var marker = L.marker([$('#markerx').val(),$('#markery').val()]).addTo(mymap);

            
            var points = [];
            var p = $('#locations').val().split(",");

            if(p.lenght == 20){

            }

            var locations = [
                [parseFloat(p[0]), parseFloat(p[1])],
                [parseFloat(p[2]), parseFloat(p[3])],
                [parseFloat(p[4]), parseFloat(p[5])],
                [parseFloat(p[6]), parseFloat(p[7])],
                [parseFloat(p[8]), parseFloat(p[9])],
                [parseFloat(p[10]), parseFloat(p[11])],
                [parseFloat(p[12]), parseFloat(p[13])],
                [parseFloat(p[14]), parseFloat(p[15])],
                [parseFloat(p[16]), parseFloat(p[17])],
                [parseFloat(p[18]), parseFloat(p[19])]
            ];

            alert(locations);

            /*var location = [
                [27.308601, -110.423742],
                [27.308641, -110.423117],
                [27.308630, -110.422525],
                [27.308531, -110.422414],
                [27.304616, -110.422308],
                [27.304465, -110.422385],
                [27.304474, -110.422849],
                [27.304552, -110.422973],
                [27.307053, -110.423906],
                [27.308455, -110.423958]
            ];*/

            var location = locations;

            // Crear diujo del estanque
            var polygon = L.polygon(location).addTo(mymap);

            // Creación de gráficos
            var ctx = document.getElementById('myChart');

            var datos = [];
            var fechas = [];
            var f = $('#fechas').val().split(",");
            var d = ($('#data').val()).split(",");

            $.each( d, function( key, e ) {
                datos.push(e);
            });
            
            $.each( f, function( key, e ) {
                fechas.push(e);
            });
            

            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    //labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                    labels: fechas,
                    datasets: [{
                        label: 'pH',
                        borderColor: 'rgb(66,133,244)',
                        //data: [0, 10, 5, 2, 20, 30, 45]
                        data: datos
                    }]
                },

                // Configuration options go here
                options: {
                    /*animation: {
                        onProgress: function(animation) {
                            progress.value = animation.animationObject.currentStep / animation.animationObject.numSteps;
                        }
                    }*/
                }
            });
        });

        function obtenerfecha(){
            var fecha = new Date()
            var dia = fecha.getDate();
            var mes = fecha.getMonth()+1;
            var anio = fecha.getFullYear();

            if(dia < 10){
                dia = "0"+dia;
            }

            if(mes < 10){
                mes = "0"+mes;
            }

            $("#fecha").text(dia+"/"+mes+"/"+anio+"    ");
        }

        function obtenerhora(){
            var tiempo = new Date();
            var horas = tiempo.getHours();
            var minutos = tiempo.getMinutes();
            var segundos = tiempo.getSeconds();
            var dn ="";

            if(horas < 12){
                dn = "a.m.";
            }else{
                dn = "p.m.";
            }

            if(minutos < 10){
                minutos = "0"+minutos;
            }

            if(segundos < 10){
                segundos = "0"+segundos;
            }
                
            $("#hora").text(horas+":"+minutos+":"+segundos+" "+dn+"    ");

            setTimeout('obtenerhora()',1000);
            //console.log("un segundo mas...");
        }
    .row
        .col-lg-12.col-md-12.col-xs-12
            h2
                i.fas.fa-water(style="margin-right: 10px;")
                |   Detalle de la piscina 
                strong #{ estanque.codigo }
        .divider
    .row
        .col-lg-3.col-sm-3
            .card.card-default
                .card-body.card-5-7
                    span 
                        b Nombre: 
                        |   #{ estanque.nombre}
                    br
                    span 
                        b Módulo: 
                        |   #{ estanque.modulo.nombre}
                    br
                    span 
                        b Tipo: 
                        |   #{ estanque.tipo.nombre}
            .card.card-default
                .card-body.card-5-7
                    h4  Parametros del Día
                    span 
                        b pH: 
                        |   7
                    br
                    span 
                        b °C: 
                        |   25
                    br
                    span 
                        b 0
                        sub
                            b 2
                        b : 
                        |   3ppm
        .col-lg-4.col-sm-6
            #map(style="width: 100%; min-height: 300px;")
        .col-lg-5
            input#locations(type="text" value="#{locations}").hidden
            input#markerx(type="text" value="#{estanque.marker_x}").hidden
            input#markery(type="text" value="#{estanque.marker_y}").hidden
            input#pointerx(type="text" value="#{estanque.pointer_x}").hidden
            input#pointery(type="text" value="#{estanque.pointer_y}").hidden
            input#fechas.hidden(type="text" value="#{fechas}").hidden
            input#data.hidden(type="text" value="#{data}").hidden
            .form-group
                label | Parámetro
                .input-group
                    span.input-group-addon
                        i.fas.fa-vial
                    select#parametro.form-control(name="parametro" tabindex="8")
                        option(value="") << Seleccione >>
                        option(value="ph") pH
                        option(value="ocigeno") Oxigeno
                        option(value="temperatura") Temperatura
                        option(value="salinidad") Salinidad
                        option(value="nivel") Nivel de Agua

            canvas#myChart
    .row
        .col-lg-12.col-md-12.col-xs-12
            h4
                i.fas.fa-flask(style="margin-right: 10px;")
                |   Laboratorio
        .divider


