extends ../../../layouts/layout.jade
block contenido
    style.
        .text-warning{
            color: #f78200;
        }
    script.
        $(document).ready( function(){
            obtenerfecha();
            obtenerhora(); 

            $('#subMenuAdministracion').removeClass('hidden');
            $('#spanMenuAdministracion').removeClass('fa-angle-left');
            $('#spanMenuAdministracion').addClass('fa-angle-down'); 
            $('#subMenuAdmGranja').removeClass('hidden');
            $('#spanMenuAdmGranja').removeClass('fa-angle-left');
            $('#spanMenuAdmGranja').addClass('fa-angle-down');
            $('#subMenuEstanques').removeClass('hidden');
            $('#spanMenuEstanques').removeClass('fa-angle-left');
            $('#spanMenuEstanques').addClass('fa-angle-down');
            $('#subMenuEstanques').removeClass('hidden');
            $('#spanMenuEstanques').removeClass('fa-angle-left');
            $('#spanMenuEstanques').addClass('fa-angle-down');

            $('#code').on('keyup', function(){
                $('#name').val('Estanque '+ this.value);
            });

            // Mostrar Mapa
            var mymap = L.map('map').setView([$('#pointerx').val(),$('#pointery').val()], 16);

            L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
                maxZoom: 18,
                subdomains:['mt0','mt1','mt2','mt3']
            }).addTo(mymap);

            // Marcadores en Mapa
            var marker = L.marker([$('#markerx').val(),$('#markery').val()]).addTo(mymap);
            /*var marker2 = L.geoJson(
                [$('#markerx').val(),$('#markery').val()],
                {
                    //fillColor: getColor(feature.properties.density),
                    fillColor: '#E23838',
                    weight: 2,
                    opacity: 1,
                    color: 'white',
                    dashArray: '3',
                    fillOpacity: 0.7
                }
            ).addTo(mymap);*/
            
            // Puntos en el mapa para dibujar piscina
            var p = $('#locations').val().split(",");
    
            var locations = [
                [parseFloat(p[0]), parseFloat(p[1])],
                [parseFloat(p[2]), parseFloat(p[3])],
                [parseFloat(p[4]), parseFloat(p[5])],
                [parseFloat(p[6]), parseFloat(p[7])],
                [parseFloat(p[8]), parseFloat(p[9])],
                [parseFloat(p[10]), parseFloat(p[11])],
                [parseFloat(p[12]), parseFloat(p[13])],
                [parseFloat(p[14]), parseFloat(p[15])],
            ];

            var location = locations;

            // Crear diujo del estanque
            /*{   "type": "Feature",
                "id": "01",
                "properties": {  
                    "name": "Piscina",
                    "density":56.43},
                    "geometry":{
                        "type": "Polygon",
                        "coordinates": location
                    }
            }*/

            var polygon = L.polygon(location,
                {
                    style: {
                        fillColor: '#E23838',
                        weight: 2,
                        opacity: 1,
                        color: 'white',
                        dashArray: '3',
                        fillOpacity: 0.7
                    }
                }
            ).addTo(mymap);

            // Creación de gráficos
            var ctx = document.getElementById('myChart');
            var ctxPato = document.getElementById('patologicosChart');
            var ctxBactem = document.getElementById('bacteChart');
            var ctxFito = document.getElementById('fitoChart');
            var ctxZoo = document.getElementById('zooChart');
            var ctxNutD = document.getElementById('NutDChart');
            var ctxNutS = document.getElementById('NutSChart');

            /** PARAMETROS*/
                var datos = [];
                var fechas = [];
                var datosoxigeno = [];
                var datostemperatura = [];

                var f = $('#fechas').val().split(",");
                var d = ($('#data').val()).split(",");
                var dO = ($('#datosoxigeno').val()).split(",");
                var dT = ($('#datostemperatura').val()).split(",");

                $.each( d, function( key, e ) { datos.push(e);});
                $.each( f, function( key, e ) { fechas.push(e); });
                $.each( dO, function( key, e ) { datosoxigeno.push(e); });
                $.each( dT, function( key, e ) { datostemperatura.push(e); });

            /** PATOLOGICOS */
                var fechasP = [];
                var datosBranNecro = [];
                var datosBranMO = [];
                var datosbranquias_epic = []
                var datosplabial = []
                var datosproto_epip = []
                var datosintes_grad = []
                var datoshepato_I = []
                var datoshepato_nhp = []
                var datoshepato_vib = []
                var datoshepato_IIInhp = []
                var datoshepato_IIIvib = []
                var datoshepato_IIIbnhp = []
                var datoshepato_IIIbvib = []
                var datoshepato_IIIcnhp = []
                var datoshepato_IIIcvib = []
                var datoslip_prom = [];
                var datosno_org = [];
                var datosscore_nhp = [];
                var datosscore_vib = [];
                var datostub_afec = [];
                var datosext_necro = [];
                var datosext_pig = [];
                var datosext_flaci = [];
                var datosur_ur = [];
                var datosur_uv = [];
                var datosur_amp = [];
                var datospeso_prom = [];
                var datostiem_prom = [];
                var datostiem_min = [];
                var datostiem_max = [];
                var datoscons_ant = [];
                var datoscons_musc = [];

                var fP = $('#fechasP').val().split(",");    
                var dBn = ($('#dataBranquias_necro').val()).split(",");
                var dBM = ($('#dataBranquias_mo').val()).split(",");
                var oDatosbranquias_epic = ($('#datosbranquias_epic').val()).split(",");
                var oDatosplabial = ($('#datosplabial').val()).split(",");
                var oDatosproto_epip = ($('#datosproto_epip').val()).split(",");
                var oDatosintes_grad = ($('#datosintes_grad').val()).split(",");
                var oDatoshepato_I = ($('#datoshepato_I').val()).split(",");
                var oDatoshepato_nhp = ($('#datoshepato_nhp').val()).split(",");
                var oDatoshepato_vib = ($('#datoshepato_vib').val()).split(",");
                var oDatoshepato_IIInhp = ($('#datoshepato_IIInhp').val()).split(",");
                var oDatoshepato_IIIvib = ($('#datoshepato_IIIvib').val()).split(",");
                var oDatoshepato_IIIbnhp = ($('#datoshepato_IIIbnhp').val()).split(",");
                var oDatoshepato_IIIbvib = ($('#datoshepato_IIIbvib').val()).split(",");
                var oDatoshepato_IIIcnhp = ($('#datoshepato_IIIcnhp').val()).split(",");
                var oDatoshepato_IIIcvib = ($('#datoshepato_IIIcvib').val()).split(",");
                var oDatoslip_prom = ($('#datoslip_prom').val()).split(",");
                var oDatosno_org = ($('#datosno_org').val()).split(",");
                var oDatosscore_nhp = ($('#datosscore_nhp').val()).split(",");
                var oDatosscore_vib = ($('#datosscore_vib').val()).split(",");
                var oDatostub_afec = ($('#datostub_afec').val()).split(",");
                var oDatosext_necro = ($('#datosext_necro').val()).split(",");
                var oDatosext_pig = ($('#datosext_pig').val()).split(",");
                var oDatosext_flaci = ($('#datosext_flaci').val()).split(",");
                var oDatosur_ur = ($('#datosur_ur').val()).split(",");
                var oDatosur_uv = ($('#datosur_uv').val()).split(",");
                var oDatosur_amp = ($('#datosur_amp').val()).split(",");
                var oDatospeso_prom = ($('#datospeso_prom').val()).split(",");
                var oDatostiem_prom = ($('#datostiem_prom').val()).split(",");
                var oDatostiem_min = ($('#datostiem_min').val()).split(",");
                var oDatostiem_max = ($('#datostiem_max').val()).split(",");
                var oDatoscons_ant = ($('#datoscons_ant').val()).split(",");
                var oDatoscons_musc = ($('#datoscons_musc').val()).split(",");

                $.each( dBn, function( key, e ) { datosBranNecro.push(e); });
                $.each( dBM, function( key, e ) { datosBranMO.push(e); });
                $.each( fP, function( key, e ) { fechasP.push(e); });
                $.each( datosbranquias_epic , function(key, e) { oDatosbranquias_epic.push(e) });
                $.each( datosplabial , function(key, e) { oDatosplabial.push(e) });
                $.each( datosproto_epip , function(key, e) { oDatosproto_epip.push(e) });
                $.each( datosintes_grad , function(key, e) { oDatosintes_grad.push(e) });
                $.each( datoshepato_I , function(key, e) { oDatoshepato_I.push(e) });
                $.each( datoshepato_nhp , function(key, e) { oDatoshepato_nhp.push(e) });
                $.each( datoshepato_vib , function(key, e) { oDatoshepato_vib.push(e) });
                $.each( datoshepato_IIInhp , function(key, e) { oDatoshepato_IIInhp.push(e) });
                $.each( datoshepato_IIIvib , function(key, e) { oDatoshepato_IIIvib.push(e) });
                $.each( datoshepato_IIIbnhp , function(key, e) { oDatoshepato_IIIbnhp.push(e) });
                $.each( datoshepato_IIIbvib , function(key, e) { oDatoshepato_IIIbvib.push(e) });
                $.each( datoshepato_IIIcnhp , function(key, e) { oDatoshepato_IIIcnhp.push(e) });
                $.each( datoshepato_IIIcvib , function(key, e) { oDatoshepato_IIIcvib.push(e) });
                $.each( datoslip_prom , function(key, e) { oDatoslip_prom.push(e) });
                $.each( datosno_org , function(key, e) { oDatosno_org.push(e) });
                $.each( datosscore_nhp , function(key, e) { oDatosscore_nhp.push(e) });
                $.each( datosscore_vib , function(key, e) { oDatosscore_vib.push(e) });
                $.each( datostub_afec , function(key, e) { oDatostub_afec.push(e) });
                $.each( datosext_necro , function(key, e) { oDatosext_necro.push(e) });
                $.each( datosext_pig , function(key, e) { oDatosext_pig.push(e) });
                $.each( datosext_flaci , function(key, e) { oDatosext_flaci.push(e) });
                $.each( datosur_ur , function(key, e) { oDatosur_ur.push(e) });
                $.each( datosur_uv , function(key, e) { oDatosur_uv.push(e) });
                $.each( datosur_amp , function(key, e) { oDatosur_amp.push(e) });
                $.each( datospeso_prom , function(key, e) { oDatospeso_prom.push(e) });
                $.each( datostiem_prom , function(key, e) { oDatostiem_prom.push(e) });
                $.each( datostiem_min , function(key, e) { oDatostiem_min.push(e) });
                $.each( datostiem_max , function(key, e) { oDatostiem_max.push(e) });
                $.each( datoscons_ant , function(key, e) { oDatoscons_ant.push(e) });
                $.each( datoscons_musc , function(key, e) { oDatoscons_musc.push(e) });

            /** BACTERIOLOGIA */
                var datosagua_ca = [];
                var datosagua_cv = [];
                var datosmac_larva_ca = [];
                var datosmac_larva_cv = [];
                var datoshepato_ca = [];
                var datoshepato_cv = [];
                var fechasB = [];

                var oDatosagua_ca = ($('#datosagua_ca').val()).split(",");
                var oDatosagua_cv = ($('#datosagua_cv').val()).split(",");
                var oDatosmac_larva_ca = ($('#datosmac_larva_ca').val()).split(",");
                var oDatosmac_larva_cv = ($('#datosmac_larva_cv').val()).split(",");
                var oDatoshepato_ca = ($('#datoshepato_ca').val()).split(",");
                var oDatoshepato_cv = ($('#datoshepato_cv').val()).split(",");
                var fB = $('#fechasB').val().split(",");

                $.each( datosagua_ca, function(key,e) { oDatosagua_ca.push(e) }); 
                $.each( datosagua_cv, function(key,e) { oDatosagua_cv.push(e) }); 
                $.each( datosmac_larva_ca, function(key,e) { oDatosmac_larva_ca.push(e) }); 
                $.each( datosmac_larva_cv, function(key,e) { oDatosmac_larva_cv.push(e) }); 
                $.each( datoshepato_ca, function(key,e) { oDatoshepato_ca.push(e) }); 
                $.each( datoshepato_cv, function(key,e) { oDatoshepato_cv.push(e) });
                $.each( fechasB, function(key,e) { fB.push(e) });
        
            /** FITOPLANCTON */
                var datosdiatomeas = [];
                var datoscianofitas = [];
                var datosclorofitas = [];
                var datosdinoflagelados = [];
                var datosflagelados = [];
                var datostotal_cel_ml = [];
                var fechasF = [];

                var fF = $('#fechasF').val().split(",");
                var oDatosdiatomeas = ($('#datosdiatomeas').val()).split(",");
                var oDatoscianofitas = ($('#datoscianofitas').val()).split(",");
                var oDatosclorofitas = ($('#datosclorofitas').val()).split(",");
                var oDatosdinoflagelados = ($('#datosdinoflagelados').val()).split(",");
                var oDatosflagelados = ($('#datosflagelados').val()).split(",");
                var oDatostotal_cel_ml = ($('#datostotal_cel_ml').val()).split(",");

                $.each( fF, function( key, e) { fechasF.push(e) });
                $.each( datosdiatomeas, function( key, e) { oDatosdiatomeas.push(e) });
                $.each( datoscianofitas, function( key, e) { oDatoscianofitas.push(e) });
                $.each( datosclorofitas, function( key, e) { oDatosclorofitas.push(e) });
                $.each( datosdinoflagelados, function( key, e) { oDatosdinoflagelados.push(e) });
                $.each( datosflagelados, function( key, e) { oDatosflagelados.push(e) });
                $.each( datostotal_cel_ml, function( key, e) { oDatostotal_cel_ml.push(e) });

            /** ZOOPLANCTON */
                var fechasZ = [];
                var datosnauplios = [];
                var datoscopepodos = [];
                var datosrutiferos = [];
                var datospoliquetos = [];
                var datosotros = [];
                var datostotal_organismos = [];

                var fZ = $('#fechasZ').val().split(",");
                var oDatosnauplios = ($('#datosnauplios').val()).split(",");
                var oDatoscopepodos = ($('#datoscopepodos').val()).split(",");
                var oDatosrutiferos = ($('#datosrutiferos').val()).split(",");
                var oDatospoliquetos = ($('#datospoliquetos').val()).split(",");
                var oDatosotros = ($('#datosotros').val()).split(",");
                var oDatostotal_organismos = ($('#datostotal_organismos').val()).split(",");

                $.each( fZ, function( key, e) { fechasZ.push(e) });
                $.each( oDatosnauplios, function( key, e) { datosnauplios.push(e) });
                $.each( oDatoscopepodos, function( key, e) { datoscopepodos.push(e) });
                $.each( oDatosrutiferos, function( key, e) { datosrutiferos.push(e) });
                $.each( oDatospoliquetos, function( key, e) { datospoliquetos.push(e) });
                $.each( oDatosotros, function( key, e) { datosotros.push(e) });
                $.each( oDatostotal_organismos, function( key, e) { datostotal_organismos.push(e) });

            /** NUTRIENTES DIARIO */
                var fechasND = [];
                var datosamoniaD = [];
                var datosalcalinidad_CaCO3 = [];
                var datosalcalinidad_HCO3 = [];
                var datosalcalinidad_CO3 = [];
                var datosnitrito_N = [];
                var datosnitrito_NO3 = [];
                var datosTAN = [];

                var fND = ($('#fechasND').val()).split(",");
                var oDatosamoniaD = ($('#datosamoniaD').val()).split(",");
                var oDatosalcalinidad_CaCO3 = ($('#datosalcalinidad_CaCO3').val()).split(",");
                var oDatosalcalinidad_HCO3 = ($('#datosalcalinidad_HCO3').val()).split(",");
                var oDatosalcalinidad_CO3 = ($('#datosalcalinidad_CO3').val()).split(",");
                var oDatosnitrito_N = ($('#datosnitrito_N').val()).split(",");
                var oDatosnitrito_NO3 = ($('#datosnitrito_NO3').val()).split(",");
                var oDatosTAN = ($('#datosTAN').val()).split(",");

                $.each(fND, function(key, e){ fechasND.push(e)});
                $.each(oDatosamoniaD, function(key, e){ datosamoniaD.push(e)});
                $.each(oDatosalcalinidad_CaCO3, function(key, e){ datosalcalinidad_CaCO3.push(e)});
                $.each(oDatosalcalinidad_HCO3, function(key, e){ datosalcalinidad_HCO3.push(e)});
                $.each(oDatosalcalinidad_CO3, function(key, e){ datosalcalinidad_CO3.push(e)});
                $.each(oDatosnitrito_N, function(key, e){ datosnitrito_N.push(e)});
                $.each(oDatosnitrito_NO3, function(key, e){ datosnitrito_NO3.push(e)});
                $.each(oDatosTAN, function(key, e){ datosTAN.push(e)});

            /** NUTRIENTES SEMANAL */
                var datosamonia = [];                                                                                          
                var datosnitrito_N = [];
                var datosnitrito_NO3 = [];
                var datosalcalinidad_CaCO3 = [];
                var datosalcalinidad_HCO3 = [];
                var datosalcalinidad_CO3 = [];
                var datosdureza = [];
                var datosdureza_CaCO3 = [];
                var datosdureza_Ca = [];
                var datossilice_SiO2 = [];
                var datossilice_Si = [];
                var datosnitrato_N = [];
                var datosnitrato_NO3 = [];
                var datosfosfato_PO4 = [];
                var datosfosfato_P = [];
                var datospotasio = [];
                var datosmagnecio_Mg = [];
                var datosmagnecio_CaCO3 = [];
                var datosbalance_Ca = [];
                var datosbalance_Mg = [];
                var datosbalance_K = [];
                var fechasNS = [];

                var oDatosamonia = ($('#datosamonia').val()).split(",");                                                                                          
                var oDatosnitrito_N = ($('#datosnitrito_N').val()).split(",");
                var oDatosnitrito_NO3 = ($('#datosnitrito_NO3').val()).split(",");
                var oDatosalcalinidad_CaCO3 = ($('#datosalcalinidad_CaCO3').val()).split(",");
                var oDatosalcalinidad_HCO3 = ($('#datosalcalinidad_HCO3').val()).split(",");
                var oDatosalcalinidad_CO3 = ($('#datosalcalinidad_CO3').val()).split(",");
                var oDatosdureza = ($('#datosdureza').val()).split(",");
                var oDatosdureza_CaCO3 = ($('#datosdureza_CaCO3').val()).split(",");
                var oDatosdureza_Ca = ($('#datosdureza_Ca').val()).split(",");
                var oDatossilice_SiO2 = ($('#datossilice_SiO2').val()).split(",");
                var oDatossilice_Si = ($('#datossilice_Si').val()).split(",");
                var oDatosnitrato_N = ($('#datosnitrato_N').val()).split(",");
                var oDatosnitrato_NO3 = ($('#datosnitrato_NO3').val()).split(",");
                var oDatosfosfato_PO4 = ($('#datosfosfato_PO4').val()).split(",");
                var oDatosfosfato_P = ($('#datosfosfato_P').val()).split(",");
                var oDatospotasio = ($('#datospotasio').val()).split(",");
                var oDatosmagnecio_Mg = ($('#datosmagnecio_Mg').val()).split(",");
                var oDatosmagnecio_CaCO3 = ($('#datosmagnecio_CaCO3').val()).split(",");
                var oDatosbalance_Ca = ($('#datosbalance_Ca').val()).split(",");
                var oDatosbalance_Mg = ($('#datosbalance_Mg').val()).split(",");
                var oDatosbalance_K = ($('#datosbalance_K').val()).split(",");
                var fNS = ($('#fechasNS').val()).split(",");

                $.each( oDatosamonia, function(key, e){  datosamonia.push(e) });
                $.each( oDatosnitrito_N, function(key, e){  datosnitrito_N.push(e) });
                $.each( oDatosnitrito_NO3, function(key, e){  datosnitrito_NO3.push(e) });
                $.each( oDatosalcalinidad_CaCO3, function(key, e){  datosalcalinidad_CaCO3.push(e) });
                $.each( oDatosalcalinidad_HCO3, function(key, e){  datosalcalinidad_HCO3.push(e) });
                $.each( oDatosalcalinidad_CO3, function(key, e){  datosalcalinidad_CO3.push(e) });
                $.each( oDatosdureza, function(key, e){  datosdureza.push(e) });
                $.each( oDatosdureza_CaCO3, function(key, e){  datosdureza_CaCO3.push(e) });
                $.each( oDatosdureza_Ca, function(key, e){  datosdureza_Ca.push(e) });
                $.each( oDatossilice_SiO2, function(key, e){  datossilice_SiO2.push(e) });
                $.each( oDatossilice_Si, function(key, e){  datossilice_Si.push(e) });
                $.each( oDatosnitrato_N, function(key, e){  datosnitrato_N.push(e) });
                $.each( oDatosnitrato_NO3, function(key, e){  datosnitrato_NO3.push(e) });
                $.each( oDatosfosfato_PO4, function(key, e){  datosfosfato_PO4.push(e) });
                $.each( oDatosfosfato_P, function(key, e){  datosfosfato_P.push(e) });
                $.each( oDatospotasio, function(key, e){  datospotasio.push(e) });
                $.each( oDatosmagnecio_Mg, function(key, e){  datosmagnecio_Mg.push(e) });
                $.each( oDatosmagnecio_CaCO3, function(key, e){  datosmagnecio_CaCO3.push(e) });
                $.each( oDatosbalance_Ca, function(key, e){  datosbalance_Ca.push(e) });
                $.each( oDatosbalance_Mg, function(key, e){  datosbalance_Mg.push(e) });
                $.each( oDatosbalance_K, function(key, e){  datosbalance_K.push(e) });
                $.each( fNS, function(key, e){  fechasNS.push(e) });

            // Gráficas de Parámetros
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'line',

                    // The data for our dataset
                    data: {
                        labels: fechas,
                        datasets: [
                            {
                                label: 'pH',
                                borderColor: 'rgb(66,133,244)',
                                backgroundColor: 'rgb(66,133,244)',
                                fill: false,
                                data: datos
                            },
                            {
                                label: 'Oxigeno',
                                data: datosoxigeno,
                                borderColor: "#E23838",
                                backgroundColor: "#E23838",
                                fill: false,
                            },
                            {
                                label: 'Temperatura',
                                data: datostemperatura,
                                borderColor: "#5EBD3E",
                                backgroundColor: "#5EBD3E",
                                fill: false,
                            }
                        ],
                    },
                    options: {
                        title: {
                            display: false
                        },
                        gridLines: {
                            display: true,
                            drowBorder: true,
                            drawOnChartArea: false
                        },
                        responsive: true                        
                    }
                });

            // Gráficas de Laboratorio
            /// Análisis Patológicos
                var chartPatologicos = new Chart(ctxPato, {
                    // The type of chart we want to create
                    type: 'line',
                    // The data for our dataset
                    data: {
                        labels: fechasP,
                        datasets: [
                            {
                                label: 'Branc Necro',
                                data: datosBranNecro,
                                borderColor: "#E23838",
                                backgroundColor: "#E23838",
                                fill: false
                            },
                            {
                                label: 'Branc Mo',
                                data: datosBranMO,
                                borderColor: "#009CDF",
                                backgroundColor: "#009CDF",
                                fill: false,
                            },
                            {
                                label: 'Branc Epic',
                                data: oDatosbranquias_epic,
                                borderColor: "#5EBD3E",
                                backgroundColor: "#5EBD3E",
                                fill: false,
                            },
                            {
                                label: 'Sintes Grad',
                                data: oDatosintes_grad,
                                borderColor: "#FFB900",
                                backgroundColor: "#FFB900",
                                fill: false,
                            },
                            {
                                label: 'Hepato I',
                                data: oDatoshepato_I,
                                borderColor: "#F78200",
                                backgroundColor: "#F78200",
                                fill: false,
                            },
                            {
                                label: 'Hepato nhp',
                                data: oDatoshepato_nhp,
                                borderColor: "#973999",
                                backgroundColor: "#973999",
                                fill: false,
                            },                  
                            {
                                label: 'Hepato Vib',
                                data: oDatoshepato_vib,
                                borderColor: "#FF0099",
                                backgroundColor: "#FF0099",
                                fill: false,
                            },
                            {
                                label: 'Hepato III nhp',
                                data: oDatoshepato_IIInhp,
                                borderColor: "#f3f315",
                                backgroundColor: "#f3f315",
                                fill: false,
                            },
                            {
                                label: 'Hepato III vib',
                                data: oDatoshepato_IIIvib,
                                borderColor: "#83f52c",
                                backgroundColor: "#83f52c",
                                fill: false,
                            },
                            {
                                label: 'Hepato IIIb nhp',
                                data: oDatoshepato_IIIbnhp,
                                borderColor: "#ff6600",
                                backgroundColor: "#ff6600",
                                fill: false,
                            },
                            {
                                label: 'Hepato IIIb vib',
                                data: oDatoshepato_IIIbvib,
                                borderColor: "#630dd0",
                                backgroundColor: "#630dd0",
                                fill: false,
                            },
                            {
                                label: 'Hepato IIIc nhp',
                                data: oDatoshepato_IIIcnhp,
                                borderColor: "#bd361b",
                                backgroundColor: "#bd361b",
                                fill: false,
                            },
                            {
                                label: 'Hepato IIIc vib',
                                data: oDatoshepato_IIIcvib,
                                borderColor: "#dba800",
                                backgroundColor: "#dba800",
                                fill: false,
                            },
                            {
                                label: 'Lipidos Prom',
                                data: oDatoslip_prom,
                                borderColor: "#b9d670",
                                backgroundColor: "#b9d670",
                                fill: false,
                            },
                            {
                                label: '# Organismos',
                                data: oDatosno_org,
                                borderColor: "#b6c61a",
                                backgroundColor: "#b6c61a",
                                fill: false,
                            },
                            {
                                label: 'Score nhp',
                                data: oDatosscore_nhp,
                                borderColor: "#006344",
                                backgroundColor: "#006344",
                                fill: false,
                            },
                            {
                                label: 'Score vib',
                                data: oDatosscore_vib,
                                borderColor: "#607D88",
                                backgroundColor: "#607D88",
                                fill: false,
                            },
                            {
                                label: 'Tubulos Afec',
                                data: oDatostub_afec,
                                borderColor: "#9e9e9e",
                                backgroundColor: "#9e9e9e",
                                fill: false,
                            },
                            {
                                label: 'Necro grado',
                                data: oDatosext_necro,
                                borderColor: "#795548",
                                backgroundColor: "#795548",
                                fill: false,
                            },
                            {
                                label: 'Pidmen grado',
                                data: oDatosext_pig,
                                borderColor: "#009688",
                                backgroundColor: "#009688",
                                fill: false,
                            },
                            {
                                label: 'Flaci grado',
                                data: oDatosext_flaci,
                                borderColor: "#3f51b5",
                                backgroundColor: "#3f51b5",
                                fill: false,
                            },
                            {
                                label: 'Uropo UR',
                                data: oDatosur_ur,
                                borderColor: "#e91e63",
                                backgroundColor: "#e91e63",
                                fill: false,
                            },
                            {
                                label: 'Uropo UV',
                                data: oDatosur_uv,
                                borderColor: "#000000",
                                backgroundColor: "#000000",
                                fill: false,
                            },
                            {
                                label: 'Uropo AMP',
                                data: oDatosur_amp,
                                borderColor: "#da4453",
                                backgroundColor: "#da4453",
                                fill: false,
                            },
                            {
                                label: 'Peso prom',
                                data: oDatospeso_prom,
                                borderColor: "#03a9f4",
                                backgroundColor: "#03a9f4",
                                fill: false,
                            },
                            {
                                label: 'Tiempo prom',
                                data: oDatostiem_prom,
                                borderColor: "#004c97",
                                backgroundColor: "#004c97",
                                fill: false,
                            },
                            {
                                label: 'Tiempo min',
                                data: oDatostiem_min,
                                borderColor: "#007a33",
                                backgroundColor: "#007a33",
                                fill: false,
                            },
                            {
                                label: 'Tiempo max',
                                data: oDatostiem_max,
                                borderColor: "#009cde",
                                backgroundColor: "#009cde",
                                fill: false,
                            },
                            {
                                label: 'Consum ant',
                                data: oDatoscons_ant,
                                borderColor: "#f3d54e",
                                backgroundColor: "#f3d54e",
                                fill: false,
                            },
                            {
                                label: 'Consum musc',
                                data: oDatoscons_musc,
                                borderColor: "#808080",
                                backgroundColor: "#808080",
                                fill: false,
                            },  
                        ]
                    },
                    options: {
                        title: {
                            display: false,
                            text: 'Análisis Patológicos'
                        },
                        legend: {
                            display: false,
                            position: 'bottom'
                        }
                    }
                });

            /// Bacteriología
                var chartBacter = new Chart(ctxBactem,{
                    // The type of chart we want to create
                    type: 'line',

                    // The data for our dataset
                    data: {
                        labels: fB,
                        datasets: [
                            {
                                label: 'Agua CA',
                                borderColor: '#E23838',
                                backgroundColor: '#E23838',
                                fill: false,
                                data: oDatosagua_ca
                            },
                            {
                                label: 'Agua CV',
                                borderColor: '#009CDF',
                                backgroundColor: '#009CDF',
                                fill: false,
                                data: oDatosagua_cv
                            },
                            {
                                label: 'Larva CA',
                                borderColor: '#5EBD3E',
                                backgroundColor: '#5EBD3E',
                                fill: false,
                                data: oDatosmac_larva_ca
                            },
                            {
                                label: 'Larva CV',
                                borderColor: '#FFB900',
                                backgroundColor: '#FFB900',
                                fill: false,
                                data: oDatosmac_larva_cv
                            },
                            {
                                label: 'Hepato CA',
                                borderColor: '#F78200',
                                backgroundColor: '#F78200',
                                fill: false,
                                data: oDatoshepato_ca
                            },
                            {
                                label: 'Hepato CV',
                                borderColor: '#973999',
                                backgroundColor: '#973999',
                                fill: false,
                                data: oDatoshepato_cv
                            },
                        ]
                    },
                    options: {
                    }
                });

            /// Fitoplancton
                var chartFito = new Chart(ctxFito,{
                    // The type of chart we want to create
                    type: 'line',

                    // The data for our dataset
                    data: {
                        labels: fechasF,
                        datasets: [
                            {
                                label: 'Diatomeas',
                                borderColor: '#E23838',
                                backgroundColor: '#E23838',
                                fill: false,
                                data: oDatosdiatomeas
                            },
                            {
                                label: 'Cianofitas',
                                borderColor: '#009CDF',
                                backgroundColor: '#009CDF',
                                fill: false,
                                data: oDatoscianofitas
                            },
                            {
                                label: 'Clorofitas',
                                borderColor: '#5EBD3E',
                                backgroundColor: '#5EBD3E',
                                fill: false,
                                data: oDatosclorofitas
                            },
                            {
                                label: 'Dinoflagelados',
                                borderColor: '#FFB900',
                                backgroundColor: '#FFB900',
                                fill: false,
                                data: oDatosdinoflagelados
                            },
                            {
                                label: 'Flagelados',
                                borderColor: '#F78200',
                                backgroundColor: '#F78200',
                                fill: false,
                                data: oDatosflagelados
                            },
                            {
                                label: 'Total Cel.',
                                borderColor: '#973999',
                                backgroundColor: '#973999',
                                fill: false,
                                data: oDatostotal_cel_ml
                            },
                        ]
                    },
                    options: {
                    }
                });

            /// Zooplancton
                var chartZoo = new Chart(ctxZoo,{
                    // The type of chart we want to create
                    type: 'line',

                    // The data for our dataset
                    data: {
                        labels: fechasZ,
                        datasets: [
                            {
                                label: 'Nauplios',
                                borderColor: '#E23838',
                                backgroundColor: '#E23838',
                                fill: false,
                                data: datosnauplios
                            },
                            {
                                label: 'Copepodos',
                                borderColor: '#009CDF',
                                backgroundColor: '#009CDF',
                                fill: false,
                                data: datoscopepodos
                            },
                            {
                                label: 'Rutiferos',
                                borderColor: '#5EBD3E',
                                backgroundColor: '#5EBD3E',
                                fill: false,
                                data: datosrutiferos
                            },
                            {
                                label: 'Poliquetos',
                                borderColor: '#FFB900',
                                backgroundColor: '#FFB900',
                                fill: false,
                                data: datospoliquetos
                            },
                            {
                                label: 'Otros',
                                borderColor: '#F78200',
                                backgroundColor: '#F78200',
                                fill: false,
                                data: datosotros
                            },
                            {
                                label: 'Total Org.',
                                borderColor: '#973999',
                                backgroundColor: '#973999',
                                fill: false,
                                data: datostotal_organismos
                            },
                        ]
                    },
                    options: {
                    }
                });

            /// Nutrientes y Metabolitos Diarios
                var chartNutD = new Chart(ctxNutD,{
                    // The type of chart we want to create
                    type: 'line',

                    // The data for our dataset
                    data: {
                        labels: fechasND,
                        datasets: [
                            {
                                label: 'Nauplios',
                                borderColor: '#E23838',
                                backgroundColor: '#E23838',
                                fill: false,
                                data: datosamoniaD
                            },
                            {
                                label: 'Alcalinida CaCO3',
                                borderColor: '#009CDF',
                                backgroundColor: '#009CDF',
                                fill: false,
                                data: datosalcalinidad_CaCO3
                            },
                            {
                                label: 'Alcalinidad HCO3',
                                borderColor: '#5EBD3E',
                                backgroundColor: '#5EBD3E',
                                fill: false,
                                data: datosalcalinidad_HCO3
                            },
                            {
                                label: 'Alcalinidad CO3',
                                borderColor: '#FFB900',
                                backgroundColor: '#FFB900',
                                fill: false,
                                data: datosalcalinidad_CO3
                            },
                            {
                                label: 'Nitritos',
                                borderColor: '#F78200',
                                backgroundColor: '#F78200',
                                fill: false,
                                data: datosnitrito_N
                            },
                            {
                                label: 'Nitrato',
                                borderColor: '#973999',
                                backgroundColor: '#973999',
                                fill: false,
                                data: datosnitrito_NO3
                            },
                            {
                                label: 'TAN',
                                borderColor: '#FF0099',
                                backgroundColor: '#FF0099',
                                fill: false,
                                data: datosTAN
                            }
                        ]
                    },
                    options: {
                    }
                });
            
            /// Nutrientes y Metabolitos Semanales
                var chartNutS = new Chart(ctxNutS,{
                    // The type of chart we want to create
                    type: 'line',

                    // The data for our dataset
                    data: {
                        labels: fechasNS,
                        datasets: [
                            {
                                label: 'Amonia',
                                data: oDatosamonia,
                                borderColor: "#E23838",
                                backgroundColor: "#E23838",
                                fill: false
                            },
                            {
                                label: 'Nitrito N',
                                data: oDatosnitrito_N,
                                borderColor: "#009CDF",
                                backgroundColor: "#009CDF",
                                fill: false,
                            },
                            {
                                label: 'Nitrito N03',
                                data: oDatosnitrito_NO3,
                                borderColor: "#5EBD3E",
                                backgroundColor: "#5EBD3E",
                                fill: false,
                            },
                            {
                                label: 'Alcalinidad CaCO3',
                                data: oDatosalcalinidad_CaCO3,
                                borderColor: "#FFB900",
                                backgroundColor: "#FFB900",
                                fill: false,
                            },
                            {
                                label: 'Alcalinidad HCO3',
                                data: oDatosalcalinidad_HCO3,
                                borderColor: "#F78200",
                                backgroundColor: "#F78200",
                                fill: false,
                            },
                            {
                                label: 'Alcalinidad CO3',
                                data: oDatosalcalinidad_CO3,
                                borderColor: "#973999",
                                backgroundColor: "#973999",
                                fill: false,
                            },                  
                            {
                                label: 'Dureza',
                                data: oDatosdureza,
                                borderColor: "#FF0099",
                                backgroundColor: "#FF0099",
                                fill: false,
                            },
                            {
                                label: 'Dureza CaCO3',
                                data: oDatosdureza_CaCO3,
                                borderColor: "#f3f315",
                                backgroundColor: "#f3f315",
                                fill: false,
                            },
                            {
                                label: 'Dureza Ca',
                                data: oDatosdureza_Ca,
                                borderColor: "#83f52c",
                                backgroundColor: "#83f52c",
                                fill: false,
                            },
                            {
                                label: 'Silice SiO2',
                                data: oDatossilice_SiO2,
                                borderColor: "#ff6600",
                                backgroundColor: "#ff6600",
                                fill: false,
                            },
                            {
                                label: 'Silice Si',
                                data: oDatossilice_Si,
                                borderColor: "#630dd0",
                                backgroundColor: "#630dd0",
                                fill: false,
                            },
                            {
                                label: 'Nitrato N',
                                data: oDatosnitrato_N,
                                borderColor: "#bd361b",
                                backgroundColor: "#bd361b",
                                fill: false,
                            },
                            {
                                label: 'Nitrato NO3',
                                data: oDatosnitrato_NO3,
                                borderColor: "#dba800",
                                backgroundColor: "#dba800",
                                fill: false,
                            },
                            {
                                label: 'Fosfato PO4',
                                data: oDatosfosfato_PO4,
                                borderColor: "#b9d670",
                                backgroundColor: "#b9d670",
                                fill: false,
                            },
                            {
                                label: 'Fosfato P',
                                data: oDatosfosfato_P,
                                borderColor: "#b6c61a",
                                backgroundColor: "#b6c61a",
                                fill: false,
                            },
                            {
                                label: 'Potasio',
                                data: oDatospotasio,
                                borderColor: "#006344",
                                backgroundColor: "#006344",
                                fill: false,
                            },
                            {
                                label: 'Magnecio Mg',
                                data: oDatosmagnecio_Mg,
                                borderColor: "#607D88",
                                backgroundColor: "#607D88",
                                fill: false,
                            },
                            {
                                label: 'Magnecio CaCO3',
                                data: oDatosmagnecio_CaCO3,
                                borderColor: "#9e9e9e",
                                backgroundColor: "#9e9e9e",
                                fill: false,
                            },
                            {
                                label: 'Balance Ca',
                                data: oDatosbalance_Ca,
                                borderColor: "#795548",
                                backgroundColor: "#795548",
                                fill: false,
                            },
                            {
                                label: 'Balance Mg',
                                data: oDatosbalance_Mg,
                                borderColor: "#009688",
                                backgroundColor: "#009688",
                                fill: false,
                            },
                            {
                                label: 'Balance K',
                                data: oDatosbalance_K,
                                borderColor: "#3f51b5",
                                backgroundColor: "#3f51b5",
                                fill: false,
                            },
                        ]
                    },
                    options: {
                        legend: {
                            display: false,
                            position: 'bottom'
                        }
                    }
                });
        
        
            // Actualizar la páguna cada 5 minutos
            //setInterval("location.reload(true)", 300000);
        });

        function obtenerfecha(){
            var fecha = new Date()
            var dia = fecha.getDate();
            var mes = fecha.getMonth()+1;
            var anio = fecha.getFullYear();

            if(dia < 10){
                dia = "0"+dia;
            }

            if(mes < 10){
                mes = "0"+mes;
            }

            $("#fecha").text(dia+"/"+mes+"/"+anio+"    ");
        }

        function obtenerhora(){
            var tiempo = new Date();
            var horas = tiempo.getHours();
            var minutos = tiempo.getMinutes();
            var segundos = tiempo.getSeconds();
            var dn ="";

            if(horas < 12){
                dn = "a.m.";
            }else{
                dn = "p.m.";
            }

            if(minutos < 10){
                minutos = "0"+minutos;
            }

            if(segundos < 10){
                segundos = "0"+segundos;
            }
                
            $("#hora").text(horas+":"+minutos+":"+segundos+" "+dn+"    ");

            setTimeout('obtenerhora()',1000);
            //console.log("un segundo mas...");
        }
    .row
        .col-lg-9.col-md-9.col-xs-9
            h2
                i.fas.fa-water(style="margin-right: 10px;")
                |   Detalle de la piscina 
                strong #{ estanque.codigo } &nbsp;
                if prom_ph >= 8 && prom_c > 3 && prom_ox < 34
                    i.fas.fa-check-circle.text-success
                    b.text-success &nbsp;(Piscina estable)
        .col-lg-3.col-md-3.col-sm-3.col-xs-3.text-right(style="margin-top: 15px;")
            a.btn.btn-special(href="/estanque/all")
                i.fas.fa-arrow-alt-circle-left
                |   Regresar
        .divider
    // Datos Generales
    .row
        .col-lg-3.col-sm-3
            .card.card-default
                .card-body.card-5-7
                    span 
                        b Nombre: 
                        |   #{ estanque.nombre}
                    br
                    span 
                        b Módulo: 
                        |   #{ estanque.modulo.nombre}
                    br
                    span 
                        b Tipo: 
                        |   #{ estanque.tipo.nombre}
            .card.card-default
                .card-body.card-5-7
                    h4.text-center
                        b Promedios
                    .col-lg-4(style="font-size: 16px;")
                        span 
                            b pH: 
                                if prom_ph >= 8.0 && prom_ph <= 8.3
                                    i.fas.fa-check-circle.text-success
                                    span.text-right.text-success  #{ parseFloat(prom_ph).toFixed(2)}
                                else if (prom_ph < 8.0 && prom_ph >= 7.7) || (prom_ph >= 8.4 && prom_ph <= 8.7)
                                    i.fas.fa-info-circle.text-warning
                                    span.text-right.text-warning  #{ parseFloat(prom_ph).toFixed(2)}
                                else if prom_ph < 7.7 || prom_ph > 8.7
                                    i.fas.fa-exclamation-circle.text-danger
                                    span.text-right.text-danger  #{ parseFloat(prom_ph).toFixed(2)}
                    .col-lg-4(style="font-size: 16px;")
                        span 
                            b °C: 
                                if prom_c >= 29.0 && prom_c <= 31.0
                                    i.fas.fa-check-circle.text-success
                                    span.text-right.text-success  #{ parseFloat(prom_c).toFixed(2)}
                                else if (prom_c < 29.0 && prom_c >= 25.0) || (prom_c > 31.0 && prom_c <= 33.0)
                                    i.fas.fa-info-circle.text-warning
                                    span.text-right.text-warning  #{ parseFloat(prom_c).toFixed(2)}
                                else if prom_c < 25.0 || prom_c > 33.0
                                    i.fas.fa-exclamation-circle.text-danger
                                    span.text-right.text-danger  #{ parseFloat(prom_c).toFixed(2)}
                    .col-lg-4(style="font-size: 16px;")
                        span 
                            b 0
                            sub
                                b 2
                            b :
                                if prom_ox >= 3.5 && prom_ox <= 8.0
                                    i.fas.fa-check-circle.text-success
                                    span.text-right.text-success  #{ parseFloat(prom_ox).toFixed(2)}
                                else if prom_ox < 3.5 && prom_ox >= 3.1
                                    i.fas.fa-info-circle.text-warning
                                    span.text-right.text-warning  #{ parseFloat(prom_ox).toFixed(2)}
                                else if prom_ox < 3.0 || prom_ox > 8.0
                                    i.fas.fa-exclamation-circle.text-danger
                                    span.text-right.text-danger  #{ parseFloat(prom_ox).toFixed(2)} 
            .card.card-default
                .card-body.card-5-7
                    .col-lg-6
                        h4.text-center 
                            b Mínimos
                        span(style="font-size: 16px;") 
                            b pH: 
                                if ph_min >= 8.0 && ph_min <= 8.3
                                    i.fas.fa-check-circle.text-success
                                    span.text-right.text-success  #{ parseFloat(ph_min).toFixed(2)}
                                else if (ph_min < 8.0 && ph_min >= 7.7) || (ph_min >= 8.4 && ph_min <= 8.7)
                                    i.fas.fa-info-circle.text-warning
                                    span.text-right.text-warning  #{ parseFloat(ph_min).toFixed(2)}
                                else if ph_min < 7.7 || ph_min > 8.7
                                    i.fas.fa-exclamation-circle.text-danger
                                    span.text-right.text-danger  #{ parseFloat(ph_min).toFixed(2)}
                        br
                        span(style="font-size: 16px;") 
                            b °C:
                                if tm_min >= 29.0 && tm_min <= 31.0
                                    i.fas.fa-check-circle.text-success
                                    span.text-right.text-success  #{ parseFloat(tm_min).toFixed(2)}
                                else if (tm_min < 29.0 && tm_min >= 25.0) || (tm_min > 31.0 && tm_min <= 33.0)
                                    i.fas.fa-info-circle.text-warning
                                    span.text-right.text-warning  #{ parseFloat(tm_min).toFixed(2)}
                                else if tm_min < 25.0 || tm_min > 33.0
                                    i.fas.fa-exclamation-circle.text-danger
                                    span.text-right.text-danger  #{ parseFloat(tm_min).toFixed(2)}
                        br
                        span(style="font-size: 16px;") 
                            b 0
                            sub
                                b 2
                            b : 
                                if ox_min >= 3.5 && ox_min <= 8.0
                                    i.fas.fa-check-circle.text-success
                                    span.text-right.text-success  #{ parseFloat(ox_min).toFixed(2)}
                                else if ox_min < 3.5 && ox_min >= 3.1
                                    i.fas.fa-info-circle.text-warning
                                    span.text-right.text-warning  #{ parseFloat(ox_min).toFixed(2)}
                                else if ox_min < 3.0 || ox_min > 8.0
                                    i.fas.fa-exclamation-circle.text-danger
                                    span.text-right.text-danger  #{ parseFloat(ox_min).toFixed(2)}
                    .col-lg-6
                        h4.text-center
                            b Máximos
                        span(style="font-size: 16px;") 
                            b pH: 
                                if ph_max >= 8.0 && ph_max <= 8.3
                                    i.fas.fa-check-circle.text-success
                                    span.text-right.text-success  #{ parseFloat(ph_max).toFixed(2)}
                                else if (ph_max < 8.0 && ph_max >= 7.7) || (ph_max >= 8.4 && ph_max <= 8.7)
                                    i.fas.fa-info-circle.text-warning
                                    span.text-right.text-warning  #{ parseFloat(ph_max).toFixed(2)}
                                else if ph_max < 7.7 || ph_max > 8.7
                                    i.fas.fa-exclamation-circle.text-danger
                                    span.text-right.text-danger  #{ parseFloat(ph_max).toFixed(2)}
                        br
                        span(style="font-size: 16px;") 
                            b °C: 
                                if tm_max >= 29.0 && tm_max <= 31.0
                                    i.fas.fa-check-circle.text-success
                                    span.text-right.text-success  #{ parseFloat(tm_max).toFixed(2)}
                                else if (tm_max < 29.0 && tm_max >= 25.0) || (tm_max > 31.0 && tm_max <= 33.0)
                                    i.fas.fa-info-circle.text-warning
                                    span.text-right.text-warning  #{ parseFloat(tm_max).toFixed(2)}
                                else if tm_max < 25.0 || tm_max > 33.0
                                    i.fas.fa-exclamation-circle.text-danger
                                    span.text-right.text-danger  #{ parseFloat(tm_max).toFixed(2)}
                        br
                        span(style="font-size: 16px;") 
                            b 0
                            sub
                                b 2
                            b : 
                                if ox_max >= 3.5 && ox_max <= 8.0
                                    i.fas.fa-check-circle.text-success
                                    span.text-right.text-success  #{ parseFloat(ox_max).toFixed(2)}
                                else if ox_max < 3.5 && ox_max >= 3.1
                                    i.fas.fa-info-circle.text-warning
                                    span.text-right.text-warning  #{ parseFloat(ox_max).toFixed(2)}
                                else if ox_max < 3.0 || ox_max > 8.0
                                    i.fas.fa-exclamation-circle.text-danger
                                    span.text-right.text-danger  #{ parseFloat(ox_max).toFixed(2)}
        .col-lg-9.chart-container(style="position: relative;")
            .card.card-default
                .card-body.card-5-7
                    // Datos para gráficos parámetros
                    h4.text-center 
                        b Parámetros
                    input#fechas.hidden(type="text" value="#{fechas}")
                    input#data.hidden(type="text" value="#{data}")
                    input#datosoxigeno.hidden(type="text" value="#{datosoxigeno}")
                    input#datostemperatura.hidden(type="text" value="#{datostemperatura}")
                    canvas#myChart
    .row
        .col-lg-12.col-md-12.col-xs-12
            h4
                i.fas.fa-map-marked-alt(style="margin-right: 10px;")
                |   Ubicación
            .divider
        .col-lg-12.col-sm-12
            input#locations.hidden(type="text" value="#{locations}")
            input#markerx(type="text" value="#{estanque.marker_x}").hidden
            input#markery(type="text" value="#{estanque.marker_y}").hidden
            input#pointerx(type="text" value="#{estanque.pointer_x}").hidden
            input#pointery(type="text" value="#{estanque.pointer_y}").hidden
            #map(style="width: 100%; min-height: 400px;")
    .row 
        .col-lg-12.col-md-12.col-xs-12
            h4
                i.fas.fa-microscope(style="margin-right: 10px;")
                |   Laboratorio
    .divider
    .row
        // Datos para gráficos análisis patológicos
        .col-lg-6.chart-container(style="position: relative; height: 100%;")
            h5.text-center 
                b Análisis Patológicos
            input#fechasP.hidden(type="text" value="#{fechasP}")
            input#dataBranquias_necro.hidden(type="text" value="#{dataBranquias_necro}")
            input#dataBranquias_mo.hidden(type="text" value="#{dataBranquias_mo}")
            input#datosbranquias_epic.hidden(type="text" value="#{datosbranquias_epic}")
            input#datosplabial.hidden(type="text" value="#{datosplabial}")
            input#datosproto_epip.hidden(type="text" value="#{datosproto_epip}")
            input#datosintes_grad.hidden(type="text" value="#{datosintes_grad}")
            input#datoshepato_I.hidden(type="text" value="#{datoshepato_I}")
            input#datoshepato_nhp.hidden(type="text" value="#{datoshepato_nhp}")
            input#datoshepato_vib.hidden(type="text" value="#{datoshepato_vib}")
            input#datoshepato_IIInhp.hidden(type="text" value="#{datoshepato_IIInhp}")
            input#datoshepato_IIIvib.hidden(type="text" value="#{datoshepato_IIIvib}")
            input#datoshepato_IIIbnhp.hidden(type="text" value="#{datoshepato_IIIbnhp}")
            input#datoshepato_IIIbvib.hidden(type="text" value="#{datoshepato_IIIbvib}")
            input#datoshepato_IIIcnhp.hidden(type="text" value="#{datoshepato_IIIcnhp}")
            input#datoshepato_IIIcvib.hidden(type="text" value="#{datoshepato_IIIcvib}")
            input#datoslip_prom.hidden(type="text" value="#{datoslip_prom}")
            input#datosno_org.hidden(type="text" value="#{datosno_org}")
            input#datosscore_nhp.hidden(type="text" value="#{datosscore_nhp}")
            input#datosscore_vib.hidden(type="text" value="#{datosscore_vib}")
            input#datostub_afec.hidden(type="text" value="#{datostub_afec}")
            input#datosext_necro.hidden(type="text" value="#{datosext_necro}")
            input#datosext_pig.hidden(type="text" value="#{datosext_pig}")
            input#datosext_flaci.hidden(type="text" value="#{datosext_flaci}")
            input#datosur_ur.hidden(type="text" value="#{datosur_ur}")
            input#datosur_uv.hidden(type="text" value="#{datosur_uv}")
            input#datosur_amp.hidden(type="text" value="#{datosur_amp}")
            input#datospeso_prom.hidden(type="text" value="#{datospeso_prom}")
            input#datostiem_prom.hidden(type="text" value="#{datostiem_prom}")
            input#datostiem_min.hidden(type="text" value="#{datostiem_min}")
            input#datostiem_max.hidden(type="text" value="#{datostiem_max}")
            input#datoscons_ant.hidden(type="text" value="#{datoscons_ant}")
            input#datoscons_musc.hidden(type="text" value="#{datoscons_musc }")
            canvas#patologicosChart
            
        // Datos bacteriología
        .col-lg-6.chart-container(style="position: relative; height:100%;")
            h5.text-center 
                b Bacteriología
            input.hidden#fechasB(type="text" value="#{ fechasB }")
            input.hidden#datosagua_ca(type="text" value="#{ datosagua_ca }")
            input.hidden#datosagua_cv(type="text" value="#{ datosagua_cv }")
            input.hidden#datosmac_larva_ca(type="text" value="#{ datosmac_larva_ca }")
            input.hidden#datosmac_larva_cv(type="text" value="#{ datosmac_larva_cv }")
            input.hidden#datoshepato_ca(type="text" value="#{ datoshepato_ca }")
            input.hidden#datoshepato_cv(type="text" value="#{ datoshepato_cv }")
            canvas#bacteChart
    .row
        .col-lg-12.col-md-12.col-xs-12
            // Datos Fitoplancton
            .col-lg-6.chart-container(style="position: relative; height: 100%;")
                h5.text-center 
                    b Fitoplancton
                input#fechasF.hidden(type="text" value="#{ fechasF }")
                input#datosdiatomeas.hidden(type="text" value="#{ datosdiatomeas }")
                input#datoscianofitas.hidden(type="text" value="#{ datoscianofitas }")
                input#datosclorofitas.hidden(type="text" value="#{ datosclorofitas }")
                input#datosdinoflagelados.hidden(type="text" value="#{ datosdinoflagelados }")
                input#datosflagelados.hidden(type="text" value="#{ datosflagelados }")
                input#datostotal_cel_ml.hidden(type="text" value="#{ datostotal_cel_ml }")
                canvas#fitoChart
            // Datos Zooplancton
            .col-lg-6.chart-container(style="position: relative; height: 100%;")
                h5.text-center 
                    b Zooplancton
                input#fechasZ.hidden(type="text" value="#{ fechasZ }")
                input#datosnauplios.hidden(type="text" value="#{ datosnauplios }")
                input#datoscopepodos.hidden(type="text" value="#{ datoscopepodos }")
                input#datosrutiferos.hidden(type="text" value="#{ datosrutiferos }")
                input#datospoliquetos.hidden(type="text" value="#{ datospoliquetos }")
                input#datosotros.hidden(type="text" value="#{ datosotros }")
                input#datostotal_organismos.hidden(type="text" value="#{ datostotal_organismos }")
                canvas#zooChart
    .row
        .col-lg-6.chart-container(style="position: relative; height: 100%;")
            h5.text-center 
                    b Nutrientes y Metabolitos Diario
            input#fechasND.hidden(type="text" value="#{ fechasND }")
            input#datosamoniaD.hidden(type="text" value="#{ datosamoniaD }")
            input#datosalcalinidad_CaCO3.hidden(type="text" value="#{ datosalcalinidad_CaCO3 }")
            input#datosalcalinidad_HCO3.hidden(type="text" value="#{ datosalcalinidad_HCO3 }")
            input#datosalcalinidad_CO3.hidden(type="text" value="#{ datosalcalinidad_CO3 }")
            input#datosnitrito_N.hidden(type="text" value="#{ datosnitrito_N }")
            input#datosnitrito_NO3.hidden(type="text" value="#{ datosnitrito_NO3 }")
            input#datosTAN.hidden(type="text" value="#{ datosTAN }")
            canvas#NutDChart
        .col-lg-6.chart-container(style="position: relative; height: 100%;")
            h5.text-center 
                    b Nutrientes y Metabolitos Semanal
            input.hidden#fechasNS(type="text" value="#{fechasNS}")
            input.hidden#datosamonia(type="text" value="#{datosamonia}")
            input.hidden#datosnitrito_N(type="text" value="#{datosnitrito_N}")
            input.hidden#datosnitrito_NO3(type="text" value="#{datosnitrito_NO3}")
            input.hidden#datosalcalinidad_CaCO3(type="text" value="#{datosalcalinidad_CaCO3}")
            input.hidden#datosalcalinidad_HCO3(type="text" value="#{datosalcalinidad_HCO3}")
            input.hidden#datosalcalinidad_CO3(type="text" value="#{datosalcalinidad_CO3}")
            input.hidden#datosdureza(type="text" value="#{datosdureza}")
            input.hidden#datosdureza_CaCO3(type="text" value="#{datosdureza_CaCO3}")
            input.hidden#datosdureza_Ca(type="text" value="#{datosdureza_Ca}")
            input.hidden#datossilice_SiO2(type="text" value="#{datossilice_SiO2}")
            input.hidden#datossilice_Si(type="text" value="#{datossilice_Si}")
            input.hidden#datosnitrato_N(type="text" value="#{datosnitrato_N}")
            input.hidden#datosnitrato_NO3(type="text" value="#{datosnitrato_NO3}")
            input.hidden#datosfosfato_PO4(type="text" value="#{datosfosfato_PO4}")
            input.hidden#datosfosfato_P(type="text" value="#{datosfosfato_P}")
            input.hidden#datospotasio(type="text" value="#{datospotasio}")
            input.hidden#datosmagnecio_Mg(type="text" value="#{datosmagnecio_Mg}")
            input.hidden#datosmagnecio_CaCO3(type="text" value="#{datosmagnecio_CaCO3}")
            input.hidden#datosbalance_Ca(type="text" value="#{datosbalance_Ca}")
            input.hidden#datosbalance_Mg(type="text" value="#{datosbalance_Mg}")
            input.hidden#datosbalance_K(type="text" value="#{datosbalance_K}")
            canvas#NutSChart

