extends ../../../layouts/layout.jade
block contenido
    script.
        $(document).ready( function(){
            $('[data-toggle="tooltip"]').tooltip();
            $('#subMenuAdministracion').removeClass('hidden');
            $('#spanMenuAdministracion').removeClass('fa-angle-left');
            $('#spanMenuAdministracion').addClass('fa-angle-down'); 
            
            $('#subMenuAdmPlanta').removeClass('hidden');
            $('#spanMenuAdmPlanta').removeClass('fa-angle-left');
            $('#spanMenuAdmPlanta').addClass('fa-angle-down');     

            $('#subMenuInventarioCam').removeClass('hidden');
            $('#spanMenuInventarioCam').removeClass('fa-angle-left');
            $('#spanMenuInventarioCam').addClass('fa-angle-down');

            if($('#url').text() != ''){
                url = '../../../../../'+ $('#url').text();
                window.open(url, 'Download');
                $('#url').text('');
            }

             $('#tipos').on('change', function(){
                if(this.value == 1){
                    $('#criteriosValores').removeClass('hidden');
                }
            });

            $('#criterio').on('change', function(){
                if (this.value == 1 || this.value == 2 || this.value == 3 || this.value == 4 || this.value == 7 || this.value == 8 || this.value == 9 || this.value == 10){
                    $('#inputs').removeClass('hidden');
                    $('#fechas').addClass('hidden');
                    $('#combos').addClass('hidden');
                    $('#input').attr('required', true);
                    $('#fecha').attr('required', false);
                    $('#combo').attr('required', false);
                    $('#labelInputs').text("| " + $('#criterio option:selected').html());
                }  else if( this.value == 5 || this.value == 6){
                    $('#inputs').addClass('hidden');
                    $('#fechas').addClass('hidden');
                    $('#combos').removeClass('hidden');
                    $('#input').attr('required', false);
                    $('#fecha').attr('required', false);
                    $('#combo').attr('required', true);
                    $('#labelCombos').text("| " + $('#criterio option:selected').html());
                    $('#combo').empty();
                    if(this.value == 5){
                        datosCombo($('#tallas').text());
                    } else {
                        datosCombo($('#presentaciones').text());
                    }
                } else if( this.value == 11 ){
                    $('#inputs').addClass('hidden');
                    $('#fechas').removeClass('hidden');
                    $('#combos').addClass('hidden');
                    $('#input').attr('required', false);
                    $('#fecha').attr('required', true);
                    $('#combo').attr('required', false);
                }

                $('#btnGenerar').removeClass('hidden');
            });

            $('#inventarios').DataTable();
        });

        function reportes(){
            $('#headCriterios').removeClass('hidden');
            $('#criterios').removeClass('hidden');
            $('#dividerCriterios').removeClass('hidden');
        }

        function datosCombo(lista){
            var obj = new Object();
            var arr = lista.split("},");

            $("#combo").append(
                new Option(
                    "<< Seleccione >>", 
                    "0"
                )
            );

            for(var i = 0; i < arr.length; i ++){
                var aObj = arr[i].replace(/"/g, '').replace(/}]/g,'');
                $("#combo").append(
                    new Option(
                        aObj.split(",")[0].split(":")[1], 
                        aObj.split(",")[0].split(":")[1]
                    )
                );
            }
        }
    .row(style="margin-bottom: -5px;")
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
            h2
                i.fas.fa-box-open(style="margin-right: 10px;")
                |   Inventario de Camarón
        .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-right(style="margin-top: 25px;") 
            a.btn.btn-special(href="/inventarioscamaron/entrada", style="margin-right: 5px;")
                i.fas.fa-sign-in-alt
                |   Entrada
            if user.permisos == "almacen_camaron" || user.permisos == "developer"
                a.btn.btn-special(href="/inventarioscamaron/salida", style="margin-right: 5px;")
                    i.fas.fa-sign-out-alt
                    |   Salida 
            a.btn.btn-special(href="javascript:reportes();")
                    i.fas.fa-file-pdf
                    |   Reportes
    .divider
    .row
        label#url.hidden #{url}
        form(role="form" method="post" action="/inventarioscamaron/reporte")
        label#tallas.hidden #{tallas}
        label#presentaciones.hidden #{presentaciones}
        .row#headCriterios.hidden(style="margin-top: -165px;")
            .col-lg-12
                h4.page-header
                    i.fas.fa-bars(style="margin-right: 10px;")
                    | Criterios del Reporte
        .row#criterios.hidden
            .col-lg-3
                .form-group
                    label | Tipo
                    .input-group
                        span.input-group-addon
                            i.fas.fa-search
                        select#tipos.form-control(tabindex="1" value="")
                            option(value="0") << Seleccione >>
                            option(value="1") Inventarios
            .col-lg-3#criteriosValores.hidden
                .form-group
                    label | Criterio
                    .input-group
                        span.input-group-addon
                            i.fas.fa-search-plus
                        select#criterio.form-control(name="criterio" tabindex="2")
                            option(value="0") << Seleccione >>
                            option(value=1) Remitente
                            option(value=2) Destinatario
                            option(value=3) Almacén
                            option(value=4) Bodega
                            option(value=5) Tarima
                            option(value=6) Talla
                            option(value=7) Presentación
                            option(value=8) Lote de Producción
                            option(value=9) Código Producto
                            option(value=10) Cantidad Master
                            option(value=11) Peso Master
                            option(value=12) Fecha
            .col-lg-4#fechas.hidden
                .form-group
                    label | Fecha 
                    .input-group
                        span.input-group-addon
                            i.fas.fa-calendar
                        input#fecha.form-control(type="date" name="fecha" tabindex="3")
            .col-lg-4#combos.hidden
                .form-group
                    label#labelCombos 
                    .input-group
                        span.input-group-addon
                            i.fab.fa-searchengin
                        select#combo.form-control(name="combo" tabindex="3")
                            option(value="0") << Seleccione >>
            .col-lg-4.hidden#inputs
                .form-group
                    label#labelInputs 
                    .input-group
                        span.input-group-addon
                            i.fas.fa-asterisk
                        input#input.form-control(type="text" name="input" tabindex="3")
            .col-lg-2#btnGenerar.btn-group.pull-right.hidden(style="margin-top: 25px;")
                .form-group
                    .input-group
                        span.input-group-addon.text-danger
                            i.fas.fa-file-pdf.text-danger
                        input(type="submit" value="Generar").btn.btn-danger.form-control
        .divider#dividerCriterios.hidden(style="margin-bottom: 20px;")
    .row
        table#inventarios.table.table-striped.table-hover
            thead
                th Talla
                th Presentación
                th Cantidad Master
                th Almacén
                th Total Kgs
                th Total Lbs
                th Acciones
            tbody
                each tp in tiposCamaron
                    tr(scope="row")
                        td #{ tp.talla }
                        td #{ tp.presentacion }
                        td #{ tp.cantidadMaster }
                        td #{ tp.almacen }
                        td #{ parseFloat(tp.totalKgs).toFixed(2) }
                        td #{ (tp.totalKgs * 2.20462).toFixed(2) }
                        td
                            a.disabled(href="#", data-toggle="tooltip", data-placement="top", title="Ver detalles", style="margin-right: 10px;")
                                i.fas.fa-eye.text-default.fa-lg
                            if user.usuario == 'alabarrera' || user.permisos == 'developer'
                                a(href="/tiposcamaron/editarInv/#{tp.id}", data-toggle="tooltip", data-placement="top", title="Editar", style="margin-right: 10px; color: #057e95;")
                                        i.fas.fa-pencil-alt.fa-lg