extends ../layouts/layout.jade
block contenido
    style.
    script.
        $(document).ready( function() { 
            $('#subMenuParametros').removeClass('hidden');
            $('#spanMenuParametros').removeClass('fa-angle-left');
            $('#spanMenuParametros').addClass('fa-angle-down');
            $('#mediciones').dataTable();

            if($('#url').text() != ''){
                url = '../../reports/parametros/'+ $('#url').text();
                window.open(url, 'Download');
                $('#url').text('');
            }
        });
        //Termina Javascript

    .row(style="margin-bottom: -5px;")
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
            h2
                i.fas.fa-eye-dropper(style="margin-right: 10px;")
                |   Parámetros
        .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-right(style="margin-top: 25px;")
            a.btn.btn-special(href="/parametros/new", style="margin-right: 5px;")
                i.fas.fa-plus-circle
                |   Nuevo
            if user.permisos != "usuario"
                a.btn.btn-special(href="#reports" data-toggle="modal" data-target="#reports" style="margin-right: 5px;")
                    i.fas.fa-file-pdf
                    |   Reportes
    .divider
    label#url.hidden #{url}
    .row
        .table-responsive   
            table#mediciones.table.table-striped.table-hover
                thead
                    th Est.
                    th Oxigeno (mg/L)
                    th pH
                    th Salinidad (ppm)
                    th Temperatura (°C)
                    th Nivel Agua
                    th Fecha
                    th Hora
                    th Tiempo
                    th Parametrista
                    th Acciones
                tbody
                    each med in mediciones
                        tr
                            td #{ med.estanque.codigo }
                            if med.oxigeno < 4 
                                td.text-danger
                                    i.fas.fa-exclamation-circle.text-danger &nbsp;
                                    b #{ parseFloat(med.oxigeno).toFixed(2) }
                            else
                                td #{ parseFloat(med.oxigeno).toFixed(2) }
                            if med.ph < 7
                                td.text-danger
                                    i.fas.fa-exclamation-circle.text-danger &nbsp;
                                    b #{ parseFloat(med.ph).toFixed(2) }
                            else
                                td #{ parseFloat(med.ph).toFixed(2) }
                            td #{ parseFloat(med.salinidad).toFixed(2) }
                            td #{ parseFloat(med.temperatura).toFixed(2) }
                            td #{ parseFloat(med.nivel_agua).toFixed(2) }
                            if (new Date(ord.fecha).getMonth() + 1) < 10
                                if (new Date(ord.fecha).getDate()) < 10
                                    td.text-center #{ '0' + new Date(ord.fecha).getDate()+ '/0' + (new Date(ord.fecha).getMonth() + 1)+ '/' + new Date(ord.fecha).getFullYear()}
                                else         
                                    td.text-center #{ new Date(ord.fecha).getDate()+ '/0' + (new Date(ord.fecha).getMonth() + 1)+ '/' + new Date(ord.fecha).getFullYear()}
                            else
                                if (new Date(ord.fecha).getDate()) < 10
                                    td.text-center #{ '0' + new Date(ord.fecha).getDate()+ '/' + (new Date(ord.fecha).getMonth() + 1)+ '/' + new Date(ord.fecha).getFullYear()}
                                else 
                                    td.text-center #{ new Date(ord.fecha).getDate()+ '/' + (new Date(ord.fecha).getMonth() + 1)+ '/' + new Date(ord.fecha).getFullYear()}
                            td #{ med.hora }
                            td #{ med.tiempo }
                            td #{ med.parametrista.nombre }
                            td
                                a(href="/parametros/edit/#{med.id}", data-toggle="tooltip", data-placement="top", title="Editar", style="margin-right: 5px; color: #057e95;")
                                    i.fas.fa-pencil-alt.fa-lg
                                a(href="/parametros/delete/#{med.id}", data-toggle="tooltip", data-placement="top", title="Eliminar", style="margin-right: 5px;")
                                    i.fas.fa-minus-circle.fa-lg.text-danger
                                
