extends ../layouts/layout.jade
block contenido
    style.
    script.
        $(document).ready( function() { 
            $('#subMenuParametros').removeClass('hidden');
            $('#spanMenuParametros').removeClass('fa-angle-left');
            $('#spanMenuParametros').addClass('fa-angle-down');
            $('#mediciones').dataTable(
                {"fecha": [[ 0, "asc" ]]}
            );

            if($('#url').text() != ''){
                url = '../../reports/parametros/'+ $('#url').text();
                console.log(url);
                window.open(url, 'Download');
                $('#url').text('');
            }

            $('[data-toggle="tooltip"]').tooltip();
        });
    //Termina Javascript

    // Inputs funcionamiento
    label#url.hidden #{url}
    
    // Título
    section.mb-4
        .card
            .card-body.d-flex.justify-content-between
                h4.h4-responsive.mt-3
                    i.fas.fa-eye-dropper
                    |   Parámetros
                div
                    a(href="/parametros/new" style="margin-right: 5px;").btn.btn-success
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Nuevo producto").fas.fa-plus-circle
                    a(href="#reports" data-toggle="modal" data-target="#reports").btn.btn-danger
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Reportes").fas.fa-file-pdf
   
    // Datos
    section.mb-4
        .card
            .table-responsive(style="margin-top: 10px;") 
                table#mediciones.table.table-striped.table-hover
                    thead
                        th.text-center
                                i(style="color: gray;").fas.fa-cog
                        th Pis.
                        th Oxigeno (mg/L)
                        th pH
                        th Salinidad (ppm)
                        th Temperatura (°C)
                        th Nivel Agua
                        th Turbidez
                        th Fecha
                        th Hora
                        th Tiempo
                        th Parametrista
                    tbody
                        each med in mediciones
                            tr  
                                td
                                    .d-flex
                                        a(href="/parametros/edit/#{med.id}", data-toggle="tooltip", data-placement="top", title="Editar", style="margin-right: 5px; color: #FFF;").btn.btn-primary.btn-small
                                            i.fas.fa-pencil-alt.fa-2x
                                        a(href="/parametros/delete/#{med.id}", data-toggle="tooltip", data-placement="top", title="Eliminar", style="margin-right: 5px;").btn.btn-danger.btn-small
                                            i.fas.fa-minus-circle.fa-2x
                                td #{ med.estanque.codigo }
                                if med.oxigeno < 4 
                                    td.text-danger
                                        i.fas.fa-exclamation-circle.text-danger &nbsp;
                                        b #{ parseFloat(med.oxigeno).toFixed(2) }
                                else
                                    td #{ parseFloat(med.oxigeno).toFixed(2) }
                                if med.ph < 7
                                    td.text-danger
                                        i.fas.fa-exclamation-circle.text-danger &nbsp;
                                        b #{ parseFloat(med.ph).toFixed(2) }
                                else
                                    td #{ parseFloat(med.ph).toFixed(2) }
                                td #{ med.salinidad == "" ? "" : parseFloat(med.salinidad).toFixed(2) }
                                td #{ parseFloat(med.temperatura).toFixed(2) }
                                td #{ med.nivel_agua == "" ? "" : parseFloat(med.nivel_agua).toFixed(2) }
                                td #{ med.turbidez == "" ? "" : parseFloat(med.turbidez).toFixed(2) }

                                - var date = new Date(med.fecha);
                                - date.setDate(date.getDate() + 1);
                                - var day = date.getDate() > 9 ? date.getDate() : '0' + date.getDate();
                                - var month = (date.getMonth() + 1) > 9 ? (date.getMonth() + 1) : '0' + (date.getMonth() + 1);
                                td #{  day + '/' + month + '/' + date.getFullYear() }

                                td  #{ med.hora }
                                td  #{ med.tiempo }
                                td  #{ med.parametrista.nombre }
                            