extends ../layouts/layout.jade
block contenido
    style.
        .round {
            border-radius: 5px !important;
            -moz-border-radius: 5px !important;
            -webkit-border-radius: 5px !important;
        }
        thead {
            background-color: black;
            color: #fff;
        } 

        ul {
            padding: 0;
            list-style-type: none;
        }

        .center-middle {
           margin-top: 13px;
        }

        .margin-div {
            margin-right: 5px;
        }

         .btn-small {
            font-size: 0.5rem;
        }

        .input-group-addon {
            background-color: #dd7206; 
            border: 2px;
        }

        .fa-input {
            color: #fff;
        }

        a.btn {
            border: 0;
            border-radius: 2px;
        }

        hr {
            margin-top: -5px;
            margin-bottom: 5px;
            border: 1px solid #2d6e99;
        }

        .margin-div2 {
            margin-right: 10px;
        }
    script.
        var hora;
        var cambiar_tiempo = true;
        var cambiar_fecha = false;

        $(document).ready( function(){
            obtenerFecha();
            obtenerHora(); 

            $('#subMenuParametros').removeClass('hidden');
            $('#spanMenuParametros').removeClass('fa-angle-left');
            $('#spanMenuParametros').addClass('fa-angle-down');

            $('[data-toggle="tooltip"]').tooltip();
        });

        function obtenerFecha(){
            var fecha = new Date()
            var dia = fecha.getDate();
            var mes = fecha.getMonth()+1;
            var anio = fecha.getFullYear();

            if(dia < 10){
                dia = "0"+dia;
            }

            if(mes < 10){
                mes = "0"+mes;
            }

            $('#fecha').text(dia+"/"+mes+"/"+anio + " - ");
        }

        function obtenerHora(){
            var tiempo = new Date();
            var horas = tiempo.getHours();
            var minutos = tiempo.getMinutes();
            var segundos = tiempo.getSeconds();
            var dn ="";

            if (horas < 12) {
                if(cambiar_tiempo == true) {
                    $("#span_tiempo").text("AM");
                }
                dn = "a.m.";
            } else {
                if(cambiar_tiempo == true) {
                    $("#span_tiempo").text("PM");
                }
                dn = "p.m.";
            }

            if(minutos < 10){
                minutos = "0"+minutos;
            }

            if(segundos < 10){
                segundos = "0"+segundos;
            }
                
            hora = horas+":"+minutos+":"+segundos;
            $("#hora").text(horas+":"+minutos+":"+segundos+" "+dn+"    ");
            setTimeout('obtenerhora()',1000);
        }

        function actualizarParametro() {
            abrirLoader();

            $.post( "/parametros/update", {
                id: $("#id_param").val(),
                estanque: $("#est").val(),
                temperatura: $("input[name=temperatura]").val()  == "" ? 0 : $("input[name=temperatura]").val() ,
                oxigeno: $("input[name=oxigeno]").val() == "" ? 0 : $("input[name=oxigeno]").val(),
                nivel_agua: $("input[name=nivel_agua]").val() == null || $("input[name=nivel_agua]").val() == "" ? null : $("input[name=nivel_agua]").val(),
                salinidad: $("input[name=salinidad]").val() == null || $("input[name=salinidad]").val() == "" ? null : $("input[name=salinidad]").val(),
                ph: $("input[name=ph]").val() == "" ? 0 : $("input[name=ph]").val(),
                turbidez: $("input[name=turbidez]").val() == "" || $("input[name=turbidez]").val() == null ? null : $("input[name=turbidez]").val(),
                hora: hora,
                tiempo: $('#span_tiempo').text(),
                parametrista: $('#user').val(),
                fecha: $('#span_fecha').text(),
                anio: $('#span_anio').text()
            }, (data) => {
                //console.log(data);
                                
                // Mostrar notificación de guardado correcto 
                $('#alert').removeClass('warning');
                $('#alert').addClass('success');
                $('#alertDiv').removeClass('hidden');
                $('#msg1').text('Se ha realizado con ');
                $('#msg2').text('el registro de parámetros');
                $('#msg_alert').text('éxito ');
                $('#guardar').addClass('disabled');
            }, "json");

            $('#loader').addClass('hidden');

            cerrarLoader();
        }

        function asignarFecha(){
            cambiar_fecha = true;
        }
    
    // Inputs funcionamiento
    input#id_param.hidden(name="id" value="#{parametro.id}")
    input#est.hidden(name="estanque" value="#{parametro.estanque.id}")
    input#user.hidden(value="#{parametro.parametrista.id}")

    // Título
    section.mb-4
        .card
            .card-body.d-flex.justify-content-between
                h4.h4-responsive.mt-3
                    i.fas.fa-eye-dropper
                    |  Edición de parámetros
                div
                    a#guardar(href="javascript:actualizarParametro();").btn.btn-success.Ripple-parent.green-gradient
                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Realizar").fas.fa-save
    
    // Detalles
    section.mb-4
        .card
            .card-body
                .row
                    .col-md-6.col-lg-6.col-xs-6.text-left
                        h4.h4-responsive
                            small Módulo: 
                            br
                            strong
                                span#span_modulos.blue-text #{parametro.estanque.modulo.nombre}
                        h5.h5-responsive
                            small Piscina: 
                            br
                            strong
                                span#span_piscinas #{parametro.estanque.codigo}
                        h5.h5-responsive
                            small Fecha - Hora: 
                            br
                            strong
                                - var date = new Date(parametro.fecha);
                                - date.setDate(date.getDate() + 1);
                                span#span_fecha_hora #{date.toLocaleDateString("es-MX",{dateStyle: 'short'})} - #{parametro.hora}
                                span.hidden#span_fecha #{date.toLocaleDateString("es-MX",{dateStyle: 'short'})}
                                span.hidden#span_anio #{date.getFullYear()}
                    .col-md-6.col-lg-6.col-xs-6.text-right
                        h4.h4-responsive
                            small Fecha.
                            br
                            strong
                                if(user.permisos == 'developer')
                                    a(data-toggle="modal" href="#fechaModal" style="margin-right: 5px; margin-top: 2px;").btn.btn-primary.btn-small.blue-gradient
                                        i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Cambiar fecha").fas.fa-2x.fa-sync-alt
                                span#fecha.blue-text
                                span#hora.blue-text
                        h5.h5-responsive
                            small Captura para
                            br
                            strong
                                a(data-toggle="modal" href="#tiempoModal" style="margin-right: 5px; margin-top: 2px;" tabindex="7").btn.btn-primary.btn-small.blue-gradient
                                    i(style="color: white;" data-toggle="tooltip", data-placement="top", title="Cambiar tiempo").fas.fa-2x.fa-sync-alt
                                span#span_tiempo(style="margin-top: 5px;") #{parametro.tiempo}
                        h5.h5-responsive
                            small Estatus.
                            br
                            strong
                                span#span_estatus Guardado 
                        h5.h5-responsive
                            small Registrado por:
                            br
                            strong
                                span #{parametro.parametrista.nombre}     
    
    // Datos de captura                        
    section.mb-4
        .panel.panel-primary
            .panel-heading
                i.fas.fa-vial
            .panel-body
                .d-flex.justify-content-between
                    .form-group.margin-div
                        label | Temperatura (°C)
                        input.form-control(type="text" value="#{parametro.temperatura}" name="temperatura" placeholder="Temperatura" tabindex="1")
                    .form-group.margin-div
                        label | Oxigeno (mg/L)
                        input.form-control(type="text" value="#{parametro.oxigeno}" name="oxigeno" placeholder="Oxigeno" tabindex="2")
                    .form-group.margin-div
                        label | Nivel de Agua
                        input.form-control(type="text" value="#{parametro.nivel_agua}" name="nivel_agua" placeholder="Nivel agua" tabindex="3")
                    .form-group.margin-div
                        label | Salinidad
                        input.form-control(type="text" value="#{parametro.salinidad}" name="salinidad" placeholder="Salinidad" tabindex="4")
                    .form-group.margin-div
                        label | pH
                        input.form-control(type="text" value="#{parametro.ph}" name="ph" placeholder="pH" tabindex="5")
                    .form-group.margin-div
                        label | Turbidez
                        input.form-control(type="text" value="#{parametro.turbidez}" name="turbidez" placeholder="Turbidez" tabindex="6")

    // Modal Seleccionar tiempo
    #tiempoModal(class="modal")
        .modal-dialog(role="document")
            .modal-content
                .modal-header(style="font-size: 2em; margin: 0; color: #fff;").view.view-cascade.gradient-card-header.blue-gradient
                    .col-lg-12
                        i.fa.fas.fa-sync-alt(style="margin-right: 15px;")
                        label 
                            strong Seleccionar tiempo
                .modal-body()
                    .card
                        .card-body
                            .row
                                .col-lg-12
                                    .form-group
                                        label | Tiempo
                                        .input-group
                                            span.input-group-addon.blue-gradient
                                                i.fas.fa-hourglass-half.fa-input
                                            select#select_tiempo.form-control(required name="tiempo" tabindex="1" value="" onchange="asignarTiempo()")
                                                option(value="") << Seleccione >>
                                                option(value="AM") AM
                                                option(value="PM") PM

                .modal-footer
                    .text-right
                        .btn-group
                            a(data-dismiss="modal").btn.btn-default
                                i.fa.fas.fa-times-circle()
                                |   Cerrar

    // Modal seleccionar fecha
    #fechaModal(class="modal")
        .modal-dialog(role="document")
            .modal-content
                .modal-header(style="font-size: 2em; margin: 0; color: #fff;").view.view-cascade.gradient-card-header.blue-gradient
                    .col-lg-12
                        i.fa.fas.fa-sync-alt(style="margin-right: 15px;")
                        label 
                            strong Seleccionar tiempo
                .modal-body()
                    .card
                        .card-body
                            .row
                                .col-lg-12
                                    .form-group
                                        label | Tiempo
                                        .input-group
                                            span.input-group-addon.blue-gradient
                                                i.fas.fa-calendar(style="color: #fff;")
                                            input#fecha_new.form-control(type="date" name="fecha_new" tabindex="6" onblur="asignarFecha()")
                .modal-footer
                    .text-right
                        .btn-group
                            a(data-dismiss="modal").btn.btn-default
                                i.fa.fas.fa-times-circle()
                                |   Cerrar

               