extends ../../../../layouts/layout.jade
block contenido
    style.
        .labelSer {
            font-size: 2em; 
            background-color: black; 
            color: white; 
            border-radius: 8px;
        }
    script.
        var entradas = [];

        $(document).ready( function(){
            $('#subMenuAdministracion').removeClass('hidden');
            $('#spanMenuAdministracion').removeClass('fa-angle-left');
            $('#spanMenuAdministracion').addClass('fa-angle-down'); 
            
            $('#subMenuAdmPlanta').removeClass('hidden');
            $('#spanMenuAdmPlanta').removeClass('fa-angle-left');
            $('#spanMenuAdmPlanta').addClass('fa-angle-down');     

            $('#subMenuInventarioCam').removeClass('hidden');
            $('#spanMenuInventarioCam').removeClass('fa-angle-left');
            $('#spanMenuInventarioCam').addClass('fa-angle-down');
            
            convertirArray();

            /*if($('#url').text() != ''){
                url = '../../../../../'+ $('#url').text();
                window.open(url, 'Download');
                $('#url').text('');
            }*/

            $('#cmbTipoCamaron').on('change', function(){
                if(this.value == '<< Seleccione >>'){
                    $('#talla').val('');
                    $('#presentacion').val('');
                } else {
                    var text = $('#cmbTipoCamaron option:selected').html();
                    $('#talla').val(text.split(" - ")[0]);
                    $('#presentacion').val(text.split(" - ")[1]);
                }
            });

            $('#total_kgs').on('keyup', function(){
                var lbs;
                lbs = this.value * 2.20462;
                $('#total_lbs').val(lbs.toFixed(2));
            })

            obtenerfecha();
            obtenerhora();
            $('[data-toggle="tooltip"]').tooltip();

            $('#terminar').on('click', function(){
                $('#entradas').val(JSON.stringify(entradas));
                document.frm.submit(); 
            })
        });

        function obtenerfecha(){
            var fecha = new Date()
            var dia = fecha.getDate();
            var mes = fecha.getMonth()+1;
            var anio = fecha.getFullYear();

            if(dia < 10){
                dia = "0"+dia;
            }

            if(mes < 10){
                mes = "0"+mes;
            }

            $('#fecha').text(dia+"/"+mes+"/"+anio);
        }

        function obtenerhora(){
            var tiempo = new Date();
            var horas = tiempo.getHours();
            var minutos = tiempo.getMinutes();
            var segundos = tiempo.getSeconds();
            var dn ="";

            if(horas < 12){
                dn = "a.m.";
            }else{
                dn = "p.m.";
            }

            if(minutos < 10){
                minutos = "0"+minutos;
            }

            if(segundos < 10){
                segundos = "0"+segundos;
            }
                
            $("#hora").text(horas+":"+minutos+":"+segundos+" "+dn+"    ");
            setTimeout('obtenerhora()',1000);
        }

        function FormatMoney(bol, valor){
            var total = 0;

            if (bol) {
                total += valor;
            } else {
                total-=valor;
            }
            
            var entero = '';
            
            Entero_Decimal = total.toString().split('.');
            
            cadena = Entero_Decimal[0].split('').reverse().join('');
            
            for (var z = cadena.length; z >=0; z--) {
                numero = cadena.charAt(z)
                
                if ((cadena.length >= 4 && z ==3 ) || (cadena.length >= 7 && z ==6 ) || (cadena.length >= 10 && z == 9 ) || (cadena.length >= 13 && z ==12 ) || (cadena.length >= 16 && z ==15 )) {
                    numero +=  ",";
                }

                entero += numero;
            }
            
            if(Entero_Decimal[1]) {
                if( Entero_Decimal[1].length == 1){
                    decimales = '.'+ Entero_Decimal[1]+'0';
                } else {
                    decimales = '.'+ Entero_Decimal[1];
                }
                
            } else {
                decimales = '.00';
            }
            
            return "$ " + entero + decimales;
        }

        function registrarEntrada(){
            if($('#codigo_prod').val() == ''){
                $('#codigo_prod').val("-")
            }

            rowCount = $('#tblEntradas >tbody >tr').length;

            $('#tblEntradas > tbody:last').append(
                "<tr id='tr" + rowCount + "'>" +
                "   <td>" + $('#bod').val() + "</td> " +
                "   <td>" + $('#tarima').val() + "</td> " +
                "   <td>" + $('#codigo_prod').val() + "</td> " +
                "   <td>" + $('#lote_prod').val() + "</td> " +
                "   <td>" + $('#talla').val() + "</td> " +
                "   <td>" + $('#cantidad_master').val() + "</td> " +
                "   <td>" + $('#peso_master').val() + "</td> " +
                "   <td>" + $('#total_kgs').val() + "</td> " +
                "   <td>" + $('#total_lbs').val() + "</td> " +
                "   <td>" + $('#presentacion').val() + "</td> " +
                "   <td>"+
                "       <a id='" + rowCount + "' href='#', data-toggle='tooltip', data-placement='top', title='Eliminar' onclick='eliminarSalida(this.id)'> "+ 
                "          <i class='fas fa-minus-circle text-danger fa-lg'></i>" +
                "       </a>" +
                "</tr>"
            );

            entradas = new Object();

            entradas.tipoCamaron = tipo;
            entradas.bod = $('#bod').val();
            entradas.tarima = $('#tarima').val();
            entradas.codigo_prod = $('#codigo_prod').val();
            entradas.lote_prod = $('#lote_prod').val();
            entradas.talla = $('#talla').val();
            entradas.cantidad_master = $('#cantidad_master').val();
            entradas.peso_master = parseFloat($('#peso_master').val()).toFixed(2);
            entradas.total_kgs =  parseFloat($('#total_kgs').val()).toFixed(2);
            entradas.total_lbs = parseFloat($('#total_lbs').val()).toFixed(2);
            entradas.presentacion = $('#presentacion').val();

            entradas.push(entrada);

            $("#entradas").val(entradas);

            totales();

            $('#bod').val("");
            $('#tarima').val("");
            $('#codigo_prod').val("");
            $('#lote_prod').val("");
            $('#talla').val("");
            $('#cantidad_master').val("");
            $('#peso_master').val("");
            $('#total_kgs').val("");
            $('#presentacion').val("");
            $('#total_lbs').val("");
            $('#cmbTipoCamaron').val('0');
        }

        function eliminarEntrada(id){
            $("#tr"+id).remove();
            entradas.splice(id, 1);
            $("#entradas").val(entradas);
        }

        function convertirArray(){
            var obj = new Object();
            var arr = JSON.parse($('#entradas').val());

            alert(arr[1]);

            /*for(var i = 0; i < arr.length; i ++){
                var aObj = arr[i].replace(/'/g, '');

                obj.id = aObj.split(",")[0].split(":")[1];
                obj.nombre = aObj.split(",")[1].split(":")[1];
                obj.talla = aObj.split(",")[2].split(":")[1];
                obj.presentacion = aObj.split(",")[3].split(":")[1];
                obj.cantidadMaster = aObj.split(",")[4].split(":")[1];
                obj.pesoMaster = aObj.split(",")[5].split(":")[1];
                obj.totalKgs = aObj.split(",")[6].split(":")[1];

                entradas.push(obj);
                obj = new Object();

            }*/
        }

        function totales(){
            var sumaKgs  = 0;
            var sumaLbs = 0;
            var sumaMaster = 0;
            
            for(var i = 0; i < entradas.length; i++){
                console.log(entradas[i]);
                sumaKgs = parseFloat(sumaKgs) + parseFloat(entradas[i].total_kgs);
                sumaLbs = parseFloat(sumaLbs) + parseFloat(entradas[i].total_lbs);
                sumaMaster = parseFloat(sumaMaster) + parseFloat(entradas[i].cantidad_master);
            }

            $("#totalMaster").val(sumaMaster.toFixed(2));
            $("#totalKgs").val(sumaKgs.toFixed(2));
            $("#totalLbs").val(sumaLbs.toFixed(2));
        }
    //Termina Javascript
    .row
        .col-lg-12
            h2.page-header 
                i.fas.fa-sign-in-alt(style="margin-right: 10px;")
                |   Editar entrada
    .row
        .col-lg-6.pull-right.text-right
            span
                | Realiza: &nbsp;&nbsp;&nbsp;
            label
                i.fas.fa-user
                |  #{user.nombre}
        .col-lg-6.pull-left.text-left
            label#fecha(style="margin-right: 10px;")
            label#hora
    .row
        .col-lg-12
            h4.page-header
                i.fas.fa-truck-loading(style="margin-right: 10px;")
                | Datos Entrada
    //label#url.hidden #{url}
    form#frm(role="form" method="post" action="/inventarioscamaron/entrada/agregar")
        input#entradas.hidden(type="text" name="entradas" value="#{entrada.articulos}")
        .row
            .col-lg-4.pull-right
                .form-group
                    label | Código
                    .input-group
                        span.input-group-addon
                            i.fas.fa-hashtag
                        input.form-control(readonly type="text" name="codigo" value="#{codigo}")
        .row
            .col-lg-4
                .form-group
                    label | Remitente
                    .input-group
                        span.input-group-addon
                            i.fas.fa-share-square
                        input.form-control(required  type="text" name="remitente"  placeholder="Remitente" tabindex="1")
            .col-lg-4
                .form-group
                    label | Destinatario
                    .input-group
                        span.input-group-addon
                            i.fas.fa-share-square.fa-rotate-180
                        input.form-control(required  type="text" name="destinatario"  placeholder="Destinatario" tabindex="2")
            .col-lg-4
                .form-group
                    label | Referencia
                    .input-group
                        span.input-group-addon
                            i.fas.fa-hashtag
                        input.form-control(required  type="text" name="referencia"  placeholder="Referencia" tabindex="3")
        .row
            .col-lg-12
                .form-group
                    label | Observaciones
                    .input-group
                        span.input-group-addon
                            i.fas.fa-bars
                        input.form-control(type="text" name="observaciones"  placeholder="Observaciones" tabindex="4")
        .row
            .col-lg-12
                h4.page-header
                    i.fas.fa-info-circle(style="margin-right: 10px;")
                    | Detalles Entrada
        .row
            .col-lg-4
                .form-group
                    label | Bodega
                    .input-group
                        span.input-group-addon
                            i.fas.fa-hashtag
                        input.form-control(type="text" id="bod"  placeholder="Bodega" tabindex="5" onkeyup="javascript:this.value=this.value.toUpperCase();")
            .col-lg-4
                .form-group
                    label | # Tarima
                    .input-group
                        span.input-group-addon
                            i.fas.fa-hashtag
                        input.form-control(type="text" id="tarima"  placeholder="# Tarima" tabindex="6")
            .col-lg-4
                .form-group
                    label | Lote Producción
                    .input-group
                        span.input-group-addon
                            i.fas.fa-hashtag
                        input.form-control(type="text" id="lote_prod"  placeholder="Lote Producción" tabindex="7")
        .row    
            .col-lg-4
                .form-group
                    label | Tipo Camaron
                    .input-group
                        span.input-group-addon
                            i.fas.fa-fish
                        select.form-control(id="cmbTipoCamaron" tabindex="8")
                            option(value="0") << Seleccione >>
                            each tc in tipos
                                option(value=tc.id) #{tc.nombre}
            .col-lg-4
                .form-group
                    label | Talla
                    .input-group
                        span.input-group-addon
                            i.fas.fa-ruler-combined
                        input#talla.form-control(readonly type="text" placeholder="Talla")
            .col-lg-4
                .form-group
                    label | Presentación
                    .input-group
                        span.input-group-addon
                            i.fas.fa-inbox
                        input#presentacion.form-control(readonly type="text" placeholder="Presentación")  
        .row
            .col-lg-3
                .form-group
                    label | Código Producto
                    .input-group
                        span.input-group-addon
                            i.fas.fa-inbox
                        input.form-control(type="text" id="codigo_prod" placeholder="Código Producto" tabindex="10")
            .col-lg-3
                .form-group
                    label | Cantidad Master
                    .input-group
                        span.input-group-addon
                            i.fas.fa-hashtag
                        input.form-control(type="text" id="cantidad_master" placeholder="Cantidad Master" tabindex="11")
            .col-lg-2
                .form-group
                    label | Peso Master
                    .input-group
                        span.input-group-addon
                            i.fas.fa-weight-hanging
                        input.form-control(type="text" id="peso_master" placeholder="Peso Master" tabindex="12")
            .col-lg-2
                .form-group
                    label | Total Kgs
                    .input-group
                        span.input-group-addon
                            i.fas.fa-weight
                        input.form-control(type="text" id="total_kgs" placeholder="Total Kgs" tabindex="13")
            .col-lg-2
                .form-group
                    label | Total Lbs
                    .input-group
                        span.input-group-addon
                            i.fas.fa-weight
                        input.form-control(readonly type="text" id="total_lbs" placeholder="Total Lbs")      
        .divider
        .row
            .col-lg-2.pull-right(style="margin-left: -25px;")
                .form-group
                    .input-group
                        span.input-group-addon
                            i.fas.fa-save.text-success
                        input.btn.btn-success.form-control(type="button" value="Registrar" tabindex="14" onclick="registrarEntrada()")
        .row
            .col-lg-12
                h4.page-header
                    i.fas.fa-list-alt(style="margin-right: 10px;")
                    | Tipos en Entrada
        .row
            .col-lg-12
                table#tblEntradas.table
                    thead 
                        th Bod 
                        th Tarima 
                        th Código Producto
                        th Lote Producción
                        th Talla 
                        th Cantidad Master 
                        th Peso Master 
                        th Total Kgs
                        th Total Lbs
                        th Presentacion               
                        th Acciones
                    tbody
        .divider
        .row
        .col-lg-4.pull-right  
                .form-group
                    label | Total Lbs
                        .input-group
                            span.input-group-addon
                                i.fas.fa-weight
                            input#totalLbs.form-control(readonly type="text" name="totalLbs" value="0" placeholder="Total Lbs" tabindex="17")  
            .col-lg-4.pull-right  
                .form-group
                    label | Total Kgs
                        .input-group
                            span.input-group-addon
                                i.fas.fa-weight
                            input#totalKgs.form-control(readonly type="text" name="totalKgs" value="0" placeholder="Total Kgs" tabindex="16")
            .col-lg-4.pull-right  
                .form-group
                    label | Total Master
                        .input-group
                            span.input-group-addon
                                i.fas.fa-hashtag
                            input#totalMaster.form-control(readonly type="text" name="totalMaster" value="0" placeholder="Total Master" tabindex="15")
        .divider
        .row(style="margin-bottom: 20px;")
            .col-lg-2.pull-right(style="margin-left: -25px;")
                .form-group
                    .input-group
                        span.input-group-addon
                            i.fas.fa-save.text-primary
                        a#terminar.btn.btn-primary.form-control(href="#" tabindex="17")
                            |   Terminar