extends ../../../../layouts/layout.jade
block contenido
    script.
        $(document).ready( function(){
            $('[data-toggle="tooltip"]').tooltip();
            $('#subMenuAdministracion').removeClass('hidden');
            $('#spanMenuAdministracion').removeClass('fa-angle-left');
            $('#spanMenuAdministracion').addClass('fa-angle-down'); 
            
            $('#subMenuAdmPlanta').removeClass('hidden');
            $('#spanMenuAdmPlanta').removeClass('fa-angle-left');
            $('#spanMenuAdmPlanta').addClass('fa-angle-down');     

            $('#subMenuInventarioCam').removeClass('hidden');
            $('#spanMenuInventarioCam').removeClass('fa-angle-left');
            $('#spanMenuInventarioCam').addClass('fa-angle-down');

            if($('#url').text() != ''){
                url = '../../../InventariosCamaron/Entradas/'+ $('#url').text();
                console.log(url);
                window.open(url, 'Download');
                $('#url').text('');
            }

            $('#orders').DataTable();
        });
    .row(style="margin-bottom: -5px;")
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
            h2
                i.fas.fa-sign-in-alt(style="margin-right: 10px;")
                |   Entradas de Camarón
        .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-right(style="margin-top: 25px;")
            a.btn.btn-special(href="/inventarioscamaron/entrada")
                i.fas.fa-sign-in-alt
                |   Entrada
    .divider
    .row
        label#url.hidden #{url}
        table#orders.table.table-striped.table-hover
            thead.thead-dark
                th Folio
                th Remitente
                th Destinatario
                th Referencia
                th Fecha
                th Total Master
                th Total Kgs
                th Total Lbs
                th Almacenista
                th Acciones
            tbody
                each e in entradas
                    tr(scope="row")
                        td #{ e.folio }
                        td #{ e.remitente }
                        td #{ e.destinatario }
                        td #{ e.referencia }
                        td #{ e.fecha + "-" + e.hora }
                        td #{ e.total_master }
                        td #{ e.total_kgs }
                        td #{ (e.total_kgs * 2.20462).toFixed(2) }
                        td #{ e.almacenista }
                        td
                            a.disabled(href="#", data-toggle="tooltip", data-placement="top", title="Ver detalles", style="margin-right: 10px;")
                                i.fas.fa-eye.text-default.fa-lg
                            a(href="/inventarioscamaron/entrada/editar/#{e.id}", data-toggle="tooltip", data-placement="top", title="Editar", style="margin-right: 5px; color: #057e95;")
                                i.fas.fa-pencil-alt.fa-lg
                            a(href="/inventarioscamaron/entrada/terminar/#{e.id}", data-toggle="tooltip", data-placement="top", title="Generar PDF", style="margin-left: 5px; color: #cf394f;")
                                i.fas.fa-file-pdf.fa-lg